<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Добавить новость</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header__site-link">Перейти на сайт</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/avatar_m.jpg" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Рудковский А. М.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
      <section class="add-news page__section">
        <!-- <ul class="breadcrumbs page__breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Организации</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Регионы</a>
          </li>
          <li class="breadcrumbs__item">
            <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
          </li>
        </ul> -->
      
        <h1 class="section-title mb-50">Добавить новость</h1>
        <form class="add-news__wrapper form">
            <div class="add-news__row">
				<div class="profile_tabs-form__line form__item">
					<label for="reportsEducational" class="form__label">Тип новости</label>
					<select name="reportsEducational" class="two">
						<option value="1" selected>Выберите тип новости</option>
						<option value="2">Пункт №2</option>
						<option value="3">Пункт №3</option>
						<option value="4">Пункт №4</option>
					</select>
				</div>
              
                <div class="add-news__line form__item">
                  <label for="addNewsTheme" class="add-news__caption form__label">Тема статьи</label>
                <textarea
                  id="addNewsTheme"
                  class="form__input-edit form__input-edit_textarea"
                  placeholder="Подходит срок заполнения формы №3456 за 30 (тридцать) календарных дней">             
                </textarea> 
              </div>
                <div class="add-news__line form__item">
                  <label for="addNewsFale" class="add-news__caption form__label">Фото превью
                  <input
                  type="file"
                  class="form__input-edit  add-news__form_fale-hide"
                  id="addNewsFale"                  
                  >
                  <div class="add-news__fale-visiabl"></div>
                </label>
                </div>
                <div class="add-news__line form__item">
                    <label for="addNewsDate" class="add-news__caption form__label">Дата публикации</label>
                    <input
                  type="date"
                  class="form__input-edit  add-news__form_date"
                  id="addNewsDate"
                  placeholder="31.10.2020"
                >
                </div>
                <div class="add-news__line form__item">
                    <label for="addNewsText" class="add-news__caption form__label">Текст статьи </label>
                   <textarea
                    name="Текст статьи"
                    id="addNewsText"
                     class="form__input-edit form__input-edit_width_textarea">
                    </textarea>
                </div>
                <div class="add-news__line form__item form__item-line_add_news">
                    <div class="form__item-left">
                        <label for="addNewsTags" class="add-news__caption form__label">Категория</label>
                        
                    </div>
                    <div class="form__item-tags">
                        <input
                        type="text"
                        class="form__input-edit"
                        id="addNewsTags"
                        placeholder="Введите категорию и нажмите Enter"
                        >
                        <ul class="tags tags_direct_row news-detail__categories">
                            <li class="tags__item">
                                Сахалин
                              <a href="#"> <img src="images/close_tags.svg" alt="svg_close"></a>
                            </li>
                            <li class="tags__item">
                                Система ДПО
                              <a href="#"> <img src="images/close_tags.svg" alt="svg_close"></a>
                            </li>
                            
                          </ul>
                    </div>
                </div>
                <div class="add-news__line form__item">
                    <button type="submit" class="button button_theme_green button_border_small form__submit">Опубликовать</button>
                </div>
        </form>
      </section>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
