<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>новый слушатель</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header__site-link header-link">Перейти на сайт</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/user-ava.png" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Рудковский А. М.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
        <main class="new-listeners content content_cabinet">
            <section class="form-detail page__section">
              <ul class="breadcrumbs page__breadcrumbs">
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link">Формы</a>
                </li>
                <li class="breadcrumbs__item">
                  <span href="#" class="breadcrumbs__link breadcrumbs__link_current">добавить слушателя</span>
                </li>
              </ul>
              <div class="form-detail__top">
                  <h1 class="section-title">Иро Сахалинской области</h1>
                  <button type="submit" class="button button_theme_green button_border_small">Загрузить .CSV</button>
              </div>
             
              <div class="form-detail__wrapper wrapper-max_width-m">
                <form class="new-listeners__body width_m from">
                    <div class="new-listeners__block block_white">
						<div class="new-listeners_tabs-form__line form__item">
							<label for="newListenersSnils" class="form__label">СНИЛС</label>
							<input
							type="text"
							class="spollers-body__input form-input__border"
							id="newListenersSnils"
							placeholder="445-666-555 00"
						>
						<span class="form__label-three">В формате XXX-XXX-XXX YY</span>
						</div>
                    </div>
                    <div class="new-listeners__block block_white">
                      <div class="new-listeners_tabs-form__line form__item">
                          <div class="form__item-block">
                            <label for="newListenersEditFullname" class="form__label">Субъект ДПО</label>
                            <select name="form[]" class="select_three">
                                <option value="1" selected>Прикамский институт безопасности</option>
                                <option value="2">Пункт №2</option>
                                <option value="3">Пункт №3</option>
                                <option value="4">Пункт №4</option>
                            </select>
                          </div>
                       
                      <span class="form__label-three">Выбрать в выпадающем списке</span>
                      </div>
                    </div>
                    <div class="new-listeners__block block_white">
                        <div class="new-listeners_tabs-form__line form__item">
                            <div class="form__item-block">
                              <label for="newListenersEditFullname" class="form__label">Тип населенного пункта</label>
                              <select name="form[]" class="select_three">
                                  <option value="1" selected>Город</option>
                                  <option value="2">Пункт №2</option>
                                  <option value="3">Пункт №3</option>
                                  <option value="4">Пункт №4</option>
                              </select>
                            </div>
                         
                        <span class="form__label-three">Выбрать в выпадающем списке</span>
                        </div>
                    </div>
                    <div class="new-listeners__block block_white">
                        <div class="new-listeners_tabs-form__line form__item">
                            <div class="form__item-block">
                              <label for="newListenersEditFullname" class="form__label">Населенный пункт</label>
                              <select name="form[]" class="select_three">
                                  <option value="1" selected>Москва</option>
                                  <option value="2">Пункт №2</option>
                                  <option value="3">Пункт №3</option>
                                  <option value="4">Пункт №4</option>
                              </select>
                            </div>
                         
                        <span class="form__label-three">Выбрать в выпадающем списке</span>
                        </div>
                    </div>
                    <div class="new-listeners__block block_white">
                        <div class="new-listeners_tabs-form__line form__item">
                            <div class="form__item-block">
                              <label for="newListenersEditFullname" class="form__label">Уровень образования</label>
                              <select name="form[]" class="select_three">
                                  <option value="1" selected>Дополнительное образование</option>
                                  <option value="2">Пункт №2</option>
                                  <option value="3">Пункт №3</option>
                                  <option value="4">Пункт №4</option>
                              </select>
                            </div>
                         
                        <span class="form__label-three">Выбрать в выпадающем списке</span>
                        </div>
                    </div>
                    <div class="new-listeners__block block_white">
                        <div class="new-listeners_tabs-form__line form__item">
                            <div class="form__item-block">
                              <label for="newListenersEditFullname" class="form__label">Должность</label>
                              <select name="form[]" class="select_three">
                                  <option value="1" selected>Педагогический работник</option>
                                  <option value="2">Пункт №2</option>
                                  <option value="3">Пункт №3</option>
                                  <option value="4">Пункт №4</option>
                              </select>
                            </div>
                         
                        <span class="form__label-three">Выбрать в выпадающем списке</span>
                        </div>
                    </div>
                 </form>
                 <div class="new-listeners__btn">
                    <button type="submit" class="button button_theme_green--empty button_border_small form__submit">Закрыть</button>
                  <button type="submit" class="button button_theme_green button_border_small form__submit">Добавить слушателя</button>
                 </div>
            </div>
            </section>
          </main>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
