<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="./css/media.css">
  <title>АВТОРИЗАЦИЯ</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner">
      <button class="header__menu-burger-toogle"></button>
      <div class="header__column">
        <a href="/" class="logo"></a>
      </div>
      <div class="header__column header__column_el_contacts">
        <p class="header__phone-text">Телефон горячей линии</p>
        <a href="tel:88005006070" class="header__phone-number">8 (800) 500-60-70</ф>
      </div>
      <div class="header__column header__column_el_auth">
        <a href="#" class="button button_theme_green-invert button_border_rounded">Вход для педагогов</a>
      </div>
    </div>
    <!-- открытое меню: .burger-menu.burger-menu_opened -->
    <div class="burger-menu">
      <div class="burger-menu__header">
        <a href="/" class="logo logo_type_white"></a>
        <button class="burger-menu__close-btn"></button>
      </div>
      <nav class="burger-menu__links">
        <a href="#" class="burger-menu__link">Регионы</a>
        <a href="#" class="burger-menu__link">Новости</a>
        <a href="#" class="burger-menu__link">Техническая поддержка</a>
      </nav>
      <div class="burger-menu__mobile-area">
        <a href="#" class="button button_theme_green-invert button_border_rounded">Вход для педагогов</a>
        <a href="#" class="button button_theme_white-invert button_border_rounded">Служебный раздел</a>
      </div>
    </div>
  </header>

  <main class="content content_theme_ornament">
    <section class="auth">
      <h1 class="section-title section-title_text-align_center">Авторизация</h1>
      <form class="form form_type_auth form-width-xs form_centered auth__form">
        <fieldset class="form__fieldset">
          <div class="form__item">
            <label for="auth-login" class="form__label">Имя пользователя</label>
            <input
              type="text"
              name="auth-login"
              class="form__input-edit form__input-edit_el_auth-login input _req"
              id="auth-login"
            >
            <div class="form__error">Введите имя</div>
          </div>
          <div class="form__item">
            <label for="auth-password" class="form__label">Пароль</label>
            <input
              type="password"
              name="auth-password"
              class="form__input-edit form__input-edit_el_auth-password _req"
              id="auth-password input"
            >
            <div class="form__error">Введите пароль</div>
          </div>
        </fieldset>
        <fieldset class="form__fieldset form__fieldset_type_button-area">
          <button type="submit" class="button button_theme_green button_border_rounded form__submit">Авторизация</button>
        </fieldset>
        <div class="form__footer">
          <a href="#" class="form__oauth-link">Войти с помощью oauth 2.0</a>
          <p class="form__footer-text">
            Если возникли проблемы со входом обратитесь в <a href="#" class="form__footer-link">Службу поддержки</a>
          </p>
        </div>
      </form>
    </section>
  </main>

<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
  <script src="js/menuMain.min.js"></script>
  <script src="js/forms.min.js"></script>
</body>
</html>
