<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="./css/media.css">
  <title>АВТОРИЗАЦИЯ</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner">
      <button class="header__menu-burger-toogle"></button>
      <div class="header__column">
        <a href="/" class="logo"></a>
      </div>
      <div class="header__column header__column_el_contacts">
        <p class="header__phone-text">Телефон горячей линии</p>
        <a href="tel:88005006070" class="header__phone-number">8 (800) 500-60-70</ф>
      </div>
      <div class="header__column header__column_el_auth">
        <a href="#" class="button button_theme_green-invert button_border_rounded">Вход для педагогов</a>
      </div>
    </div>
    <!-- открытое меню: .burger-menu.burger-menu_opened -->
    <div class="burger-menu">
      <div class="burger-menu__header">
        <a href="/" class="logo logo_type_white"></a>
        <button class="burger-menu__close-btn"></button>
      </div>
      <nav class="burger-menu__links">
        <a href="#" class="burger-menu__link">Регионы</a>
        <a href="#" class="burger-menu__link">Новости</a>
        <a href="#" class="burger-menu__link">Техническая поддержка</a>
      </nav>
      <div class="burger-menu__mobile-area">
        <a href="#" class="button button_theme_green-invert button_border_rounded">Вход для педагогов</a>
        <a href="#" class="button button_theme_white-invert button_border_rounded">Служебный раздел</a>
      </div>
    </div>
  </header>

  <main class="content content_theme_ornament">
    <section class="auth auth--w">
      <div class="auth-icon">
        <svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M52.5001 30.175V32.5C52.4938 43.5717 45.2059 53.3205 34.5885 56.4597C23.9712 59.5989 12.5536 55.3807 6.52753 46.0926C0.501432 36.8045 1.3023 24.6591 8.49583 16.2426C15.6894 7.82623 27.5619 5.14378 37.6751 9.64996" stroke="#2FD385" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
          <path d="M55 10L27.5 37.5L20 30" stroke="#2FD385" stroke-width="4" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>          
      </div>
      <h1 class="section-title section-title_text-align_center">Ваше сообщение успешно отправлено</h1>                 
      <p class="form__footer-text form__footer-text--m">Ожидайте ответа на указанный вами e-mail в ближайшее время</p>      
      <fieldset class="form__fieldset form__fieldset_type_button-area">
        <button type="submit" class="button button_theme_green button_border_rounded form__submit">Перейти на главную</button>
      </fieldset>
    </section>
  </main>

<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
  <script src="js/menuMain.min.js"></script>
  <script src="js/forms.min.js"></script>
</body>
</html>
