<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>УВЕДОМЛЕНИЯ</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header-link header__site-link">Перейти на сайт</a>
        <a href="" class="header-link header__log-link">Техническая поддержка</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/avatar_t.jpg" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Самойлова А. О.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления">
            <span class="notification-count">2</span>
          </a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
      <section class="cabinet-notification page__section">
        <!-- <ul class="breadcrumbs page__breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Организации</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Регионы</a>
          </li>
          <li class="breadcrumbs__item">
            <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
          </li>
        </ul> -->
      
        <h1 class="section-title mb-50">уведомления (2)</h1>
        <div class="cabinet-notification__wrapper wrapper-max_width-m">
          <div class="cabinet-notification__body">
            <div class="cabinet-notification__left left-notification">
              <div class="left-notification__all">
                Все уведомления (1089)
              </div>
              <div class="left-notification__row">
                <div class="left-notification__line notification new">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification new">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification active">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
                <div class="left-notification__line notification">
                  <div class="notification__body">
                    <div class="notification__header">
                      <a href='#' class="notification__title">
                        30 дней до конца срока заполнения формы №3456 
                      </a>
                      <div class="notification__date">
                        20.10.2021
                      </div>
                    </div>
             
                    <div class="notification__text">
                      Сведения об организации дополнительного профессионального образования субъекта РФ
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="cabinet-notification__right right-notification">
              <div class="right-notification__body">
                <div class="right-notification__header">
                  <div class="right-notification__theme">
                    <span>Тема:</span> <strong>30 дней до конца срока заполнения формы №3456 </strong>
                  </div>
                  <div class="right-notification__date">
                    <span>Дата:</span> <p>20.10.2021 13:30</p>
                  </div>
                </div>
                <div class="right-notification__text">
                  <p>
                    Уважаемые товарищи!
                  </p>
                  <p>
                    Напоминаем вам о необходимости заполнения формы №3456 «Сведения о организации дополнительного профессионального образования субъекта РФ». До конца сдач осталось 30 дней (до 20.12.2021).
                  </p>
                  <p>
                    Спасибо за понимание.
                  </p>
                </div>
              </div>
            </div>

          </div>
        </form>
      </section>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
  <footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
