<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Добавить новость</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header__site-link">Перейти на сайт</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/user-ava.png" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Рудковский А. М.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
      <section class="profile page__section">
        <!-- <ul class="breadcrumbs page__breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Организации</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Регионы</a>
          </li>
          <li class="breadcrumbs__item">
            <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
          </li>
        </ul> -->
      
        <h1 class="section-title mb-50">профиль</h1>
        <div class="profile__wrapper wrapper-max_width-m">
            <div class="profile__row profile__top top-profile">
                <div class="top-profile__job">Министр</div>
                <div class="top-profile__images">
                    <img src="upload/user-ava.png" alt="user-ava">
                </div>
                <div class="top-profile__btn">
                    <button type="submit" class="button button_theme_green--empty button_border_small form__submit">Загрузить фото</button>
                </div>
            </div>
            <div class="profile__row profile__bottom bottom-profile">
                <div class="tabs profile__tabs _tabs">
                    <nav class="tabs__navigation">
                        <button type="submit" class="tabs__title _tabs-item _active">Личные данные</button>
                        <button type="submit" class="tabs__title _tabs-item">Сменить пароль</button>
                    </nav>
                    <div class="tabs__content">
                        <div class="tabs__body _tabs-block _active">
                          <form class="tabs__body-form form profile_tabs-form profile_tabs-form--one">
                            <div class="profile_tabs-form-wrap">
                              <div class="profile_tabs-form__row">
                                <div class="profile_tabs-form__line form__item">
                                  <label class="form__label">Email</label>
                                  <span>goytrehh@gmail.com</span>
                                </div>
                                <div class="profile_tabs-form__line form__item">
                                  <label for="profileTabsSecondName" class="form__label">Фамилия</label>
                                  <input
                                  type="text"
                                  class="form__input-edit form__input-edit_width_full"
                                  id="profileTabsSecondName"
                                  placeholder="Ваша фамилия"
                                >
                                </div>
                                <div class="profile_tabs-form__line form__item">
                                  <label for="profileTabsFirstName" class="form__label">Имя</label>
                                  <input
                                  type="text"
                                  class="form__input-edit form__input-edit_width_full"
                                  id="profileTabsFirstName"
                                  placeholder="Ваше имя"
                                >
                                </div>
                                <div class="profile_tabs-form__line form__item">
                                  <label for="profileTabsPatronymic" class="form__label">Отчество</label>
                                  <input
                                  type="text"
                                  class="form__input-edit form__input-edit_width_full"
                                  id="profileTabsPatronymic"
                                  placeholder="Ваше отчество"
                                >
                                </div>
                              </div>
                              
                            <div class="profile_tabs-form__row">
                              <div class="profile_tabs-form__line form__item">
                                <label class="form__label">Регион, Город</label>
                                <span>Республика Саха (Якутия), г. Мирный</span>
                              </div>
                              <div class="profile_tabs-form__line form__item">
                                <label for="profileTabsJob" class="form__label">Место работы</label>
                                <input
                                type="text"
                                class="form__input-edit form__input-edit_width_full"
                                id="profileTabsJob"
                                placeholder="Название организации"
                              >
                              </div>
                              <div class="profile_tabs-form__line form__item">
                                <label for="profileTabsPosition" class="form__label">Должность</label>
                                <input
                                type="text"
                                class="form__input-edit form__input-edit_width_full"
                                id="profileTabsPosition"
                                placeholder="Выберите должность"
                              >
                              </div>
                            </div>
                            </div>
                            <div class="profile_tabs-form__btn">
                              <button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить изменения</button>

                            </div>
                          </form> 
                        </div>
                        <div class="tabs__body _tabs-block">
                          <form class="tabs__body-form form profile_tabs-form profile_tabs-form--two">
                            <div class="profile_tabs-form-wrap">
                              <div class="profile_tabs-form__row">
                                <div class="profile_tabs-form__line form__item">
                                  <label for="profileTabsPasswordOld" class="form__label">Старый пароль</label>
                                  <input
                                  type="password"
                                  class="form__input-edit form__input-edit_width_full"
                                  id="profileTabsPasswordOld"
                                  placeholder="Ваш старый пароль"
                                >
                                </div>
                                <div class="profile_tabs-form__line form__item">
                                  <label for="profileTabsPasswordNew" class="form__label">Новый пароль</label>
                                  <input
                                  type="password"
                                  class="form__input-edit form__input-edit_width_full"
                                  id="profileTabsPasswordNew"
                                  placeholder="Ваш новый пароль"
                                >
                                </div>
                                <div class="profile_tabs-form__line form__item">
                                  <label for="profileTabsPasswordNewRepeat" class="form__label">Повторить новый пароль</label>
                                  <input
                                  type="password"
                                  class="form__input-edit form__input-edit_width_full"
                                  id="profileTabsPasswordNewRepeat"
                                  placeholder="Повторить ваш новый пароль"
                                >
                                </div>
                            </div>
                            <div class="profile_tabs-form__btn">
                              <button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить изменения</button>

                            </div>
                          </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
      </section>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
  <footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
