<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>ОРГАНИЗАЦИЯ</title>
</head>
<!-- для блокирования скролла страницы под поп-апом: .page.page_blocked -->
<body class="page">
    <header class="header">
        <div class="header__inner header__inner_page_cabinet">
          <div class="header__column header__column_direct_row">
            <a href="/" class="logo logo_page_cabinet"></a>
            <a href="" class="header-link header__site-link">Перейти на сайт</a>
            <a href="" class="header-link header__log-link">Техническая поддержка</a>
          </div>
          <div class="header__column header__column_direct_row-end">
            <a href="" class="header__user-link">
              <img src="upload/user-ava.png" class="header__avatar" alt="Аватар пользователя">
              <span class="header__username">Рудковский А. М.</span>
            </a>
            <div class="header__controls">
              <a href="#" class="header__control header__control_type_notification" title="Уведомления">
                <span class="notification-count">2</span>
              </a>
              <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
            </div>
          </div>
        </div>
      </header>
      <div class="page__content-wrapper">
        <aside class="sidebar sidebar_opened">
            <button class="sidebar__toggle"></button>
            <nav class="sidebar__menu">
              <a href="#" class="sidebar__menu-item">
                <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
                <span class="sidebar__menu-item-text">Пользователи</span>
              </a>
              <a href="#" class="sidebar__menu-item">
                <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
                <span class="sidebar__menu-item-text">Формы</span>
              </a>
              <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
                <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
                <span class="sidebar__menu-item-text">Организации</span>
              </a>
              <a href="#" class="sidebar__menu-item">
                <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
                <span class="sidebar__menu-item-text">Отчеты</span>
              </a>
              <a href="#" class="sidebar__menu-item">
                <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
                <span class="sidebar__menu-item-text">Карта</span>
              </a>
            </nav>
          </aside>
          <main class="content cabinet-subject content_cabinet">
 
            <section class="region-detail-detail-page  page__section">
              <ul class="breadcrumbs page__breadcrumbs">
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link">Регионы</a>
                </li>
                <li class="breadcrumbs__item">
                  <a href="#" class="breadcrumbs__link">Республика Саха (Якутия)</a>
                </li>
                <li class="breadcrumbs__item">
                  <span href="#" class="breadcrumbs__link breadcrumbs__link_current">
                    ИРО Сахалинской области
                  </span>
                </li>
              </ul>
              <article class="organization-detail">
                <h1 class="section-title">ИРО Сахалинской области</h1>
                <p class="section-subtitle">Институт развития образования Сахалинской области</p>
                <div class="organization-detail__description">
        
                  <div class="organization-detail__text-area">
                    <p class="organization-detail__text">
                      Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quos mollitia facere nostrum
                      molestias architecto ullam dolore dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing
                      elit. Similique, a.
                    </p>
                    <p class="organization-detail__text">
                      Illum nemo placeat numquam voluptates laudantium, laborum repellendus, incidunt tempore modi
                      doloribus porro perferendis illo tenetur. Numquam, blanditiis! Lorem ipsum dolor sit amet
                      consectetur adipisicing elit. Voluptatibus delectus odit asperiores praesentium fugiat doloribus
                      aperiam itaque esse.
                    </p>
                    <p class="organization-detail__text">
                      Consequuntur molestiae minus ducimus adipisci eligendi aspernatur eum cupiditate rerum!
                      Soluta deleniti est culpa beatae, incidunt excepturi quae.
                    </p>
                  </div>
                  <div class="organization-detail__contacts-area">
                    <ul class="organization-detail__contacts">
                      <li class="organization-detail__contacts-item">
                        <div class="hex organization-detail__contacts-hex">
                          <img src="./images/contacts__phone.svg" alt="">
                        </div>
                        <div class="organization-detail__text-box">
                          <p class="organization-detail__contacts-name">Телефон</p>
                          <p class="organization-detail__contacts-value">+7 (424) 245-41-00</p>
                        </div>
                      </li>
                      <li class="organization-detail__contacts-item">
                        <div class="hex organization-detail__contacts-hex">
                          <img src="./images/contacts__map-pin.svg" alt="">
                        </div>
                        <div class="organization-detail__text-box">
                          <p class="organization-detail__contacts-name">Адрес</p>
                          <p class="organization-detail__contacts-value">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</p>
                        </div>
                      </li>
                      <li class="organization-detail__contacts-item">
                        <div class="hex organization-detail__contacts-hex">
                          <img src="./images/contacts__email.svg" alt="">
                        </div>
                        <div class="organization-detail__text-box">
                          <p class="organization-detail__contacts-name">E-mail</p>
                          <p class="organization-detail__contacts-value">sahalineducation@gmail.com</p>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </article>
            </section>
            <section class="org-team-section page__section page__section_width_full page__section_mt_m">
              <div class="org-team org-team-section__inner">
                <div class="org-team__director-area">
                  <svg class="org-team__director-photo" width="200" height="230" viewBox="0 0 200 230" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <path d="M0 172.5L100 230L200 172.5V57.5L100 0L0 57.5V172.5Z" fill="url(#pattern0)"/>
                    <defs>
                      <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
                        <use xlink:href="#image0" transform="translate(-0.075) scale(0.0014393 0.00125156)"/>
                      </pattern>
                      <image id="image0" width="799" height="799" xlink:href="./upload/director-photo.png"/>
                    </defs>
                  </svg>
                  <p class="org-team__director-position">Директор</p>
                  <p class="org-team__director-name">Константипольский Константин Константинович</p>
                  <p class="org-team__director-bio">Стаж руководящей должности 15 лет, Кандидат педагогических наук.</p>
                </div>
                <ul class="org-team__team-area">
                  <li class="org-team__person">
                    <p class="org-team__person-name">Константипольский Константин Константинович</p>
                    <p class="org-team__person-position">Заместитель</p>
                    <p class="org-team__person-bio">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu massa, tellus ullamcorper pharetra
                      tortor neque.
                    </p>
                  </li>
                  <li class="org-team__person">
                    <p class="org-team__person-name">Константипольский Константин Константинович</p>
                    <p class="org-team__person-position">Заместитель</p>
                    <p class="org-team__person-bio">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu massa, tellus ullamcorper pharetra
                      tortor neque.
                    </p>
                  </li>
                  <li class="org-team__person">
                    <p class="org-team__person-name">Константипольский Константин Константинович</p>
                    <p class="org-team__person-position">Заместитель</p>
                    <p class="org-team__person-bio">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu massa, tellus ullamcorper pharetra
                      tortor neque.
                    </p>
                  </li>
                  <li class="org-team__person">
                    <p class="org-team__person-name">Константипольский Константин Константинович</p>
                    <p class="org-team__person-position">Заместитель</p>
                    <p class="org-team__person-bio">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Eu massa, tellus ullamcorper pharetra
                      tortor neque.
                    </p>
                  </li>
                </ul>
              </div>
            </section>
            <section class="programs-section page__section_width_content page__section_mt_m">
              <h2 class="section-title">Программы</h2>
              <ul class="program-list programs-section__pragram-list">
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
                <li class="program-list__item">
                  <a href="#" class="program-list__link">Институт развития образования Сахалинской области</a>
                </li>
              </ul>
              <button type="submit" class="button button_theme_green button_border_small">Закрыть</button>
            </section>
          </main>
      </div>
 

<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
