<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>календарь фед. методист</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header__site-link">Перейти на сайт</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/avatar_m_f.png" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Суздаль С. В.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
		<section class="users page__section">
			<!-- <ul class="breadcrumbs page__breadcrumbs">
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">Организации</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">Регионы</a>
			</li>
			<li class="breadcrumbs__item">
				<span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
			</li>
			</ul> -->
			<div class="users__top">
				<h1 class="section-title">календарь</h1>            
			</div>     
        
           
			<div class="calendar">								
				<div class="schedule-row schedule-row--center">
					<div class="schedule-row__month schedule-row__month--calendar month-item">
						<div class="month-item__arrow month-item__arrow-left"><img loading='lazy' width='12' height='30' src='./images/month_arrow_left.svg' alt='стелка'></div>
						<div class="month-item__row">
							<div class="month-item__row-day row-day">
								<div class="row-day__text row-day__text--mrnone">Январь</div>												
							</div>
							<div class="month-itme__row-year">2022</div>
						</div>
						<div class="month-item__arrow month-item__arrow-right"><img loading='lazy' width='12' height='30' src='./images/month_arrow_right.svg' alt='стелка'></div>
					</div>
				</div>
				<table class="table table--border">
					<tbody>
						<tr class="tab__row">
							<th class="tab__header">Понедельник</th>
							<th class="tab__header">Вторник</th>
							<th class="tab__header">Среда</th>
							<th class="tab__header">Четверг</th>
							<th class="tab__header">Пятница</th>
							<th class="tab__header">Суббота</th>
							<th class="tab__header">Воскресенье</th>
						</tr>
						<tr class="tab__row">
							<td class="tab__cell tab__cell--grey">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data">27</div>
									<div class="tab-box__marker tab-box__marker--blue">Встреча 1</div>
									<div class="tab-box__marker tab-box__marker--green">Встреча с длинным названием</div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >28</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >29</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >30</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >31</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >1</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >2</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>							
						</tr>
						<tr class="tab__row">
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >3</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >4</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >5</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >6</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >7</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >8</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >9</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>							
						</tr>
						<tr class="tab__row">
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >10</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data tab-box__data--green" >11</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >12</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data">13</div>
									<div class="tab-box__marker tab-box__marker--orange">Встреча 1</div>
									<div class="tab-box__marker">Более 2-х учеников</div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >14</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >15</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >16</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>							
						</tr>
						<tr class="tab__row">
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >17</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >18</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >19</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >20</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >21</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >22</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >23</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>							
						</tr>
						<tr class="tab__row">
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >24</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >25</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >26</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >27</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >28</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >29</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >30</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>							
						</tr>
						<tr class="tab__row">
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >31</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >2</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data">3</div>
									<div class="tab-box__marker tab-box__marker--orange">Встреча 1</div>
									<div class="tab-box__marker tab-box__marker--green">Более 2-х учеников</div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >4</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >5</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >6</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>
							<td class="tab__cell tab__cell--grey ">
								<div class="tab__cell-box tab-box">
									<div class="tab-box__data" >7</div>
									<div class="tab-box__marker"></div>
									<div class="tab-box__marker"></div>
								</div>
							</td>							
						</tr>					
					</tbody>
				</table>
				<div class="calendar-list">
					<div class="calendar-list__holder holder-item holder-item--blue">
						<div class="holder-item__time">11:00</div>
						<div class="holder-item__info">
							<div class="holder-item__info-name">Встреча 1</div>							
						</div>						
					</div>
					<div class="calendar-list__holder holder-item holder-item--orange">
						<div class="holder-item__time">11:00</div>
						<div class="holder-item__info">
							<div class="holder-item__info-name">Встреча с длинным названием</div>
							<div class="holder-item__info-desc">Приглашение от <a href="">Кулагин М. Д.</a>  Белгород, Школа номер 11, дистанционно</div>
							<div class="holder-item__info-btn info-btn">
								<div class="info-btn__box">
									<div class="info-btn__img info-btn__img--green">
										<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M11.6667 4.08325L5.25004 10.4999L2.33337 7.58325" stroke="#2FD385" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>																						
									</div>
									<div class="info-btn__text info-btn__text--green">Принять</div>
								</div>
								<div class="info-btn__box">
									<div class="info-btn__img info-btn__img--red">
										<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M10.5 3.5L3.5 10.5" stroke="#EB5757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
											<path d="M3.5 3.5L10.5 10.5" stroke="#EB5757" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
										</svg>																						
									</div>
									<div class="info-btn__text info-btn__text--red">Отклонить</div>
								</div>
							</div>
						</div>						
					</div>
				</div>
			</div>        
		</section>
	</main>
    
</div>
<script src="js/app.min.js"></script>
<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
