<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Мастер класс</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header__site-link">Перейти на сайт</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/avatar_m.jpg" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Иванова С.Г.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
      <section class="page__section">
        <ul class="breadcrumbs page__breadcrumbs">
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">мероприятия</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">мои мероприятия</a>
			</li>
			<li class="breadcrumbs__item">
				<span href="#" class="breadcrumbs__link breadcrumbs__link_current">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</span>
			</li>
        </ul>		
        <h1 class="section-title mb-50">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</h1>
		<div class="content-inner">
			<div class="content__right events-content">
				<div class="events-content__item events-content__item--line">
					<div class="events-content__item-name">название мероприятия</div>
					<div class="events-title">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</div>
				</div>
				<div class="events-content__item">
					<div class="events-content__item-time events-content__item-time--width item-time">
						<div class="events-content__item-name">Дата и время начала мероприятия</div>
						<div class="events-content__item-info">
							<div class="events-content__item-inp-date inp-date">							
								<select name="form[]" class="two">
									<option value="1" selected>31.10.2020</option>
									<option value="2">Пункт №2</option>
									<option value="3">Пункт №3</option>
									<option value="4">Пункт №4</option>
								</select>
							</div>
							<div class="events-content__item-inp-date inp-date">							
								<select name="form[]" class="two">
									<option value="1" selected>11:00 MSK</option>
									<option value="2">Пункт №2</option>
									<option value="3">Пункт №3</option>
									<option value="4">Пункт №4</option>
								</select>
							</div>						
						</div>
					</div>
					<div class="events-content__item-time events-content__item-time--width item-time">
						<div class="events-content__item-name">Дата и время конца мероприятия</div>
						<div class="events-content__item-info">
							<div class="events-content__item-inp-date inp-date">							
								<select name="form[]" class="two">
									<option value="1" selected>31.10.2020</option>
									<option value="2">Пункт №2</option>
									<option value="3">Пункт №3</option>
									<option value="4">Пункт №4</option>
								</select>
							</div>
							<div class="events-content__item-inp-date inp-date">							
								<select name="form[]" class="two">
									<option value="1" selected>11:00 MSK</option>
									<option value="2">Пункт №2</option>
									<option value="3">Пункт №3</option>
									<option value="4">Пункт №4</option>
								</select>
							</div>						
						</div>
					</div>
					<div class="events-content__item-time item-time events-content__item-time--width">
						<div class="events-content__item-name">максимальное количество мест</div>
						<div class="events-content__item-info">
							<div class="form__item">							
								<input
								type="number"
								class="form__item-input"
								id="form-detailStatus"
								placeholder="500"
								>						   
							</div>														
						</div>
					</div>
					<div class="events-content__item-time item-time events-content__item-time--width">
						<div class="events-content__item-name">Форма мероприятия</div>
						<div class="events-content__item-info">
							<div class="events-content__item-box-radio box-radio">
								<label class="wr-radio">
									<input type="radio" name="Форма мероприятия" value="Онлайн" class="real-radio" checked>
									<span class="custom-radio"></span>
									<span class="text-radio">Онлайн</span>
								</label>
								<label class="wr-radio">
									<input type="radio" name="Форма мероприятия" value="Оффлайн" class="real-radio">
									<span class="custom-radio"></span>
									<span class="text-radio">Оффлайн</span>
								</label>
							</div>									
						</div>
					</div>
				</div>
				<div class="events-content__item events-content__item--line">
					<div class="events-content__item-name">ссылка на мероприятия</div>
					<div class="events-content__item-link events-title">https://www.google.com/webhp?hl=ru&sa=X&ved</div>
				</div>
				<div class="events-content__item events-content__item--line">
					<div class="events-content__item-name">Описание мероприятия</div>
					<div class="events-title">Тема «Педагогическое взаимодействие в структуре методической работы как условие совершенствования профессионально-личностных компетенций педагога»</div>
				</div>
				<div class="events-content__item">
					<div class="events-content__item-name">материалы мероприятия</div>
					<ol class="events-content__item-list">
						<li class="events-content__item-box">
							<a href="#" class="events-content__item-box-link events-content__item-box-link--binone">Презентация выступления И.А. Рогалевич <span>(.ppt 7,6 MБ)</span></a>
							<div class="events-content__item-box-icons form__item-btn">
								<div class="form__item-close"></div>
								<div class="form__item-pen"></div>
							</div>
						</li>
						<li class="events-content__item-box">
							<a href="#" class="events-content__item-box-link events-content__item-box-link--binone">Презентация к игре «Осторожно! Критика» <span>(.ppt 511 КБ)</span></a>
							<div class="events-content__item-box-icons form__item-btn">
								<div class="form__item-close"></div>
								<div class="form__item-pen"></div>
							</div>
						</li>
						<li class="events-content__item-box">
							<a href="#" class="events-content__item-box-link events-content__item-box-link--binone">Сценарий проведения деловой игры  <span>(.doc 33 КБ)</span></a>
							<div class="events-content__item-box-icons form__item-btn">
								<div class="form__item-close"></div>
								<div class="form__item-pen"></div>
							</div>
						</li>
					</ol>
					<a href="#" class="events-content__add thing__add">+ добавить материал</a>
				</div>			
			</div>
			<div class="content__left">
				<div class="content__left-title">Участники - 345</div>				
				<div class="content__left-list list">
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>														
					<div class="list__item" data-akkardion>
						Рогалевич И.А.						
					</div>
					<div class="list__item-hidden hidden">
						<div class="list__item-info">
							<div class="list__item-info-name">Электронная почта</div>
							<a href="mailto:" class="list__item-info-link">ivanovasg@mail.ru</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Мобильный телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Организация</div>
							<a href="mailto:" class="list__item-info-link">Высший колледж связи г. Москва</a>
						</div>
						<div class="list__item-info">
							<div class="list__item-info-name">Рабочий телефон</div>
							<a href="tel:" class="list__item-info-link">+7 926 767 9644</a>
						</div>						
					</div>												
				</div>				
			</div>
		</div>		
		<div class="events-content__item-button">
			<button type="submit" class="button button--mr button_theme_green button_border_small form__submit button_news">Сохранить</button>
			<button type="submit" class="button button_theme_green--empty button_border_small form__submit button_news">Отменить мероприятие</button>
		</div>   
      </section>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
	<footer class="footer footer-no--bg">
		<div class="footer__inner">
			© Все права защищены
		</div>
  </footer>
  	<div class="popup-new popup__master _active">
		<div class="popup__content">
			<div class="popup__body">
				<div class="popup__close"></div>
				<div class="popup__body-wrap body-wrap">
					<div class="body-wrap__content events-content form-block">
						<div class="events-content__item events-content__item--line">
							<div class="events-content__item-name">Название файла</div>
							<div class="events-title">Презентация выступления И.А. Рогалевич</div>
						</div>
						<div class="events-content__item events-content__item--line">
							<div class="events-content__item-name">Файл</div>
							<div class="events-content__item-file-box">
								<div class="events-title">1111111.ppt (7,6 МБ)</div>
								<span>
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12 4L4 12" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M4 4L12 12" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</span>
							</div>
							
						</div>
						
						<div class="events-content__item-button">
							<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Сохранить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
