<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Мероприятия-metodist</title>
</head>
<body class="page">
    <header class="header">
        <div class="header__inner header__inner_page_cabinet">
          <div class="header__column header__column_direct_row">
            <a href="/" class="logo logo_page_cabinet"></a>
            <a href="" class="header-link header__add_news-link">Добавить новость</a>
            <a href="" class="header-link header__site-link">Перейти на сайт</a>
            <a href="" class="header-link header__log-link active">Логирование</a>
          </div>
          <div class="header__column header__column_direct_row-end">
            <a href="" class="header__user-link">
              <img src="upload/avatar_m.jpg" class="header__avatar" alt="Аватар пользователя">
              <span class="header__username">Иванова А. М.</span>
            </a>
            <div class="header__controls">
              <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
              <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
            </div>
          </div>
        </div>
      </header>
	<div class="page__content-wrapper">
		<aside class="sidebar sidebar_opened">
		<button class="sidebar__toggle"></button>
		<nav class="sidebar__menu">
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
			<span class="sidebar__menu-item-text">Пользователи</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
			<span class="sidebar__menu-item-text">Формы</span>
			</a>
			<a href="#" class="sidebar__menu-item sidebar__menu-item_active">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
			<span class="sidebar__menu-item-text">Организации</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
			<span class="sidebar__menu-item-text">Отчеты</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
			<span class="sidebar__menu-item-text">Карта</span>
			</a>
		</nav>
		</aside>
		<main class="content content_federal">
			<section class="users page__section">        
				<div class="users__top">
					<h1 class="section-title">Мероприятия</h1>
					<a href="#" class="users__add">+ новое мероприятие</a>
				</div>
				<div class="form-detail__wrapper wrapper-max_width-m">
					<div class="tabs form-detail__tabs _tabs">
						<nav class="tabs__navigation">
							<button type="submit" class="tabs__title _tabs-item _active">Все мероприятия</button>
							<button type="submit" class="tabs__title _tabs-item ">Мои мероприятия</button>
							<button type="submit" class="tabs__title _tabs-item ">Участие в мероприятиях</button>
						</nav>
						<div class="tabs__content">
							<div class="tabs__body _tabs-block  _active">
								<div class="events-wrap">    
									<div class="events-row events-row--jc">
										<h3 class="events__title events__title--icon">Предстоящие</h3>
										<div class="events__filter">
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Дата</div>
											</div>
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Тип</div>
											</div>
										</div>
									</div>
									<div class="events-row events-card-wr">
										<article class="events-card">
											<div class="events-card__title">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Записаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title">«Анализ и планирование методической работы»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user">334 человека уже записались</div>
												<div class="events-card__text events-card__text--green events-card__text--map">ONLINE</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Записаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title">«Педагогическое взаимодействие – важнейшее условие эффективности образовательного процесса»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Записаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Записаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Записаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
									</div>
									<div class="events-row events-row--jc">
										<h3 class="events__title">Прошедшие</h3>
										<div class="events__filter">
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Дата</div>
											</div>
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Тип</div>
											</div>
										</div>
									</div>
									<div class="events-row events-card-wr">
										<article class="events-card">
											<div class="events-card__title events-card__title--grey">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user-grey">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map-grey">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Записаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title events-card__title--grey">«Анализ и планирование методической работы»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user-grey">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map-grey">ONLINE</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Записаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title events-card__title--grey">«Педагогическое взаимодействие – важнейшее условие эффективности образовательного процесса»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user-grey">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map-grey">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Записаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title events-card__title--grey">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user-grey">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map-grey">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Записаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title events-card__title--grey">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user-grey">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map-grey">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Записаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
									</div>
								</div>                    
							</div>
							<div class="tabs__body _tabs-block">
								<div class="events-wrap">    
									<div class="events-row events-row--jc">
										<h3 class="events__title events__title--icon">Предстоящие</h3>
										<div class="events__filter">
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Дата</div>
											</div>
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Тип</div>
											</div>
										</div>
									</div>
									<div class="events-row events-line-wr">
										<article class="events-line">
											<table class="events-line__table">
												<tr class="events-line__table-row">
													<th class="events-line__table-header events-line__table-header--start">название мероприятия</th>
													<th class="events-line__table-header">начало</th>
													<th class="events-line__table-header">конец</th>
													<th class="events-line__table-header">участники</th>
												</tr>
												<tr class="events-line__table-row">
													<td class="events-line__table-col events-line__table-header--start">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></span></td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></td>
													<td class="events-line__table-col">335</td>
												</tr>
											</table>
											<div class="events-line__widget events-line__widget--green">online</div>
										</article>									
										<article class="events-line">
											<table class="events-line__table">
												<tr class="events-line__table-row">
													<th class="events-line__table-header events-line__table-header--start">название мероприятия</th>
													<th class="events-line__table-header">начало</th>
													<th class="events-line__table-header">конец</th>
													<th class="events-line__table-header">участники</th>
												</tr>
												<tr class="events-line__table-row">
													<td class="events-line__table-col events-line__table-header--start">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></span></td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></td>
													<td class="events-line__table-col">335</td>
												</tr>
											</table>
											<div class="events-line__widget">online</div>
										</article>									
										<article class="events-line">
											<table class="events-line__table">
												<tr class="events-line__table-row">
													<th class="events-line__table-header events-line__table-header--start">название мероприятия</th>
													<th class="events-line__table-header">начало</th>
													<th class="events-line__table-header">конец</th>
													<th class="events-line__table-header">участники</th>
												</tr>
												<tr class="events-line__table-row">
													<td class="events-line__table-col events-line__table-header--start">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></span></td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></td>
													<td class="events-line__table-col">335</td>
												</tr>
											</table>
											<div class="events-line__widget">online</div>
										</article>									
										<article class="events-line">
											<table class="events-line__table">
												<tr class="events-line__table-row">
													<th class="events-line__table-header events-line__table-header--start">название мероприятия</th>
													<th class="events-line__table-header">начало</th>
													<th class="events-line__table-header">конец</th>
													<th class="events-line__table-header">участники</th>
												</tr>
												<tr class="events-line__table-row">
													<td class="events-line__table-col events-line__table-header--start">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></span></td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></td>
													<td class="events-line__table-col events-line__table-col--blue">на модерации</td>
												</tr>
											</table>
											<div class="events-line__widget events-line__widget--blue">черновик</div>
										</article>									
										<article class="events-line">
											<table class="events-line__table">
												<tr class="events-line__table-row">
													<th class="events-line__table-header events-line__table-header--start">название мероприятия</th>
													<th class="events-line__table-header">начало</th>
													<th class="events-line__table-header">конец</th>
													<th class="events-line__table-header">участники</th>
												</tr>
												<tr class="events-line__table-row">
													<td class="events-line__table-col events-line__table-header--start">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></span></td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></td>
													<td class="events-line__table-col">335</td>
												</tr>
											</table>
											<div class="events-line__widget events-line__widget--green">online</div>
										</article>									
									</div>
									<div class="events-row events-row--jc">
										<h3 class="events__title">Прошедшие</h3>
										<div class="events__filter">
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Дата</div>
											</div>
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Тип</div>
											</div>
										</div>
									</div>
									<div class="events-row events-line-wr events-line-wr--grey-block">
										<article class="events-line">
											<table class="events-line__table">
												<tr class="events-line__table-row">
													<th class="events-line__table-header events-line__table-header--start">название мероприятия</th>
													<th class="events-line__table-header">начало</th>
													<th class="events-line__table-header">конец</th>
													<th class="events-line__table-header">участники</th>
												</tr>
												<tr class="events-line__table-row">
													<td class="events-line__table-col events-line__table-header--start">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></span></td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></td>
													<td class="events-line__table-col">335</td>
												</tr>
											</table>
											<div class="events-line__widget events-line__widget--grey">online</div>
										</article>									
										<article class="events-line">
											<table class="events-line__table">
												<tr class="events-line__table-row">
													<th class="events-line__table-header events-line__table-header--start">название мероприятия</th>
													<th class="events-line__table-header">начало</th>
													<th class="events-line__table-header">конец</th>
													<th class="events-line__table-header">участники</th>
												</tr>
												<tr class="events-line__table-row">
													<td class="events-line__table-col events-line__table-header--start">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></span></td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></td>
													<td class="events-line__table-col">335</td>
												</tr>
											</table>
											<div class="events-line__widget">online</div>
										</article>									
										<article class="events-line">
											<table class="events-line__table">
												<tr class="events-line__table-row">
													<th class="events-line__table-header events-line__table-header--start">название мероприятия</th>
													<th class="events-line__table-header">начало</th>
													<th class="events-line__table-header">конец</th>
													<th class="events-line__table-header">участники</th>
												</tr>
												<tr class="events-line__table-row">
													<td class="events-line__table-col events-line__table-header--start">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></span></td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></td>
													<td class="events-line__table-col">335</td>
												</tr>
											</table>
											<div class="events-line__widget">online</div>
										</article>									
										<article class="events-line">
											<table class="events-line__table">
												<tr class="events-line__table-row">
													<th class="events-line__table-header events-line__table-header--start">название мероприятия</th>
													<th class="events-line__table-header">начало</th>
													<th class="events-line__table-header">конец</th>
													<th class="events-line__table-header">участники</th>
												</tr>
												<tr class="events-line__table-row">
													<td class="events-line__table-col events-line__table-header--start">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></span></td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></td>
													<td class="events-line__table-col">335</td>
												</tr>
											</table>
											<div class="events-line__widget events-line__widget--grey">черновик</div>
										</article>									
										<article class="events-line">
											<table class="events-line__table">
												<tr class="events-line__table-row">
													<th class="events-line__table-header events-line__table-header--start">название мероприятия</th>
													<th class="events-line__table-header">начало</th>
													<th class="events-line__table-header">конец</th>
													<th class="events-line__table-header">участники</th>
												</tr>
												<tr class="events-line__table-row">
													<td class="events-line__table-col events-line__table-header--start">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></span></td>
													<td class="events-line__table-col"><p>23.10.2021</p><p>11:00 MSK</p></td>
													<td class="events-line__table-col">335</td>
												</tr>
											</table>
											<div class="events-line__widget events-line__widget--grey">online</div>
										</article>									
									</div>
								</div>                    
							</div>
							<div class="tabs__body _tabs-block">
								<div class="events-wrap">
									<div class="events-row events-row--jc">
										<h3 class="events__title events__title--icon">Предстоящие</h3>
										<div class="events__filter">
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Дата</div>
											</div>
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Тип</div>
											</div>
										</div>
									</div>
									<div class="events-row events-card-wr">
										<article class="events-card">
											<div class="events-card__title">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green--empty button_border_small form__submit">Отписаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title">«Анализ и планирование методической работы»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green--empty button_border_small form__submit">Отписаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title">«Педагогическое взаимодействие – важнейшее условие эффективности образовательного процесса»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green--empty button_border_small form__submit">Отписаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green--empty button_border_small form__submit">Отписаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green--empty button_border_small form__submit">Отписаться</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
									</div>
									<div class="events-row events-row--jc">
										<h3 class="events__title">Прошедшие</h3>
										<div class="events__filter">
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Дата</div>
											</div>
											<div class="events__filter-item">
												<div class="events__filter-box-arrow box-arrow">
													<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
													<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
												</div>
												<div class="events__filter-name">Тип</div>
											</div>
										</div>
									</div>
									<div class="events-row events-card-wr">
										<article class="events-card">
											<div class="events-card__title events-card__title--grey">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user-grey">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map-grey">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Материалы</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title events-card__title--grey">«Анализ и планирование методической работы»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user-grey">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map-grey">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Материалы</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title events-card__title--grey">«Педагогическое взаимодействие – важнейшее условие эффективности образовательного процесса»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user-grey">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map-grey">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Материалы</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title events-card__title--grey">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user-grey">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map-grey">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Материалы</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
										<article class="events-card">
											<div class="events-card__title events-card__title--grey">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
											<div class="events-card__wr-text">
												<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
												<div class="events-card__text events-card__text--user-grey">334 человека уже записались</div>
												<div class="events-card__text events-card__text--map-grey">Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл.</div>
											</div>										
											<div class="events-card__btn">
												<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Материалы</button>
												<a href="#" class="new-card-btn__link">Подробнее</a>
											</div>
										</article>
									</div>
								</div>                
							</div>
						</div>
					</div>
				</div>        
			</section>
		</main>    
	</div>
  
	<footer class="footer footer-no--bg">
		<div class="footer__inner">
			© Все права защищены
		</div>
  	</footer>
	<div class="popup-new popup_events _active">
		<div class="popup__content">
			<div class="popup__body">
				<div class="popup__close"></div>
				<div class="popup__body-wrap body-wrap">
					<div class="body-wrap__content events-content">
						<h5 class="events-content__title events-title events-title--bold">Мастер-класс как эффективная форма повышения профессионального мастерства педагогов</h5>
						<div class="events-content__item events-content__item--flex">
							<div class="events-content__item-time item-time">
								<div class="events-content__item-name">начало мероприятия</div>
								<div class="events-content__item-info">
									<span class="events-content__item-info-num events-title">23.10.2021</span>
									<span class="events-content__item-info-num events-title">11:00 MSK</span>
								</div>
							</div>
							<div class="events-content__item-time item-time">
								<div class="events-content__item-name">конец мероприятия</div>
								<div class="events-content__item-info">
									<span class="events-content__item-info-num events-title">23.10.2021</span>
									<span class="events-content__item-info-num events-title">11:00 MSK</span>
								</div>
							</div>
							<div class="events-content__item-time item-time">
								<div class="events-content__item-name">занято мест</div>
								<div class="events-content__item-info">
									<span class="events-content__item-info-num events-title">334/500 </span>									
								</div>
							</div>
							<div class="events-content__item-time item-time">
								<div class="events-content__item-name">начало мероприятия</div>
								<div class="events-content__item-info">
									<span class="events-content__item-info-num events-title events-title--green">Онлайн</span>									
								</div>
							</div>
						</div>
						<div class="events-content__item">
							<div class="events-content__item-name">ссылка на мероприятия</div>
							<div class="events-content__item-link events-title">https://www.google.com/webhp?hl=ru&sa=X&ved</div>
						</div>
						<div class="events-content__item">
							<div class="events-content__item-name">Описание мероприятия</div>
							<div class="events-title">Тема «Педагогическое взаимодействие в структуре методической работы как условие совершенствования профессионально-личностных компетенций педагога»</div>
						</div>
						<div class="events-content__item">
							<div class="events-content__item-name">материалы мероприятия</div>
							<ol class="events-content__item-list">
								<li class="events-content__item-box"><a href="3" class="events-content__item-box-link">Презентация выступления И.А. Рогалевич <span>(.ppt 7,6 MБ)</span></a></li>
								<li class="events-content__item-box"><a href="3" class="events-content__item-box-link">Презентация к игре «Осторожно! Критика» <span>(.ppt 511 КБ)</span></a></li>
								<li class="events-content__item-box"><a href="3" class="events-content__item-box-link">Сценарий проведения деловой игры  <span>(.doc 33 КБ)</span></a></li>
							</ol>
						</div>
						<div class="events-content__item-btn">
							<button type="submit" class="button button_theme_green--empty button_border_small form__submit button_news">отписаться</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/app.min.js"></script>
</body>
</html>
