<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Добавить новость</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header-link header__add_news-link">Добавить новость</a>
        <a href="" class="header-link header__site-link">Перейти на сайт</a>
        <a href="" class="header-link header__log-link">Логирование</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/user-ava.png" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Рудковский А. М.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
            <i class="sidebar__menu-item-icon sidebar__menu-item_icon_listener"></i>
            <span class="sidebar__menu-item-text">Добавить <br>
                слушателя</span>
          </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
        <a href="#" class="sidebar__menu-item">
            <i class="sidebar__menu-item-icon sidebar__menu-item_icon_notification"></i>
            <span class="sidebar__menu-item-text">Уведомления <br>
                и рассылки</span>
          </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
      <section class="form-detail page__section">
        <!-- <ul class="breadcrumbs page__breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Организации</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Регионы</a>
          </li>
          <li class="breadcrumbs__item">
            <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
          </li>
        </ul> -->
        <div class="form-detail__top">
            <h1 class="section-title">№3456 <br>
                Сведения об организации дополнительного профессионального образования субъекта РФ</h1>
            <span href="#" class="form-detail__subtitle">1 раз в год</span>
        </div>
       
        <div class="form-detail__wrapper wrapper-max_width-m">
            <div class="tabs form-detail__tabs _tabs">
                <nav class="tabs__navigation">
                    <button type="submit" class="tabs__title _tabs-item ">Статистика формы</button>
                    <button type="submit" class="tabs__title _tabs-item _active">Настройки формы</button>
                </nav>
                <div class="tabs__content">
                    <div class="tabs__body _tabs-block">
                        <div class="form-detail-form-wrap">
    
                            <div class="form-detail-form__row row-inputs row-d-flex">
                                <div class="form-detail-form__line line-d">
                                    <div class="form__item">
                                        <label for="form-detailStatus" class="form__label">Статус</label>
                                        <input
                                        type="text"
                                        class="form__input-edit form__input-edit_width_full"
                                        id="form-detailStatus"
                                        placeholder="заполнено"
                                        >
                                       
                                    </div>
                                    <div class=" form__item">
                                        <label for="form-detailDate" class="form__label">Дата</label>
                                        <input type="date" name="form-detailDate" class="form__input-edit" id="detailDate">
                                    </div>
                                    <div class=" form__item">
                                        <a href="#" class="filter__reset-link">сбросить</a>
                                    </div>
                                </div>
                            </div>
                             <div class="form-detail-form__row users__table row-table">
                                <div class="row-table__top">
                                    <div class="row-table__found">
                                        Найдено 23
                                    </div>
                                </div>
                                <table class="table form-detail-form__table">
                                    <tbody><tr class="table__row table__row_head">
                                    <th class="table__header">Регион</th>
                                    <th class="table__header">Населенный пункт</th>
                                    <th class="table__header">Дата заполнения</th>
                                    <th class="table__header">Согласование</th>
                                    <th class="table__header">Статус</th>
                                    <th class="table__header"></th>
                                    </tr>
                                    <tr class="table__row">
                                    <td class="table__cell">Республика Адыгея</td>
                                    <td class="table__cell">Майкоп</td>
                                    <td class="table__cell">31.10.2020</td>
                                    <td class="table__cell">да</td>
                                    <td class="table__cell">заполнена</td>
                                    <td class="table__cell">
                                            <button class="table__cell-users_row-more">
                                                <img src="images/more_dots.svg" alt="more">
                                            </button>
                                    </td>
                                    </tr>
                                    <tr class="table__row">
                                        <td class="table__cell">Нижегородская область</td>
                                        <td class="table__cell">Дзержинск</td>
                                        <td class="table__cell">31.10.2020</td>
                                        <td class="table__cell">да</td>
                                        <td class="table__cell">заполнена</td>
                                        <td class="table__cell">
                                                <button class="table__cell-users_row-more">
                                                    <img src="images/more_dots.svg" alt="more">
                                                </button>
                                        </td>
                                        <tr class="table__row">
                                            <td class="table__cell">Республика Адыгея</td>
                                            <td class="table__cell">Майкоп</td>
                                            <td class="table__cell">31.10.2020</td>
                                            <td class="table__cell">да</td>
                                            <td class="table__cell">заполнена</td>
                                            <td class="table__cell">
                                                    <button class="table__cell-users_row-more">
                                                        <img src="images/more_dots.svg" alt="more">
                                                    </button>
                                            </td>
                                </tbody></table>
                            </div>
                        </div>
                    
                    </div>
                    <div class="tabs__body _tabs-block _active">
                        <div class="form-detail__row row-period d-flex">
                            <div class="form-detail__row-period">
                                <label for="Periodicity" class="form__label">Период входа</label>
                                <input type="text" name="Periodicity" class="form__input-edit" id="Periodicity" placeholder="1 раз в год">
                            </div>
                          
                            <div class="form-detail__dates">
                                <label for="formDetailDateFrom" class="form__label">Период действия</label>
                                <div class="form-detail__dates-wrap ">
                                    <div class="form-detail__dates-inputs d-flex">
                                        <input type="date" name="formDetailDateFrom" class="form__input-edit input-edit__form" id="dateFrom">
                                        <div class="form-detail__dates-inputs__line"></div>
                                        <input type="date" name="formDetailDateTo" class="form__input-edit input-edit__to" id="dateTo">
                                    </div>
                                </div>
                             
                            </div>
                        </div>
                        <div class="form-detail__row row-spollers">
                           <div data-spollers class="spollers">
                               <div class="spollers__item">
                                   <button type="button" data-spoller class="spollers__title">
                                       <div class="spollers__title-edit">
                                           <ul>
                                               <li>
                                                   <a href="#">Дублировать</a>
                                               </li>
                                               <li>
                                                    <a href="#">Выключить</a>
                                                </li>
                                                <li>
                                                    <a href="#">Удалить</a>
                                                </li>
                                                <li>
                                                    <a href="#">Вверх</a>
                                                </li>
                                                <li>
                                                    <a href="#">Вниз</a>
                                                </li>
                                           </ul>
                                       </div>
                                      <span> ОКПО</span>
                                    </button>
                                   <div class="spollers__body">
                                       <div class="spollers__body-wrap">
                                           <div class="spollers__body-line">
                                               <div class="spollers__body-caption">
                                                заголовок
                                               </div>
                                               <div class="spollers__body-info">
                                                <input autocomplete="off" type="text" name="form[]"placeholder="ОКПО" class="spollers__body-input">
                                               </div>
                                           </div>
                                           <div class="spollers__body-line">
                                                <div class="spollers__body-caption">
                                                    Подсказка
                                                </div>
                                                <div class="spollers__body-info">
                                                    <input autocomplete="off" type="text" name="form[]"placeholder="Общероссийский классификатор предприятий и организаций" class="spollers__body-input">

                                                </div>
                                            </div>
                                            <div class="spollers__body-line">
                                                <div class="spollers__body-caption">
                                                    тип поля
                                                </div>
                                                <div class="spollers__body-info">
                                                    <select name="form[]" class="select_form">
                                                        <option value="1" selected>Числовой (8 или 10 цифр)</option>
                                                        <option value="2">Пункт №2</option>
                                                        <option value="3">Пункт №3</option>
                                                        <option value="4">Пункт №4</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="spollers__body-line">
                                                <div class="checkbox form-group">
                                                    <input type="checkbox" id="chk">
                                                    <label for="chk">Обязательное для заполнения</label>
                                                </div>
                                            </div>
                                           
                                       </div>
                                   </div>
                               </div>
                               <div class="spollers__item">
                                <button type="button" data-spoller class="spollers__title">
                                    <div class="spollers__title-edit">
                                        <ul>
                                            <li>
                                                <a href="#">Дублировать</a>
                                            </li>
                                            <li>
                                                 <a href="#">Выключить</a>
                                             </li>
                                             <li>
                                                 <a href="#">Удалить</a>
                                             </li>
                                             <li>
                                                 <a href="#">Вверх</a>
                                             </li>
                                             <li>
                                                 <a href="#">Вниз</a>
                                             </li>
                                        </ul>
                                    </div>
                                   <span> Наименование РОИВ</span>
                                 </button>
                                <div class="spollers__body">
                                    <div class="spollers__body-wrap">
                                        <div class="spollers__body-line">
                                            <div class="spollers__body-caption">
                                             заголовок
                                            </div>
                                            <div class="spollers__body-info">
                                             <input autocomplete="off" type="text" name="form[]"placeholder="Наименование РОИВ" class="spollers__body-input">
                                            </div>
                                        </div>
                                        <div class="spollers__body-line">
                                             <div class="spollers__body-caption">
                                                 Подсказка
                                             </div>
                                             <div class="spollers__body-info">
                                                 <input autocomplete="off" type="text" name="form[]"placeholder="Общероссийский классификатор предприятий и организаций" class="spollers__body-input">

                                             </div>
                                         </div>
                                         <div class="spollers__body-line">
                                             <div class="spollers__body-caption">
                                                 тип поля
                                             </div>
                                             <div class="spollers__body-info">
                                                 <select name="form[]" class="select_form">
                                                     <option value="1" selected>Числовой (8 или 10 цифр)</option>
                                                     <option value="2">Пункт №2</option>
                                                     <option value="3">Пункт №3</option>
                                                     <option value="4">Пункт №4</option>
                                                 </select>
                                             </div>
                                         </div>
                                         <div class="spollers__body-line">
                                             <div class="checkbox form-group">
                                                 <input type="checkbox" id="chk">
                                                 <label for="chk">Обязательное для заполнения</label>
                                             </div>
                                         </div>
                                        
                                    </div>
                                </div>
                            </div>
                           </div>
                        </div>
                        <div class="form-detail__row">
                            <div class="form-detail__btn">
                                <button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить</button>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
      </section>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
  <footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>

  <div class="popup-new popup_form-detail_info">
	<div class="popup__content">
		<div class="popup__body">
			<div class="popup__close">
				
			</div>
            <div class="popup__body-wrap body-wrap">
                <div class="body-wrap__top">
                    <div class="body-wrap__image">
                        <img src="upload/user-ava.png" alt="user-ava">
                    </div>
                    <a href="#" class="filter__edit-link body-wrap__edit_link">Редактировать</a>
                </div>
               <div class="body-wrap__content">
                   <div class="body-wrap__line">
                       <div class="body-wrap__label">
                        ФИО
                       </div>
                       <div class="body-wrap__info">
                        Ситников Касьян Витальевич
                       </div>
                   </div>
                   <div class="body-wrap__line">
                    <div class="body-wrap__label">
                        Email
                    </div>
                    <div class="body-wrap__info">
                        sitnikov@gmail.com
                    </div>
                    </div>
                    <div class="body-wrap__line">
                        <div class="body-wrap__label">
                            Роль
                        </div>
                        <div class="body-wrap__info">
                            Руководитель
                        </div>
                    </div>
                    <div class="body-wrap__line">
                        <div class="body-wrap__label">
                            Место работы
                        </div>
                        <div class="body-wrap__info">
                            Мирнинский политехнический институт
                        </div>
                    </div>
                    <div class="body-wrap__line">
                        <div class="body-wrap__label">
                            Должность
                        </div>
                        <div class="body-wrap__info">
                            Методист
                        </div>
                    </div>
                    <div class="body-wrap__line">
                        <div class="body-wrap__label">
                            Регион
                        </div>
                        <div class="body-wrap__info">
                            Республика Саха (Якутия)
                        </div>
                    </div>
                    <div class="body-wrap__line">
                        <div class="body-wrap__label">
                            Город
                        </div>
                        <div class="body-wrap__info">
                            Мирный
                        </div>
                    </div>
               </div>
            </div>
		</div>
	</div>
</div>


</body>
</html>
