<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.min.css">
    <link
  rel="stylesheet"
  href="https://unpkg.com/swiper@7/swiper-bundle.min.css"
/>
    <title>Главная</title>
  </head>
<!-- для блокирования скролла страницы под поп-апом: .page.page_blocked -->
<body class="page">
  <header class="header">
    <div class="header__inner">
      <button class="header__menu-burger-toogle"></button>
      <div class="header__column">
        <a href="/" class="logo"></a>
      </div>
      <div class="header__column header__column_el_contacts">
        <p class="header__phone-text">Телефон горячей линии</p>
        <a href="tel:88005006070" class="header__phone-number">8 (800) 500-60-70</ф>
      </div>
      <div class="header__column header__column_el_auth">
        <a href="#" class="button button_theme_green-invert button_border_rounded">Вход для педагогов</a>
      </div>
    </div>
    <!-- открытое меню: .burger-menu.burger-menu_opened -->
    <div class="burger-menu">
      <div class="burger-menu__header">
        <a href="/" class="logo logo_type_white"></a>
        <button class="burger-menu__close-btn"></button>
      </div>
      <nav class="burger-menu__links">
        <a href="#" class="burger-menu__link">Регионы</a>
        <a href="#" class="burger-menu__link">Новости</a>
        <a href="#" class="burger-menu__link">Техническая поддержка</a>
      </nav>
      <div class="burger-menu__mobile-area">
        <a href="#" class="button button_theme_green-invert button_border_rounded">Вход для педагогов</a>
        <a href="#" class="button button_theme_white-invert button_border_rounded">Служебный раздел</a>
      </div>
    </div>
  </header>

  <main class="content">

    <section class="slider main-slider page__section">
      <div class="main-slider__slider">
        <div class="main-slider__wrapper swiper-wrapper">
          <div class="slider__slide swiper-slide" style="background-image: url('./upload/slider-slide.jpg')">
            <h2 class="slider__title">Субъекты ДПО</h2>
            <p class="slider__text">Кто отвечает за дополнительное образование в регионах?</p>
          </div>
        </div>
      </div>
    <!-- Слайдер на всю ширину
    <section class="slider page__section page__section_width_full">
    -->

      <button class="slider__arrow slider__arrow_left"></button>
      <button class="slider__arrow slider__arrow_right"></button>
    </section>

    <section class="map-regions page__map-regions">
      <h2 class="section-title section-title_text-align_center">Информация по регионам</h2>
      <form class="form">
        <select class="form__select form__select_theme_transparent map-regions__select">
          <option value="" class="form__option form__option_hidden" hidden>Введите...</option>
          <option value="" class="form__option">Волгоградская область</option>
          <option value="" class="form__option">Красноярский край</option>
          <option value="" class="form__option">Ярославская область</option>
        </select>
        <ul class="map-regions__subjects-list">
          <li class="map-regions__subjects-item"><a href="#" class="map-regions__subjects-link">Москва</a></li>
          <li class="map-regions__subjects-item"><a href="#" class="map-regions__subjects-link">Санкт-Петербург</a></li>
          <li class="map-regions__subjects-item"><a href="#" class="map-regions__subjects-link">Севастополь</a></li>
        </ul>
    </form>
      <object data="./images/map-regions.svg" type="image/svg+xml" class="map-regions__map">
        Ваш браузер не поддерживает SVG
      </object>
      <!-- Поп-ап региона
      <div class="map-popup">
        <h3 class="map-popup__title">Красноярский Край</h3>
        <div class="map-popup__info-row">
          <p class="map-popup__info-name">Субъекты ДПО</p>
          <p class="map-popup__info-value">676</p>
        </div>
        <div class="map-popup__info-row">
          <p class="map-popup__info-name">Программы ДПО</p>
          <p class="map-popup__info-value">1235</p>
        </div>
      </div> -->
    </section>

    <section class="efs page__section page__section_width_content page__section_mt_l">
      <h2 class="section-title section-title_text-align_center">Единая информационная система</h2>
      <ul class="panels efs__panels">
        <li class="panels__item">
          <img src="./images/efs__icon_passport.svg" class="panels__icon" alt="Иконка медали">
          <h3 class="card-title">Паспорт ДПО</h3>
          <p class="panels__text">Актуальная ситуация с системой ДПО регионов</p>
        </li>
        <li class="panels__item">
          <img src="./images/efs__icon_lms.svg" class="panels__icon" alt="Иконка книги">
          <h3 class="card-title">Дневник LMS</h3>
          <p class="panels__text">Это интернет-среда для взаимодействия учителей, администраторов школ, родителей и учеников!</p>
        </li>
        <li class="panels__item">
          <img src="./images/efs__icon_registry.svg" class="panels__icon" alt="Иконка сетки">
          <h3 class="card-title">Реестр</h3>
          <p class="panels__text">Данные по программам ДПО, реализуемым в регионах Российской Федерации</p>
        </li>
      </ul>
    </section>

    <section class="news page__section page__section_width_content page__section_mt_l">
      <h2 class="section-title">Новости</h2>
      <div class="news-list news__news-list">
        <div class="news-list__cards">
          <article class="news-card">
            <img src="./upload/news-preview__cover1.jpg" alt="Чтения-2021" class="news-card__cover">
            <p class="news-card__date">20.10.2021</p>
            <a href="#" class="card-title news-card__card-title">На чтениях-2021 пройдет обсуждение проектов смешанного обучения и управлению удаленной работой</a>
            <p class="news-card__text">
              На Пастуховских чтениях-2021 пройдет обсуждение проектов рекомендаций по организации смешанного обучения и управлению удаленной работой – по формированию системы мотивации научной деятельности
            </p>
          </article>
          <article class="news-card">
            <img src="./upload/news-preview__cover2.jpg" alt="Чтения-2021" class="news-card__cover">
            <p class="news-card__date">20.10.2021</p>
            <a href="#" class="card-title news-card__card-title">Академия Пастухова получила статус Федеральной инновационной площадки</a>
            <p class="news-card__text">
              Член Союза ДПО ФГБОУ «Государственная академия промышленного менеджмента имени Н.П. Пастухова» приказом Министерства науки и высшего образования Российской Федерации от 25 декабря 2020 г. № 1580 признана федеральной инновационной
            </p>
          </article>
          <article class="news-card">
            <img src="./upload/news-preview__cover3.jpg" alt="Чтения-2021" class="news-card__cover">
            <p class="news-card__date">20.10.2021</p>
            <a href="#" class="card-title news-card__card-title">Об изменениях правил заполнения шаблонов ФИС ФРДО</a>
            <p class="news-card__text">
              Рособрнадзор России опубликовал важную информацию: Уважаемые пользователи федеральной информационной системы «Федеральный реестр сведений о документах об образовании и (или) о квалификации, документах
            </p>
          </article>
        </div>
        <a href="#" class="button button_theme_green button_border_rounded news-list__linkmore">Посмотреть все новости</a>
      </div>
    </section>

    <section class="digital-education  page__section page__section_width_content page__section_mt_l">
      <h2 class="section-title">Цифровое образование</h2>
      <ul class="partner-logos digital-education__partner-logos">
        <li class="partner-logos__item">
          <a href="#" class="partner-logos__link" target="_blank">
            <img src="upload/partner-logo1.png" alt="Яндекс" class="partner-logos__image">
          </a>
        </li>
        <li class="partner-logos__item">
          <a href="#" class="partner-logos__link" target="_blank">
            <img src="upload/partner-logo2.png" alt="Курчатовский институт" class="partner-logos__image">
          </a>
        </li>
        <li class="partner-logos__item">
          <a href="#" class="partner-logos__link" target="_blank">
            <img src="upload/partner-logo3.png" alt="Московский городской университет" class="partner-logos__image">
          </a>
        </li>
        <li class="partner-logos__item">
          <a href="#" class="partner-logos__link" target="_blank">
            <img src="upload/partner-logo4.png" alt="Московский государственный психолого-педагогический университет" class="partner-logos__image">
          </a>
        </li>
        <li class="partner-logos__item">
          <a href="#" class="partner-logos__link" target="_blank">
            <img src="upload/partner-logo5.png" alt="Федеральный институт оценки качества образования" class="partner-logos__image">
          </a>
        </li>
      </ul>
    </section>
  </main>

<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
  <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
  <script src="js/menuMain.min.js"></script>
  <script>
    const swiper = new Swiper('.main-slider__slider', {
      // Optional parameters
      loop: true,
      // Navigation arrows
      navigation: {
        nextEl: '.slider__arrow.slider__arrow_right',
        prevEl: '.slider__arrow.slider__arrow_left',
      },
    });
  </script>
</body>
</html>
