<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .conteiner {
           
            padding: 50px;
        }
        a {
            font-size: 24px;
            display: flex;
            margin-bottom: 20px;
        }
    </style>
    <div class="conteiner">
        <a href="./404.html">1</a>
        <a href="./auth.html">2</a>
        <a href="./auth_popup.html">3</a>
        <a href="./auth_right.html">4</a>
        <a href="./news.html">5</a>              
        <a href="./news-detail.html">6</a>              
        <a href="./organization.html">7</a>              
        <a href="./organization_cpn.html">8</a>              
        <a href="./region-detail.html">9</a>              
        <a href="./regions.html">10</a>              
    </div>
</body>
</html>