<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./libs/choices.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <title>лк админ субьект добавить</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header__site-link">Перейти на сайт</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/avatar_admin.png" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Рудковская А. М.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
      <section class="add-news page__section">
        <!-- <ul class="breadcrumbs page__breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Организации</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Регионы</a>
          </li>
          <li class="breadcrumbs__item">
            <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
          </li>
        </ul> -->
      
        <h1 class="section-title mb-50">Добавить организацию</h1>
        <form class="add-news__wrapper form">
            <div class="add-news__row">				
				<div class="select-form select-form--mb40">
					<label for="listenersRegion" class="form__label">Тип организации</label>
					<select name="listenersRegion" class="two">
						<option value="1" selected>Выберите тип организации</option>
						<option value="2">Пункт №1</option>
						<option value="3">Пункт №3</option>
						<option value="4">Пункт №4</option>
						<option value="4">Пункт №5</option>
						<option value="4">Пункт №6</option>
					</select>
				</div>				
				<div class="select-form select-form--mb40">
					<label for="listenersRegion" class="form__label">Регион</label>
					<select name="listenersRegion" class="two">
						<option value="1" selected>Выберите регион</option>
						<option value="2">Пункт №1</option>
						<option value="3">Пункт №3</option>
						<option value="4">Пункт №4</option>
						<option value="4">Пункт №5</option>
						<option value="4">Пункт №6</option>
					</select>
				</div>				
				<div class="new-listeners__block block_white  block_white--w760">
					<div class="new-listeners_tabs-form__line form__item">
						<label for="newListenersSnils" class="form__label">Название организации</label>
						<input
						type="text"
						class="spollers-body__input form-input__border"
						id="newListenersSnils"
						placeholder=""
					>
					<span class="form__label-three"></span>
					</div>
				</div>							
				<div class="new-listeners__block block_white  block_white--w760">
					<div class="new-listeners_tabs-form__line form__item">
						<label for="newListenersSnils" class="form__label">Полное наименование организации (по Уставу)</label>
						<input
						type="text"
						class="spollers-body__input form-input__border"
						id="newListenersSnils"
						placeholder=""
					>
					<span class="form__label-three"></span>
					</div>
				</div>							
                
                <div class="add-news__line form__item">
                    <button type="submit" class="button button_theme_green button_border_small form__submit">Далее</button>
                </div>
			</div>
        </form>
      </section>
    </main>
    
  </div>
  <script src="./libs/choices.min.js"></script>
  <script src="js/app.min.js"></script>
<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
