<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>лк админ ЦНППМ описание документы методисты  </title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header-link header__add_news-link">Добавить новость</a>
        <a href="" class="header-link header__site-link">Перейти на сайт</a>
        <a href="" class="header-link header__log-link">Логирование</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/avatar_admin.png" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Рудковская А. М.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
            <i class="sidebar__menu-item-icon sidebar__menu-item_icon_listener"></i>
            <span class="sidebar__menu-item-text">Добавить <br>
                слушателя</span>
          </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
        <a href="#" class="sidebar__menu-item">
            <i class="sidebar__menu-item-icon sidebar__menu-item_icon_notification"></i>
            <span class="sidebar__menu-item-text">Уведомления <br>
                и рассылки</span>
          </a>
      </nav>
    </aside>
    <main class="admin_subject-edit content content_cabinet">
      <section class="form-detail page__section">
        <ul class="breadcrumbs page__breadcrumbs">
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link breadcrumbs__link--icon">Назад</a>
			</li>         
        </ul>
        <div class="form-detail__top">
            <h1 class="section-title">ЦНППМ ГАОУ ДПО ИРОСО</h1>
			<span class="section-sublitle">Центр непрерывного повышения профессионального мастерства ГАОУ ДПО «Институт развития образования Сахалинской области»</span>
        </div>
       
        <div class="form-detail__wrapper wrapper-max_width-m">
            <div class="tabs form-detail__tabs _tabs">
                <nav class="tabs__navigation">
                    <button type="submit" class="tabs__title _tabs-item _active">Описание</button>
                    <button type="submit" class="tabs__title _tabs-item ">Сотрудники</button>
                    <button type="submit" class="tabs__title _tabs-item ">Правовые документы</button>
                    <button type="submit" class="tabs__title _tabs-item ">Методисты</button>
                </nav>
                <div class="tabs__content">
                    <div class="tabs__body _tabs-block _active">
						<form class="admin_subject-edit__body width_m from">                           
							<div class="admin_subject-edit__block block_white">
								<div class="admin_subject-edit_tabs-form__line form__item">
								<label for="adminSubjectEditFullname" class="form__label">Телефон</label>
								<div class="form__item-phone">
									<span>+7</span>
									<input
									type="text"
									class="spollers-body__input form-input__border _phone"
									id="adminSubjectEditFullname"
									placeholder="424 245-41-00"
								>
								</div>
								
								</div>
							</div>
							<div class="admin_subject-edit__block block_white">
								<div class="admin_subject-edit_tabs-form__line form__item">
								<label for="adminSubjectEditAddress" class="form__label">Юридический адрес</label>
								<input
								type="text"
								class="spollers-body__input form-input__border"
								id="adminSubjectEditAddress"
								placeholder="Пограничная ул., 42, Южно-Сахалинск, Сахалинская обл."
								>
								</div>
							</div>
							<div class="admin_subject-edit__block block_white">
								<div class="admin_subject-edit_tabs-form__line form__item">
								<label for="adminSubjectEditEmail" class="form__label">Email</label>
								<input
								type="mail"
								class="spollers-body__input form-input__border"
								id="adminSubjectEditEmail"
								placeholder="sahalineducation@gmail.com"
								>
								</div>
							</div>
							<div class="admin_subject-edit__block block_white">
								<div class="admin_subject-edit_tabs-form__line form__item">
								<label for="adminSubjectEditEmail" class="form__label">Адрес сайта</label>
								<input
								type="mail"
								class="spollers-body__input form-input__border"
								id="adminSubjectEditEmail"
								placeholder="sahalineducation@gmail.com"
								>
								</div>
							</div>
							<div class="admin_subject-edit__block block_white">
								<div class="admin_subject-edit_tabs-form__line form__item">
								<label for="adminSubjectEditDesc" class="form__label">Описание</label>
								<textarea autocomplete="off"  type="text"
								class="spollers-body__input form-input__border form-input__textarea"
								id="adminSubjectEditDesc"
								placeholder="Федеральный научно-исследовательский центр «Кристаллография и фотоника» Российской академии наук создан в апреле 2016 года на базе Института кристаллографии им. А.В. Шубникова РАН. 
								В настоящее время в состав ФНИЦ «Кристаллография и фотоника» РАН входят три структурных подразделения: «Институт кристаллографии им. А.В. Шубникова» РАН», «Центр фотохимии РАН» и «Институт фотонных технологий РАН»; а также три филиала: «Институт проблем лазерных и информационных технологий РАН», «Институт систем обработки изображений РАН» и «Лаборатория космического материаловедения ИК РАН»."></textarea>
								
								</div>
							</div>
						</form>
                         <div class="admin_subject-edit__btn">
                          	<button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить</button>
                         </div>
					</div>                    
                                      
                    <div class="tabs__body _tabs-block ">
                      <div class="admin_subject-edit__body row-spollers width_m">
                        <div data-spollers class="spollers">
							<div class="spollers__item">
								<button type="button" data-spoller class="spollers__title">							
									<span> Директор</span>
								</button>
								<div class="spollers__body">
									<div class="spollers__body-wrap">
										<div class="spollers__body-line">
											<div class="spollers__body-caption form__label-two">
											ФИО
											</div>
											<div class="spollers__body-info">
											<input autocomplete="off" type="text" name="form[]"placeholder="Константипольский Константин Константинович." class="spollers__body-input form-input__border">
											</div>
										</div>
										<div class="spollers__body-line">
										<div class="spollers__body-caption form__label-two">
											Описание
										</div>
										<div class="spollers__body-info">
										<input autocomplete="off" type="text" name="form[]"placeholder="Стаж руководящей должности 15 лет, Кандидат педагогических наук." class="spollers__body-input form-input__border">
										</div>
									</div>								
									<button type="submit" class="button button_theme_green--empty button_border_small form__submit">Загрузить фото</button>
									</div>
								</div>
                        	</div>
							<div class="admin_subject-edit__btn  admin_subject-edit_add-btn">
								<button type="submit" class="button button_theme_green--empty button_border_small form__submit">Добавить сотрудника</button>
							</div>                           
							<div class="form-detail__row row-spollers">
								<div data-spollers class="spollers">
									<div class="spollers__item">
										<button type="button" data-spoller class="spollers__title">
											<div class="spollers__title-edit">
												<ul>
													<li>
														<a href="#">Дублировать</a>
													</li>
													<li>
														 <a href="#">Выключить</a>
													 </li>
													 <li>
														 <a href="#">Удалить</a>
													 </li>
													 <li>
														 <a href="#">Вверх</a>
													 </li>
													 <li>
														 <a href="#">Вниз</a>
													 </li>
												</ul>
											</div>
										   <span>Заместитель 1</span>
										 </button>
										<div class="spollers__body">
											<div class="spollers__body-wrap">
												<div class="spollers__body-line">
													<div class="spollers__body-caption">
														ФИо сотрудника
													</div>
													<div class="spollers__body-info">
													 <input autocomplete="off" type="text" name="form[]"placeholder="Константипольский Константин Константинович" class="spollers__body-input">
													</div>
												</div>
												<div class="spollers__body-line">
													 <div class="spollers__body-caption">
														должность сотрудника
													 </div>
													 <div class="spollers__body-info">
														 <input autocomplete="off" type="text" name="form[]"placeholder="Заместитель 1" class="spollers__body-input">
	 
													 </div>
												</div>
											</div>
										</div>
									</div>									
								</div>
							</div>
							<div class="form-detail__row row-spollers">
								<div data-spollers class="spollers">
									<div class="spollers__item">
										<button type="button" data-spoller class="spollers__title">
											<div class="spollers__title-edit">
												<ul>
													<li>
														<a href="#">Дублировать</a>
													</li>
													<li>
														 <a href="#">Выключить</a>
													 </li>
													 <li>
														 <a href="#">Удалить</a>
													 </li>
													 <li>
														 <a href="#">Вверх</a>
													 </li>
													 <li>
														 <a href="#">Вниз</a>
													 </li>
												</ul>
											</div>
										   <span>Начальник Центра мониторинга и статистики образования</span>
										 </button>
										<div class="spollers__body">
											<div class="spollers__body-wrap">
												<div class="spollers__body-line">
													<div class="spollers__body-caption">
														ФИо сотрудника
													</div>
													<div class="spollers__body-info">
													 <input autocomplete="off" type="text" name="form[]"placeholder="Константипольский Константин Константинович" class="spollers__body-input">
													</div>
												</div>
												<div class="spollers__body-line">
													 <div class="spollers__body-caption">
														должность сотрудника
													 </div>
													 <div class="spollers__body-info">
														 <input autocomplete="off" type="text" name="form[]"placeholder="Начальник Центра мониторинга и статистики образования" class="spollers__body-input">
	 
													 </div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
							<div class="form-detail__row row-spollers">
								<div data-spollers class="spollers">
									<div class="spollers__item">
										<button type="button" data-spoller class="spollers__title">
											<div class="spollers__title-edit">
												<ul>
													<li>
														<a href="#">Дублировать</a>
													</li>
													<li>
														 <a href="#">Выключить</a>
													 </li>
													 <li>
														 <a href="#">Удалить</a>
													 </li>
													 <li>
														 <a href="#">Вверх</a>
													 </li>
													 <li>
														 <a href="#">Вниз</a>
													 </li>
												</ul>
											</div>
										   <span>Заместитель 2</span>
										 </button>
										<div class="spollers__body">
											<div class="spollers__body-wrap">
												<div class="spollers__body-line">
													<div class="spollers__body-caption">
														ФИо сотрудника
													</div>
													<div class="spollers__body-info">
													 <input autocomplete="off" type="text" name="form[]"placeholder="Константипольский Константин Константинович" class="spollers__body-input">
													</div>
												</div>
												<div class="spollers__body-line">
													 <div class="spollers__body-caption">
														должность сотрудника
													 </div>
													 <div class="spollers__body-info">
														 <input autocomplete="off" type="text" name="form[]"placeholder="Заместитель 1" class="spollers__body-input">
	 
													 </div>
												</div>
											</div>
										</div>
									</div>
									
								</div>
							</div>
                        </div>
                        
                     </div>
                     <div class="admin_subject-edit__btn">
                      <button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить</button>
                     </div>
                    </div>

                    <div class="tabs__body _tabs-block ">
						<form class="admin_subject-edit__body row-spollers width_m form">                        
							<div class="admin_subject-edit__block block_white">                           
								<div class="events-content__item">								
									<ol class="events-content__item-list">
										<li class="events-content__item-box">
											<a href="3" class="events-content__item-box-link">Презентация выступления И.А. Рогалевич <span>(.ppt 7,6 MБ)</span></a>
											<div class="events-content__item-box-icons form__item-btn">
												<div class="form__item-close"></div>
												<div class="form__item-pen"></div>
											</div>
										</li>
										<li class="events-content__item-box">
											<a href="3" class="events-content__item-box-link">Презентация к игре «Осторожно! Критика» <span>(.ppt 511 КБ)</span></a>
											<div class="events-content__item-box-icons form__item-btn">
												<div class="form__item-close"></div>
												<div class="form__item-pen"></div>
											</div>
										</li>
										<li class="events-content__item-box">
											<a href="3" class="events-content__item-box-link">Сценарий проведения деловой игры  <span>(.doc 33 КБ)</span></a>
											<div class="events-content__item-box-icons form__item-btn">
												<div class="form__item-close"></div>
												<div class="form__item-pen"></div>
											</div>
										</li>
										<li class="events-content__item-box">
											<a href="3" class="events-content__item-box-link">Презентация выступления И.А. Рогалевич <span>(.ppt 7,6 MБ)</span></a>
											<div class="events-content__item-box-icons form__item-btn">
												<div class="form__item-close"></div>
												<div class="form__item-pen"></div>
											</div>
										</li>
										<li class="events-content__item-box">
											<a href="3" class="events-content__item-box-link">Презентация к игре «Осторожно! Критика» <span>(.ppt 511 КБ)</span></a>
											<div class="events-content__item-box-icons form__item-btn">
												<div class="form__item-close"></div>
												<div class="form__item-pen"></div>
											</div>
										</li>
										<li class="events-content__item-box">
											<a href="3" class="events-content__item-box-link">Сценарий проведения деловой игры  <span>(.doc 33 КБ)</span></a>
											<div class="events-content__item-box-icons form__item-btn">
												<div class="form__item-close"></div>
												<div class="form__item-pen"></div>
											</div>
										</li>
									</ol>
									<a href="#" class="thing__add">+ добавить материал</a>
								</div>                          
							</div>                      
						</form>
                     <div class="admin_subject-edit__btn">
                      <button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить</button>
                     </div>
                    </div>  

                    <div class="tabs__body _tabs-block ">
						<form class="admin_subject-edit__body row-spollers width_m form">
							<div class="admin_subject-edit__btn  admin_subject-edit_add-btn">
								<button type="submit" class="button button_theme_green--empty button_border_small form__submit">Добавить методиста</button>
							</div>
							<div class="admin_subject-edit__body row-spollers width_m">
								<div data-spollers class="spollers">									                          
									<div class="form-detail__row row-spollers">
										<div data-spollers class="spollers">
											<div class="spollers__item">
												<button type="button" data-spoller class="spollers__title">
													<div class="spollers__title-edit">
														<ul>
															<li>
																<a href="#">Дублировать</a>
															</li>
															<li>
																 <a href="#">Выключить</a>
															 </li>
															 <li>
																 <a href="#">Удалить</a>
															 </li>
															 <li>
																 <a href="#">Вверх</a>
															 </li>
															 <li>
																 <a href="#">Вниз</a>
															 </li>
														</ul>
													</div>
												   <span>Смирнова Н. Е.</span>
												 </button>
												<div class="spollers__body">
													<div class="spollers__body-wrap">
														<div class="form__item-row">
															<label for="adminSubjectNameProgramm" class="form__label-two">предмет</label>
															<select name="adminSubjectNameProgramm" class="select_three">
															  <option value="1" selected>Математика</option>
															  <option value="2">Пункт №2</option>
															  <option value="3">Пункт №3</option>
															  <option value="4">Пункт №4</option>
															</select>
														</div>
														<div class="spollers__body-line">
															<div class="spollers__body-caption">
																ФИо сотрудника
															</div>
															<div class="spollers__body-info">
															 <input autocomplete="off" type="text" name="form[]"placeholder="Константипольский Константин Константинович" class="spollers__body-input">
															</div>
														</div>
														<div class="spollers__body-line">
															 <div class="spollers__body-caption">
																должность сотрудника
															 </div>
															 <div class="spollers__body-info">
																 <input autocomplete="off" type="text" name="form[]"placeholder="Заместитель 1" class="spollers__body-input">
			 
															 </div>
														</div>
														<div class="spollers__body-line">
															<label for="adminSubjectEditFullname" class="form__label">Телефон</label>
															<div class="form__item-phone">
																<span>+7</span>
																<input
																type="text"
																class="spollers-body__input form-input__border _phone"
																id="adminSubjectEditFullname"
																placeholder="424 245-41-00"
															>
															</div>
															
														</div>
														<div class="spollers__body-line">
															 <div class="spollers__body-caption">
																email
															 </div>
															 <div class="spollers__body-info">
																 <input autocomplete="off" type="text" name="form[]"placeholder="sahalineducation@efs.com" class="spollers__body-input">
			 
															 </div>
														</div>
													</div>
												</div>
											</div>									
											<div class="spollers__item">
												<button type="button" data-spoller class="spollers__title">
													<div class="spollers__title-edit">
														<ul>
															<li>
																<a href="#">Дублировать</a>
															</li>
															<li>
																 <a href="#">Выключить</a>
															 </li>
															 <li>
																 <a href="#">Удалить</a>
															 </li>
															 <li>
																 <a href="#">Вверх</a>
															 </li>
															 <li>
																 <a href="#">Вниз</a>
															 </li>
														</ul>
													</div>
												   <span>Красноперова В. Ф.</span>
												 </button>
												<div class="spollers__body">
													<div class="spollers__body-wrap">
														<div class="form__item-row">
															<label for="adminSubjectNameProgramm" class="form__label-two">предмет</label>
															<select name="adminSubjectNameProgramm" class="select_three">
															  <option value="1" selected>Математика</option>
															  <option value="2">Пункт №2</option>
															  <option value="3">Пункт №3</option>
															  <option value="4">Пункт №4</option>
															</select>
														</div>
														<div class="spollers__body-line">
															<div class="spollers__body-caption">
																ФИо сотрудника
															</div>
															<div class="spollers__body-info">
															 <input autocomplete="off" type="text" name="form[]"placeholder="Константипольский Константин Константинович" class="spollers__body-input">
															</div>
														</div>
														<div class="spollers__body-line">
															 <div class="spollers__body-caption">
																должность сотрудника
															 </div>
															 <div class="spollers__body-info">
																 <input autocomplete="off" type="text" name="form[]"placeholder="Заместитель 1" class="spollers__body-input">
			 
															 </div>
														</div>
														<div class="spollers__body-line">
															<label for="adminSubjectEditFullname" class="form__label">Телефон</label>
															<div class="form__item-phone">
																<span>+7</span>
																<input
																type="text"
																class="spollers-body__input form-input__border _phone"
																id="adminSubjectEditFullname"
																placeholder="424 245-41-00"
															>
															</div>
															
														</div>
														<div class="spollers__body-line">
															 <div class="spollers__body-caption">
																email
															 </div>
															 <div class="spollers__body-info">
																 <input autocomplete="off" type="text" name="form[]"placeholder="sahalineducation@efs.com" class="spollers__body-input">
			 
															 </div>
														</div>
													</div>
												</div>
											</div>									
											<div class="spollers__item">
												<button type="button" data-spoller class="spollers__title">
													<div class="spollers__title-edit">
														<ul>
															<li>
																<a href="#">Дублировать</a>
															</li>
															<li>
																 <a href="#">Выключить</a>
															 </li>
															 <li>
																 <a href="#">Удалить</a>
															 </li>
															 <li>
																 <a href="#">Вверх</a>
															 </li>
															 <li>
																 <a href="#">Вниз</a>
															 </li>
														</ul>
													</div>
												   <span>Казакова Г. А.</span>
												 </button>
												<div class="spollers__body">
													<div class="spollers__body-wrap">
														<div class="form__item-row">
															<label for="adminSubjectNameProgramm" class="form__label-two">предмет</label>
															<select name="adminSubjectNameProgramm" class="select_three">
															  <option value="1" selected>Математика</option>
															  <option value="2">Пункт №2</option>
															  <option value="3">Пункт №3</option>
															  <option value="4">Пункт №4</option>
															</select>
														</div>
														<div class="spollers__body-line">
															<div class="spollers__body-caption">
																ФИо сотрудника
															</div>
															<div class="spollers__body-info">
															 <input autocomplete="off" type="text" name="form[]"placeholder="Константипольский Константин Константинович" class="spollers__body-input">
															</div>
														</div>
														<div class="spollers__body-line">
															 <div class="spollers__body-caption">
																должность сотрудника
															 </div>
															 <div class="spollers__body-info">
																 <input autocomplete="off" type="text" name="form[]"placeholder="Заместитель 1" class="spollers__body-input">
			 
															 </div>
														</div>
														<div class="spollers__body-line">
															<label for="adminSubjectEditFullname" class="form__label">Телефон</label>
															<div class="form__item-phone">
																<span>+7</span>
																<input
																type="text"
																class="spollers-body__input form-input__border _phone"
																id="adminSubjectEditFullname"
																placeholder="424 245-41-00"
															>
															</div>
															
														</div>
														<div class="spollers__body-line">
															 <div class="spollers__body-caption">
																email
															 </div>
															 <div class="spollers__body-info">
																 <input autocomplete="off" type="text" name="form[]"placeholder="sahalineducation@efs.com" class="spollers__body-input">
			 
															 </div>
														</div>
													</div>
												</div>
											</div>									
										</div>
									</div>									
								</div>								
							</div>
								
							
						</form>
						<div class="admin_subject-edit__btn">
						<button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить</button>
						</div>
                    </div>               
                 
                </div>
            </div>
        </form>
      </section>
    </main>
    
  </div>
  <script src="https://cdn.jsdelivr.net/npm/inputmask@5.0.6/dist/inputmask.min.js"></script>

  <script src="js/app.min.js"></script>
  <footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
    <!--Добавить к popup-new  _active --> 
	<div class="popup-new popup__master">
		<div class="popup__content ">
			<div class="popup__body">
				<div class="popup__close"></div>
				<div class="popup__body-wrap body-wrap">
					<div class="body-wrap__content events-content form-block">
						<label class="form-block__inner">
							<div class="form-block__name name-title">Название файла</div>
							<input type="text" class="form-block__input" placeholder="Введите название файла">
						</label>
						<label class="form-block__inner">
							<div class="form-block__name name-title">Файл</div>
							<input type="file" class="form-block__input form-block__input--real" placeholder="Выберите файл с диска компьютера или добавьте ссылку">						
							<div class="form-block__input-custom">Выберите файл с диска компьютера или добавьте ссылку</div>
						</label>
						<div class="events-content__item-button">
							<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Сохранить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Добавить к popup-new  _active --> 
	<div class="popup-new popup__master ">
		<div class="popup__content">
			<div class="popup__body">
				<div class="popup__close"></div>
				<div class="popup__body-wrap body-wrap">
					<div class="body-wrap__content events-content form-block">
						<div class="events-content__item events-content__item--line">
							<div class="events-content__item-name">Название файла</div>
							<div class="events-title">Презентация выступления И.А. Рогалевич</div>
						</div>
						<div class="events-content__item events-content__item--line">
							<div class="events-content__item-name">Файл</div>
							<div class="events-content__item-file-box">
								<div class="events-title">1111111.ppt (7,6 МБ)</div>
								<span>
									<svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path d="M12 4L4 12" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									<path d="M4 4L12 12" stroke="#BDBDBD" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
									</svg>
								</span>
							</div>							
						</div>						
						<div class="events-content__item-button">
							<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Сохранить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

  	


</body>
</html>
