<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./libs/choices.min.css">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Фед.методист опросы</title>
</head>
<body class="page">
    <header class="header">
        <div class="header__inner header__inner_page_cabinet">
          <div class="header__column header__column_direct_row">
            <a href="/" class="logo logo_page_cabinet"></a>
            <a href="" class="header-link header__add_news-link">Добавить новость</a>
            <a href="" class="header-link header__site-link">Перейти на сайт</a>
            <a href="" class="header-link header__log-link active">Логирование</a>
          </div>
          <div class="header__column header__column_direct_row-end">
            <a href="" class="header__question-link">
              <img src="upload/avatar_m_f.png" class="header__avatar" alt="Аватар пользователя">
              <span class="header__questionname">Суздаль С. В.</span>
            </a>
            <div class="header__controls">
              <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
              <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
            </div>
          </div>
        </div>
      </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
		<button class="sidebar__toggle"></button>
		<nav class="sidebar__menu">
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_questions"></i>
			<span class="sidebar__menu-item-text">Пользователи</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
			<span class="sidebar__menu-item-text">Формы</span>
			</a>
			<a href="#" class="sidebar__menu-item sidebar__menu-item_active">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
			<span class="sidebar__menu-item-text">Организации</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
			<span class="sidebar__menu-item-text">Отчеты</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
			<span class="sidebar__menu-item-text">Карта</span>
			</a>
		</nav>
    </aside>
    <main class="content content_federal">
		<section class="questions page__section">        
			<div class="questions__top">
				<h1 class="section-title">опросы</h1>
				<a href="#" class="questions__add">+ новый опрос</a>
			</div>
			<div class="form-detail__wrapper wrapper-max_width-m">
				<div class="tabs form-detail__tabs _tabs">
					<nav class="tabs__navigation">
						<button type="submit" class="tabs__title _tabs-item _active">Опросы</button>
						<button type="submit" class="tabs__title _tabs-item ">Черновики</button>						
					</nav>
					<div class="tabs__content">
						<div class="tabs__body _tabs-block  _active">
							<div class="events-wrap">    
								<div class="events-row events-row--jc">
									<h3 class="events__title events__title--icon">Текущие опросы</h3>
									<div class="events__filter">
										<div class="events__filter-item">
											<div class="events__filter-box-arrow box-arrow">
												<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
												<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
											</div>
											<div class="events__filter-name">Дата</div>
										</div>
										<div class="events__filter-item">
											<div class="events__filter-box-arrow box-arrow">
												<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
												<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
											</div>
											<div class="events__filter-name">Тип</div>
										</div>
									</div>
								</div>
								
								<div class="events-row events-card-wr">
									<article class="events-card">
										<div class="events-card__header events-card__header--orange">учителя</div>
										<div class="events-card__title mt-20">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user"><span>32</span> из 48 уже прошли опрос</div>
											<div class="events-card__text events-card__text--question">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Завершить</button>											
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--orange">учителя</div>
										<div class="events-card__title mt-20">«Анализ и планирование методической работы»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user"><span>32</span> из 48 уже прошли опрос</div>
											<div class="events-card__text events-card__text--question">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Завершить</button>											
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--purple">методисты</div>
										<div class="events-card__title mt-20">«Педагогическое взаимодействие – важнейшее условие эффективности образовательного процесса»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user"><span>32</span> из 48 уже прошли опрос</div>
											<div class="events-card__text events-card__text--question">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Завершить</button>											
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--purple">методисты</div>
										<div class="events-card__title mt-20">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user"><span>32</span> из 48 уже прошли опрос</div>
											<div class="events-card__text events-card__text--question">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Завершить</button>											
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--purple">методисты</div>
										<div class="events-card__title mt-20">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user"><span>32</span> из 48 уже прошли опрос</div>
											<div class="events-card__text events-card__text--question">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Завершить</button>											
										</div>
									</article>
								</div>
								<div class="events-row events-row--jc">
									<h3 class="events__title">Завершенные опросы</h3>									
									<div class="events__filter">
										<div class="events__filter-item">
											<div class="events__filter-box-arrow box-arrow">
												<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
												<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
											</div>
											<div class="events__filter-name">Дата</div>
										</div>
										<div class="events__filter-item">
											<div class="events__filter-box-arrow box-arrow">
												<div class="arrow arrow-up"><img loading='lazy' width='7' height='5' src='./images/arrow_up.svg' alt='стрелка вверх'></div>
												<div class="arrow arrow-do"><img loading='lazy' width='7' height='5' src='./images/arrow_down.svg' alt='стрелка вниз'></div>
											</div>
											<div class="events__filter-name">Тип</div>
										</div>
									</div>
								</div>								
								<div class="events-row events-card-wr events-card--opacity">
									<article class="events-card">
										<div class="events-card__header events-card__header--orange">учителя</div>
										<div class="events-card__title mt-20">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user-grey"><span>32</span> из 48 уже прошли опрос</div>
											<div class="events-card__text events-card__text--q-grey ">16 вопросов</div>
										</div>										
										<div class="events-card__btn">											
											<a href="#" class="new-card-btn__link">Подробнее</a>
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--orange">учителя</div>
										<div class="events-card__title mt-20">«Анализ и планирование методической работы»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user-grey"><span>32</span> из 48 уже прошли опрос</div>
											<div class="events-card__text events-card__text--q-grey ">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<a href="#" class="new-card-btn__link">Подробнее</a>
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--orange">учителя</div>
										<div class="events-card__title mt-20">«Педагогическое взаимодействие – важнейшее условие эффективности образовательного процесса»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user-grey"><span>32</span> из 48 уже прошли опрос</div>
											<div class="events-card__text events-card__text--q-grey ">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<a href="#" class="new-card-btn__link">Подробнее</a>
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--purple">методисты</div>
										<div class="events-card__title mt-20">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user-grey"><span>32</span> из 48 уже прошли опрос</div>
											<div class="events-card__text events-card__text--q-grey ">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<a href="#" class="new-card-btn__link">Подробнее</a>
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--purple">методисты</div>
										<div class="events-card__title mt-20">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal-grey">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user-grey"><span>32</span> из 48 уже прошли опрос</div>
											<div class="events-card__text events-card__text--q-grey ">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<a href="#" class="new-card-btn__link">Подробнее</a>
										</div>
									</article>
								</div>
							</div>                    
						</div>						
						<div class="tabs__body _tabs-block">
							<div class="events-wrap">												
								<div class="events-row events-card-wr">
									<article class="events-card">
										<div class="events-card__header events-card__header--orange">учителя</div>
										<div class="events-card__title mt-20">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user">48 методистов добавлено</div>
											<div class="events-card__text events-card__text--question">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Завершить</button>	
											<a href="#" class="new-card-btn__link">Подробнее</a>										
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--orange">учителя</div>
										<div class="events-card__title mt-20">«Анализ и планирование методической работы»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user">48 методистов добавлено</div>
											<div class="events-card__text events-card__text--question">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Завершить</button>	
											<a href="#" class="new-card-btn__link">Подробнее</a>										
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--purple">методисты</div>
										<div class="events-card__title mt-20">«Педагогическое взаимодействие – важнейшее условие эффективности образовательного процесса»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user">48 методистов добавлено</div>
											<div class="events-card__text events-card__text--question">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Завершить</button>	
											<a href="#" class="new-card-btn__link">Подробнее</a>										
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--purple">методисты</div>
										<div class="events-card__title mt-20">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user">48 методистов добавлено</div>
											<div class="events-card__text events-card__text--question">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Завершить</button>	
											<a href="#" class="new-card-btn__link">Подробнее</a>										
										</div>
									</article>
									<article class="events-card">
										<div class="events-card__header events-card__header--purple">методисты</div>
										<div class="events-card__title mt-20">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</div>										
										<div class="events-card__wr-text">
											<div class="events-card__text events-card__text--cal">20 января 2022 - 23 января 2022</div>
											<div class="events-card__text events-card__text--user">48 методистов добавлено</div>
											<div class="events-card__text events-card__text--question">16 вопросов</div>
										</div>										
										<div class="events-card__btn">
											<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Завершить</button>	
											<a href="#" class="new-card-btn__link">Подробнее</a>										
										</div>
									</article>
								</div>								
							</div>                
						</div>
					</div>
				</div>
			</div>        
		</section>
    </main>    
  </div>
  <script src="./libs/choices.min.js"></script>
  <script src="js/app.min.js"></script>
	<footer class="footer footer-no--bg">
		<div class="footer__inner">
			© Все права защищены
		</div>
	</footer>
	<!-- popup-new popup-cabinet _active -->
	<div class="popup-new popup-cabinet">
		<div class="popup__content">
			<div class="popup__body">
				<div class="popup__close"></div>
				<div class="popup__body-wrap body-wrap">
					<div class="popup-cabinet__title">Выбрано 2 методиста</div>
					<input type="search" name="search" class="form__input-edit popup-cabinet__search form__input-edit_type_search" id="search">
					<ul class="popup-cabinet__list cabinet-list">
						<li class="cabinet-item">
							<div class="checkbox">								
								<label class="checkbox-block ">
									<input type="checkbox" name="" class="real-input">
									<span class=" custom-input--square"></span>									
								</label>
							</div>
							<div class="cabinet-item__text-wr">
								<div class="cabinet-item__name">Все методисты</div>								
							</div>							
						</li>
						<li class="cabinet-item">
							<div class="checkbox">								
								<label class="checkbox-block ">
									<input type="checkbox" name="" class="real-input">
									<span class=" custom-input--square"></span>									
								</label>
							</div>
							<div class="cabinet-item__text-wr">
								<div class="cabinet-item__name">Фролова Мария Андреевна</div>
								<div class="cabinet-item__adress"> Белгород, Школа номер 11</div>
							</div>							
						</li>
						<li class="cabinet-item">
							<div class="checkbox">								
								<label class="checkbox-block ">
									<input type="checkbox" name="" class="real-input">
									<span class=" custom-input--square"></span>									
								</label>
							</div>
							<div class="cabinet-item__text-wr">
								<div class="cabinet-item__name">Панкратова Алиса Ильинична</div>
								<div class="cabinet-item__adress">Губкин, Школа номер 13</div>
							</div>							
						</li>
						<li class="cabinet-item">
							<div class="checkbox">								
								<label class="checkbox-block ">
									<input type="checkbox" name="" class="real-input">
									<span class=" custom-input--square"></span>									
								</label>
							</div>
							<div class="cabinet-item__text-wr">
								<div class="cabinet-item__name">Павлова Диана Ивановна</div>
								<div class="cabinet-item__adress"> Белгород, Школа номер 11</div>
							</div>							
						</li>
						<li class="cabinet-item">
							<div class="checkbox">								
								<label class="checkbox-block ">
									<input type="checkbox" name="" class="real-input">
									<span class=" custom-input--square"></span>									
								</label>
							</div>
							<div class="cabinet-item__text-wr">
								<div class="cabinet-item__name">Павлова Диана Ивановна</div>
								<div class="cabinet-item__adress">Белгород, Школа номер 11</div>
							</div>							
						</li>
						<li class="cabinet-item">
							<div class="checkbox">								
								<label class="checkbox-block ">
									<input type="checkbox" name="" class="real-input">
									<span class=" custom-input--square"></span>									
								</label>
							</div>
							<div class="cabinet-item__text-wr">
								<div class="cabinet-item__name">Фролова Мария Андреевна</div>
								<div class="cabinet-item__adress"> Белгород, Школа номер 11</div>
							</div>							
						</li>
						<li class="cabinet-item">
							<div class="checkbox">								
								<label class="checkbox-block ">
									<input type="checkbox" name="" class="real-input">
									<span class=" custom-input--square"></span>									
								</label>
							</div>
							<div class="cabinet-item__text-wr">
								<div class="cabinet-item__name">Панкратова Алиса Ильинична</div>
								<div class="cabinet-item__adress">Губкин, Школа номер 13</div>
							</div>							
						</li>
						<li class="cabinet-item">
							<div class="checkbox">								
								<label class="checkbox-block ">
									<input type="checkbox" name="" class="real-input">
									<span class=" custom-input--square"></span>									
								</label>
							</div>
							<div class="cabinet-item__text-wr">
								<div class="cabinet-item__name">Павлова Диана Ивановна</div>
								<div class="cabinet-item__adress"> Белгород, Школа номер 11</div>
							</div>							
						</li>
						<li class="cabinet-item">
							<div class="checkbox">								
								<label class="checkbox-block ">
									<input type="checkbox" name="" class="real-input">
									<span class=" custom-input--square"></span>									
								</label>
							</div>
							<div class="cabinet-item__text-wr">
								<div class="cabinet-item__name">Павлова Диана Ивановна</div>
								<div class="cabinet-item__adress">Белгород, Школа номер 11</div>
							</div>							
						</li>
						
					</ul>
					<div class="popup-cabinet__btn">						
						<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Добавить (2)</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- popup-new popup-cabinet _active -->
	<div class="popup-new popup-cabinet">
		<div class="popup__content">
			<div class="popup__body">
				<div class="popup__close"></div>
				<div class="popup__body-wrap body-wrap">
					<div class="popup-cabinet__title">Для кого опрос?</div>					
					<ul class="popup-cabinet__list popup-cabinet__list--h-none cabinet-list">
						<li class="cabinet-item">
							<label class="wr-radio">
								<input type="radio" name="Вопрос 2" value="Для региональных методистов" class="real-radio">
								<span class="custom-radio"></span>
								<span class="text-radio cabinet-item__name">Для региональных методистов</span>								
							</label>							
						</li>
						<li class="cabinet-item">							
							<label class="wr-radio">
								<input type="radio" name="Вопрос 2" value="Для учителей" class="real-radio">
								<span class="custom-radio"></span>
								<span class="text-radio cabinet-item__name">Для учителей</span>								
							</label>													
						</li>								
					</ul>
					<div class="popup-cabinet__btn">						
						<button type="submit" class="button button_theme_green button_border_small form__submit button_news">Создать</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
