<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>ЛК Фед. Методист ИОУ</title>
</head>
<body class="page">
	<header class="header">
		<div class="header__inner header__inner_page_cabinet">
		<div class="header__column header__column_direct_row">
			<a href="/" class="logo logo_page_cabinet"></a>
			<a href="" class="header__site-link">Перейти на сайт</a>
		</div>
		<div class="header__column header__column_direct_row-end">
			<a href="" class="header__user-link">
			<img src="upload/avatar_m_f.png " class="header__avatar" alt="Аватар пользователя">
			<span class="header__username">Суздаль С.В.</span>
			</a>
			<div class="header__controls">
			<a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
			<a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
			</div>
		</div>
		</div>
	</header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
		<button class="sidebar__toggle"></button>
		<nav class="sidebar__menu">
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
			<span class="sidebar__menu-item-text">Пользователи</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
			<span class="sidebar__menu-item-text">Формы</span>
			</a>
			<a href="#" class="sidebar__menu-item sidebar__menu-item_active">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
			<span class="sidebar__menu-item-text">Организации</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
			<span class="sidebar__menu-item-text">Отчеты</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
			<span class="sidebar__menu-item-text">Карта</span>
			</a>
		</nav>
    </aside>
    <main class="content content_cabinet">
		<section class="profile page__section">
			<ul class="breadcrumbs page__breadcrumbs">
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">методисты</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">Иванова Светлана Геннадьевна</a>
			</li>
			<li class="breadcrumbs__item">
				<span href="#" class="breadcrumbs__link breadcrumbs__link_current">Маршрут: Иванова Светлана Геннадьевна</span>
			</li>
			</ul>		
			<h1 class="section-title mb-50">Маршрут: Иванова Светлана Геннадьевна</h1>		
			<div class="profile__row profile__bottom bottom-profile">
				<div class="tabs profile__tabs _tabs">
					<nav class="tabs__navigation">
						<button type="submit" class="tabs__title _tabs-item _active">О педагоге</button>
						<button type="submit" class="tabs__title _tabs-item">Диагностика</button>
						<button type="submit" class="tabs__title _tabs-item">Дорожная карта</button>						
					</nav>
					<div class="tabs__content">						
						<div class="tabs__body tabs__body_full _tabs-block ">
							<form class="tabs__body-form form profile_tabs-form profile_tabs-form--width-full">								
								<div class="profile_tabs-form-inner">
									<div class="profile_tabs-form-name">Персональные данные</div>
									<div class="profile_tabs-form-wrap profile_tabs-form-wrap_width720 profile_tabs-form-wrap_row">
										<div class="profile_tabs-form__box profile_tabs-form__box_width">
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Фамилия</label>
												<span>Иванова</span>
											</div> 								  
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Имя</label>
												<span>Светлана</span>
											</div> 																							  											
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Отчество</label>
												<span>Геннадьевна</span>
											</div> 																							  											
										</div>
										<div class="profile_tabs-form__box profile_tabs-form__box_width">											 								  
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Регион</label>
												<span>г. Москва</span>
											</div> 																				                               
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Год реализации ИОМ</label>
												<span>2022-2023</span>
											</div> 																			                               
										</div>										
									</div>									
								</div>
								<div class="profile_tabs-form-inner-line"></div>
								<div class="profile_tabs-form-inner">
									<div class="profile_tabs-form-name">Место работы</div>
									<div class="profile_tabs-form-wrap profile_tabs-form-wrap_width720 profile_tabs-form-wrap_row">
										<div class="profile_tabs-form__box profile_tabs-form__box_width">
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Наименование организация</label>
												<span>Средняя шола №11</span>
											</div> 								  
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Должность</label>
												<span>учитель</span>
											</div> 
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Нагрузка</label>
												<span>20 часов</span>
											</div> 			  											
										</div>
										<div class="profile_tabs-form__box profile_tabs-form__box_width">
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Адрес организации</label>
												<span>Ломоносовский проспект, д.13</span>
											</div>  								  
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Предмет</label>
												<span>русский язык, русская литература</span>
											</div> 											                               
										</div>										
									</div>									
								</div>
								<div class="profile_tabs-form-inner-line"></div>
								<div class="profile_tabs-form-inner">
									<div class="profile_tabs-form-name">Образование</div>
									<div class="profile_tabs-form-wrap profile_tabs-form-wrap_width720 profile_tabs-form-wrap_row">
										<div class="profile_tabs-form__box profile_tabs-form__box_width">
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Образовательная организация</label>
												<span>Высший колледж связи г. Москва</span>
											</div>								  
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Стаж общий</label>
												<span>4</span>
											</div>		 
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Квалификациооная категория</label>
												<span>молодой специалист</span>
											</div>		 
										</div>
										<div class="profile_tabs-form__box profile_tabs-form__box_width">								  
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Специальность</label>
												<span>учитель начальных классов</span>
											</div>								  
											<div class="profile_tabs-form__line form__item">
												<label class="form__label">Стаж педагогический</label>
												<span>1</span>
											</div>                               
										</div>										
									</div>									
								</div>
								<div class="profile_tabs-form-inner-line"></div>
								<div class="profile_tabs-form-inner">
									<div class="profile_tabs-form-name">Повышение квалификации/<br>профессиональная подготовка</div>
									<div class="profile_tabs-form-wrap profile_tabs-form-wrap_width720">										
										<div class="profile_tabs-form__aggregate">
											<div class="profile_tabs-form__aggregate-row">
												<div class="profile_tabs-form__aggregate-date">20.02.2022</div>
												<div class="profile_tabs-form__aggregate-text">
													<p class="aggregate-link">Деятельность педагогического работника в социальной сети интернет</p>
													<p class="aggregate-link aggregate-link--grey">(Корпоративный университет)</p>
												</div>
												<div class="profile_tabs-form__aggregate-btn form__item-btn">
													<div class="form__item-close"></div>
													<div class="form__item-pen"></div>
												</div>
											</div>
											<div class="profile_tabs-form__aggregate-row">
												<div class="profile_tabs-form__aggregate-date">20.02.2022</div>
												<div class="profile_tabs-form__aggregate-text">
													<p class="aggregate-link">Деятельность педагогического работника в социальной сети интернет</p>
													<p class="aggregate-link aggregate-link--grey">(Корпоративный университет)</p>
												</div>
												<div class="profile_tabs-form__aggregate-btn form__item-btn">
													<div class="form__item-close"></div>
													<div class="form__item-pen"></div>
												</div>
											</div>
											<div class="profile_tabs-form__aggregate-row">
												<div class="profile_tabs-form__aggregate-date">20.02.2022</div>
												<div class="profile_tabs-form__aggregate-text">
													<p class="aggregate-link">Деятельность педагогического работника в социальной сети интернет</p>
													<p class="aggregate-link aggregate-link--grey">(Корпоративный университет)</p>
												</div>
												<div class="profile_tabs-form__aggregate-btn form__item-btn">
													<div class="form__item-close"></div>
													<div class="form__item-pen"></div>
												</div>
											</div>
										</div>
									</div>									
								</div>																		
							</form>
						</div>
						<div class="tabs__body tabs__body_full _tabs-block _active">							
							<table class="diagnostics">
								<tr class="diagnostics-head-row">
									<th class="diagnostics-head-col"></th>
									<th class="diagnostics-head-col diagnostics-text" colspan="2">Входная диагностика</th>
									<th class="diagnostics-head-col diagnostics-text" colspan="3">Итоговая диагностика</th>
									<th class="diagnostics-head-col"></th>
									<th class="diagnostics-head-col"></th>
								</tr>
								<tr class="diagnostics-row">
									<td class="diagnostics-col-sub"></td>
									<td class="diagnostics-col-sub">УРовень</td>
									<td class="diagnostics-col-sub">затруднения</td>
									<td class="diagnostics-col-sub pl-40">УРовень</td>
									<td class="diagnostics-col-sub">затруднения</td>
								</tr>
								<tr class="diagnostics-row">
									<td class="diagnostics-col diagnostics-text pl-20">Предметные компетентности</td>
									<td class="diagnostics-col">
										<div class="select-form diagnostics-col__select select-form-red">											
											<select name="listenersRegion" class="two">
												<option value="1" selected>Низкий</option>
												<option value="2">Пункт №1</option>
												<option value="3">Пункт №3</option>
												<option value="4">Пункт №4</option>												
											</select>
										</div>
									</td>
									<td class="diagnostics-col diagnostics-col--border-r">
										<div class="diagnostics-col--border-r">
											<label class="diagnostics-block">
												<textarea cols="30" rows="1"  class="diagnostics-block__field" placeholder="Были всякие затруднения"></textarea>
											</label>	
										</div>										
									</td>
									<td class="diagnostics-col pl-40">
										<div class="select-form diagnostics-col__select select-form-green">											
											<select name="listenersRegion" class="two">
												<option value="1" selected>Высокий</option>
												<option value="2">Пункт №1</option>
												<option value="3">Пункт №3</option>
												<option value="4">Пункт №4</option>												
											</select>
										</div>
									</td>
									<td class="diagnostics-col">
										<ul class="diagnostics-list">
											<li class="diagnostics-item">Были всякие затруднения</li>
										</ul>
									</td>
								</tr>
								<tr class="diagnostics-row">
									<td class="diagnostics-col diagnostics-text pl-20">Предметные компетентности</td>
									<td class="diagnostics-col">
										<div class="select-form diagnostics-col__select select-form-red">											
											<select name="listenersRegion" class="two">
												<option value="1" selected>Низкий</option>
												<option value="2">Пункт №1</option>
												<option value="3">Пункт №3</option>
												<option value="4">Пункт №4</option>												
											</select>
										</div>
									</td>
									<td class="diagnostics-col">
										<div class="diagnostics-col--border-r">
											<label class="diagnostics-block">
												<textarea cols="30" rows="3"  class="diagnostics-block__field diagnostics-block__field--hfull" placeholder="Были всякие затруднения"></textarea>
											</label>
										</div>																				
									</td>
									<td class="diagnostics-col pl-40">
										<div class="select-form diagnostics-col__select select-form-green">											
											<select name="listenersRegion" class="two">
												<option value="1" selected>Высокий</option>
												<option value="2">Пункт №1</option>
												<option value="3">Пункт №3</option>
												<option value="4">Пункт №4</option>												
											</select>
										</div>
									</td>
									<td class="diagnostics-col">
										<label class="diagnostics-block">
											<textarea cols="30" rows="1"  class="diagnostics-block__field" placeholder="Были всякие затруднения"></textarea>
										</label>
									</td>
								</tr>								
								<tr class="diagnostics-row">
									<td class="diagnostics-col diagnostics-text pl-20">Психолого-педагогические компетентности</td>
									<td class="diagnostics-col">
										<div class="select-form diagnostics-col__select select-form-orange">											
											<select name="listenersRegion" class="two">
												<option value="1" selected>Низкий</option>
												<option value="2">Пункт №1</option>
												<option value="3">Пункт №3</option>
												<option value="4">Пункт №4</option>												
											</select>
										</div>
									</td>
									<td class="diagnostics-col">
										<div class="diagnostics-col--border-r">
											<label class="diagnostics-block">
												<textarea cols="30" rows="1"  class="diagnostics-block__field" placeholder="Были всякие затруднения"></textarea>
											</label>	
										</div>										
									</td>
									<td class="diagnostics-col pl-40">
										<div class="select-form diagnostics-col__select select-form-green">											
											<select name="listenersRegion" class="two">
												<option value="1" selected>Высокий</option>
												<option value="2">Пункт №1</option>
												<option value="3">Пункт №3</option>
												<option value="4">Пункт №4</option>												
											</select>
										</div>
									</td>
									<td class="diagnostics-col">
										<label class="diagnostics-block">
											<textarea cols="30" rows="1"  class="diagnostics-block__field" placeholder="Были всякие затруднения"></textarea>
										</label>
									</td>
								</tr>
								<tr class="diagnostics-row">
									<td class="diagnostics-col diagnostics-text pl-20 diagnostics-col--border-b">Предметные компетентности</td>
									<td class="diagnostics-col diagnostics-col--border-b">
										<div class="select-form diagnostics-col__select select-form-red">											
											<select name="listenersRegion" class="two">
												<option value="1" selected>Низкий</option>
												<option value="2">Пункт №1</option>
												<option value="3">Пункт №3</option>
												<option value="4">Пункт №4</option>												
											</select>
										</div>
									</td>
									<td class="diagnostics-col diagnostics-col--border-b">
										<div class="diagnostics-col--border-r">
											<label class="diagnostics-block">
												<textarea cols="30" rows="1"  class="diagnostics-block__field" placeholder="Были всякие затруднения"></textarea>
											</label>	
										</div>										
									</td>
									<td class="diagnostics-col pl-40 diagnostics-col--border-b">
										<div class="select-form diagnostics-col__select select-form-green">											
											<select name="listenersRegion" class="two">
												<option value="1" selected>Высокий</option>
												<option value="2">Пункт №1</option>
												<option value="3">Пункт №3</option>
												<option value="4">Пункт №4</option>												
											</select>
										</div>
									</td>
									<td class="diagnostics-col diagnostics-col--border-b">
										<label class="diagnostics-block">
											<textarea cols="30" rows="1"  class="diagnostics-block__field" placeholder="Были всякие затруднения"></textarea>
										</label>
									</td>
								</tr>								
								<tr class="diagnostics-row">
									<td class="diagnostics-col diagnostics-text pl-20 pt-25">Предметные компетентности</td>
									<td class="diagnostics-col pt-25">
										<div class="select-form diagnostics-col__select select-form-red">											
											<select name="listenersRegion" class="two">
												<option value="1" selected>Низкий</option>
												<option value="2">Пункт №1</option>
												<option value="3">Пункт №3</option>
												<option value="4">Пункт №4</option>												
											</select>
										</div>
									</td>
									<td class="diagnostics-col  pt-25">
										<div class="diagnostics-col--border-r">
											<label class="diagnostics-block">
												<textarea cols="30" rows="1"  class="diagnostics-block__field" placeholder="Были всякие затруднения"></textarea>
											</label>	
										</div>																			
									</td>
									<td class="diagnostics-col pl-40 pt-25">
										<div class="select-form diagnostics-col__select select-form-green">											
											<select name="listenersRegion" class="two">
												<option value="1" selected>Высокий</option>
												<option value="2">Пункт №1</option>
												<option value="3">Пункт №3</option>
												<option value="4">Пункт №4</option>												
											</select>
										</div>
									</td>
									<td class="diagnostics-col pt-25">
										<label class="diagnostics-block">
											<textarea cols="30" rows="1"  class="diagnostics-block__field" placeholder="Были всякие затруднения"></textarea>
										</label>
									</td>
								</tr>
							</table>
							<button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить изменения</button>														 
						</div>
						<div class="tabs__body tabs__body_full _tabs-block">							
							<div class="tab-map events-content">
								<div class="tab-map__block w-600">
									<h3 class="events-content__title events__title">Предметные компетентности</h3>
									<div class="content__right-wr content__right-wr--pr">
										<div class="content__right-wr-height list-scrollbar">
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>												
											</div>
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__subtitle events-content__subtitle-icon">завершенные</div>
													<div class="events-content__row">														
														<span class="text-radio events-title events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>							
											</div>
										</div>															
									</div>
								</div>				
								<div class="tab-map__block w-600">
									<h3 class="events-content__title events__title">Методические компетентности</h3>
									<div class="content__right-wr content__right-wr--pr">
										<div class="content__right-wr-height list-scrollbar">
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>												
											</div>
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__subtitle events-content__subtitle-icon">завершенные</div>
													<div class="events-content__row">														
														<span class="text-radio events-title events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>							
											</div>
										</div>															
									</div>
								</div>				
								<div class="tab-map__block w-600">
									<h3 class="events-content__title events__title">Психолого-педагогические компетентности</h3>
									<div class="content__right-wr content__right-wr--pr">
										<div class="content__right-wr-height list-scrollbar">
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>												
											</div>
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__subtitle events-content__subtitle-icon">завершенные</div>
													<div class="events-content__row">														
														<span class="text-radio events-title events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>							
											</div>
										</div>															
									</div>
								</div>		
								<div class="tab-map__block w-600">
									<h3 class="events-content__title events__title">ИКТ-компетентности</h3>
									<div class="content__right-wr content__right-wr--pr">
										<div class="content__right-wr-height list-scrollbar">
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>												
											</div>
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__subtitle events-content__subtitle-icon">завершенные</div>
													<div class="events-content__row">														
														<span class="text-radio events-title events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>							
											</div>
										</div>															
									</div>
								</div>																									
								<div class="tab-map__block">
									<h3 class="events-content__title events__title">Публичное мероприятие</h3>
									<div class="content__right-wr content__right-wr--pr">
										<div class="content__right-wr-height--380 list-scrollbar">
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>												
											</div>
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__subtitle events-content__subtitle-icon">завершенные</div>
													<div class="events-content__row">														
														<span class="text-radio events-title events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<span class="text-radio events-title events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>							
											</div>
										</div>															
									</div>
								</div>																									
							</div>														
						</div>						
					</div>					
				</div>
			</div>			
		</section>
    </main>    
  
  <script src="js/app.min.js"></script>
<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
