<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>ЛК Учитель ИОМ</title>
</head>
<body class="page">
	<header class="header">
		<div class="header__inner header__inner_page_cabinet">
		<div class="header__column header__column_direct_row">
			<a href="/" class="logo logo_page_cabinet"></a>
			<a href="" class="header__site-link">Перейти на сайт</a>
		</div>
		<div class="header__column header__column_direct_row-end">
			<a href="" class="header__user-link">
			<img src="upload/avatar_t.jpg " class="header__avatar" alt="Аватар пользователя">
			<span class="header__username">Самойлова А.О.</span>
			</a>
			<div class="header__controls">
			<a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
			<a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
			</div>
		</div>
		</div>
	</header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
		<button class="sidebar__toggle"></button>
		<nav class="sidebar__menu">
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
			<span class="sidebar__menu-item-text">Пользователи</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
			<span class="sidebar__menu-item-text">Формы</span>
			</a>
			<a href="#" class="sidebar__menu-item sidebar__menu-item_active">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
			<span class="sidebar__menu-item-text">Организации</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
			<span class="sidebar__menu-item-text">Отчеты</span>
			</a>
			<a href="#" class="sidebar__menu-item">
			<i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
			<span class="sidebar__menu-item-text">Карта</span>
			</a>
		</nav>
    </aside>
    <main class="content content_cabinet">
		<section class="profile page__section">
			<ul class="breadcrumbs page__breadcrumbs">
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">методисты</a>
			</li>
			<li class="breadcrumbs__item">
				<a href="#" class="breadcrumbs__link">Иванова Светлана Геннадьевна</a>
			</li>
			<li class="breadcrumbs__item">
				<span href="#" class="breadcrumbs__link breadcrumbs__link_current">Маршрут: Иванова Светлана Геннадьевна</span>
			</li>
			</ul>		
			<h1 class="section-title mb-50">Маршрут: Иванова Светлана Геннадьевна</h1>		
			<div class="profile__row profile__bottom bottom-profile">
				<div class="tabs profile__tabs _tabs">
					<nav class="tabs__navigation">						
						<button type="submit" class="tabs__title _tabs-item _active">Диагностика</button>
						<button type="submit" class="tabs__title _tabs-item">Дорожная карта</button>						
					</nav>
					<div class="tabs__content">				
						<div class="tabs__body tabs__body_full _tabs-block _active">							
							<table class="diagnostics">
								<tr class="diagnostics-head-row">
									<th class="diagnostics-head-col"></th>
									<th class="diagnostics-head-col diagnostics-text" colspan="2">Входная диагностика</th>
									<th class="diagnostics-head-col diagnostics-text" colspan="3">Итоговая диагностика</th>
									<th class="diagnostics-head-col"></th>
									<th class="diagnostics-head-col"></th>
								</tr>
								<tr class="diagnostics-row">
									<td class="diagnostics-col-sub"></td>
									<td class="diagnostics-col-sub">УРовень</td>
									<td class="diagnostics-col-sub">затруднения</td>
									<td class="diagnostics-col-sub pl-40">УРовень</td>
									<td class="diagnostics-col-sub">затруднения</td>
								</tr>
								<tr class="diagnostics-row">
									<td class="diagnostics-col diagnostics-text pl-20">Предметные компетентности</td>
									<td class="diagnostics-col diagnostics-col--w120">
										<div class="diagnostics-col__box diagnostics-col__box--red">Низкий</div>
									</td>
									<td class="diagnostics-col diagnostics-col--border-r">
										<div class="diagnostics-col--border-r">
											<ul class="diagnostics-list">
												<li class="diagnostics-item">Были всякие затруднения</li>
											</ul>	
										</div>										
									</td>
									<td class="diagnostics-col pl-40 diagnostics-col--w120">
										<div class="diagnostics-col__box diagnostics-col__box--green">Высокий</div>										
									</td>
									<td class="diagnostics-col">
										<ul class="diagnostics-list">
											<li class="diagnostics-item">Были всякие затруднения</li>
										</ul>
									</td>
								</tr>
								<tr class="diagnostics-row">
									<td class="diagnostics-col diagnostics-text pl-20">Предметные компетентности</td>
									<td class="diagnostics-col">
										<div class="diagnostics-col__box diagnostics-col__box--green">Высокий</div>
									</td>
									<td class="diagnostics-col">
										<div class="diagnostics-col--border-r">
											<ul class="diagnostics-list">
												<li class="diagnostics-item">Были всякие затруднения</li>
												<li class="diagnostics-item">Были всякие затруднения</li>
												<li class="diagnostics-item">Были всякие затруднения</li>
											</ul>
										</div>																				
									</td>
									<td class="diagnostics-col pl-40">
										<div class="diagnostics-col__box diagnostics-col__box--green">Высокий</div>
									</td>
									<td class="diagnostics-col">
										<ul class="diagnostics-list">
											<li class="diagnostics-item">Были всякие затруднения</li>
										</ul>
									</td>
								</tr>
								<tr class="diagnostics-row">
									<td class="diagnostics-col diagnostics-text pl-20">Психолого-педагогические компетентности</td>
									<td class="diagnostics-col">
										<div class="diagnostics-col__box diagnostics-col__box--orange">Средний</div>
									</td>
									<td class="diagnostics-col">
										<div class="diagnostics-col--border-r">
											<ul class="diagnostics-list">
												<li class="diagnostics-item">Были всякие затруднения</li>
											</ul>	
										</div>										
									</td>
									<td class="diagnostics-col pl-40">
										<div class="diagnostics-col__box diagnostics-col__box--green">Высокий</div>
									</td>
									<td class="diagnostics-col">
										<ul class="diagnostics-list">
											<li class="diagnostics-item">Были всякие затруднения</li>
										</ul>
									</td>
								</tr>
								<tr class="diagnostics-row">
									<td class="diagnostics-col diagnostics-text pl-20 diagnostics-col--border-b">Предметные компетентности</td>
									<td class="diagnostics-col diagnostics-col--border-b">
										<div class="diagnostics-col__box diagnostics-col__box--red">Низкий</div>
									</td>
									<td class="diagnostics-col diagnostics-col--border-b">
										<div class="diagnostics-col--border-r">
											<ul class="diagnostics-list">
												<li class="diagnostics-item">Были всякие затруднения</li>
											</ul>	
										</div>										
									</td>
									<td class="diagnostics-col pl-40 diagnostics-col--border-b">
										<div class="diagnostics-col__box diagnostics-col__box--green">Высокий</div>
									</td>
									<td class="diagnostics-col diagnostics-col--border-b">
										<ul class="diagnostics-list">
											<li class="diagnostics-item">Были всякие затруднения</li>
										</ul>
									</td>
								</tr>								
								<tr class="diagnostics-row">
									<td class="diagnostics-col diagnostics-text pl-20 pt-25">Предметные компетентности</td>
									<td class="diagnostics-col pt-25">
										<div class="diagnostics-col__box diagnostics-col__box--red">Низкий</div>
									</td>
									<td class="diagnostics-col  pt-25">
										<div class="diagnostics-col--border-r">
											<ul class="diagnostics-list">
												<li class="diagnostics-item">Были всякие затруднения</li>
											</ul>	
										</div>																			
									</td>
									<td class="diagnostics-col pl-40 pt-25">
										<div class="diagnostics-col__box diagnostics-col__box--green">Высокий</div>
									</td>
									<td class="diagnostics-col pt-25">
										<ul class="diagnostics-list">
											<li class="diagnostics-item">Были всякие затруднения</li>
										</ul>
									</td>
								</tr>
							</table>
							<button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить</button>														 
						</div>
						<div class="tabs__body tabs__body_full _tabs-block">							
							<div class="tab-map events-content">
								<div class="tab-map__block w-600">
									<h3 class="events-content__title events__title">Предметные компетентности</h3>
									<div class="content__right-wr content__right-wr--pr">
										<div class="content__right-wr-height list-scrollbar">
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__row">
														<label class="checkbox-block ">
															<input type="checkbox" name="" class="real-input">
															<span class="custom-input custom-input--green"></span>
															<span class="form-politic-text">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
														</label>							
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--red"></span>
																<span class="form-politic-text">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>												
											</div>
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__subtitle events-content__subtitle-icon">завершенные</div>
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--green"></span>
																<span class="form-politic-text events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--red"></span>
																<span class="form-politic-text events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>							
											</div>
										</div>															
									</div>
								</div>				
								<div class="tab-map__block w-600">
									<h3 class="events-content__title events__title">Методические компетентности</h3>
									<div class="content__right-wr content__right-wr--pr">
										<div class="content__right-wr-height list-scrollbar">
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--green"></span>
																<span class="form-politic-text">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--red"></span>
																<span class="form-politic-text">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>												
											</div>
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__subtitle events-content__subtitle-icon">завершенные</div>
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--green"></span>
																<span class="form-politic-text events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--red"></span>
																<span class="form-politic-text events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>							
											</div>
										</div>															
									</div>
								</div>				
								<div class="tab-map__block w-600">
									<h3 class="events-content__title events__title">Психолого-педагогические компетентности</h3>
									<div class="content__right-wr content__right-wr--pr">
										<div class="content__right-wr-height list-scrollbar">
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--green"></span>
																<span class="form-politic-text">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--red"></span>
																<span class="form-politic-text">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>												
											</div>
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__subtitle events-content__subtitle-icon">завершенные</div>
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--green"></span>
																<span class="form-politic-text events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--red"></span>
																<span class="form-politic-text events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>							
											</div>
										</div>															
									</div>
								</div>		
								<div class="tab-map__block w-600">
									<h3 class="events-content__title events__title">ИКТ-компетентности</h3>
									<div class="content__right-wr content__right-wr--pr">
										<div class="content__right-wr-height list-scrollbar">
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--green"></span>
																<span class="form-politic-text">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--red"></span>
																<span class="form-politic-text">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>												
											</div>
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__subtitle events-content__subtitle-icon">завершенные</div>
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--green"></span>
																<span class="form-politic-text events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--red"></span>
																<span class="form-politic-text events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>							
											</div>
										</div>															
									</div>
								</div>																									
								<div class="tab-map__block">
									<h3 class="events-content__title events__title">Публичное мероприятие</h3>
									<div class="content__right-wr content__right-wr--pr">
										<div class="content__right-wr-height--380 list-scrollbar">
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--green"></span>
																<span class="form-politic-text">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--red"></span>
																<span class="form-politic-text">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>												
											</div>
											<div class="content__right-block">
												<div class="events-content__col">
													<div class="events-content__subtitle events-content__subtitle-icon">завершенные</div>
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--green"></span>
																<span class="form-politic-text events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num">СБ, 10 марта</span>
													</div>
												</div>
												<div class="events-content__col">
													<div class="events-content__row">														
														<div class="events-content__row">
															<label class="checkbox-block ">
																<input type="checkbox" name="" class="real-input">
																<span class="custom-input custom-input--red"></span>
																<span class="form-politic-text events-title--crossed">Курсы повышения квалификации по предмету математика «Курс подготовки к ОГЭ по математике для 8 класса» (Фоксфорд- 36 ч)</span>
															</label>							
														</div>
													</div>
													<div class="events-content__date">
														<span class="events-content__date-icon calender-icon calender-icon--red">
															<svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg">
																<path fill-rule="evenodd" clip-rule="evenodd" d="M1.625 3.16602C1.625 2.61373 2.07272 2.16602 2.625 2.16602H10.375C10.9273 2.16602 11.375 2.61373 11.375 3.16602V10.916C11.375 11.4683 10.9273 11.916 10.375 11.916H2.625C2.07272 11.916 1.625 11.4683 1.625 10.916V3.16602Z" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M8.66602 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M4.33398 1.08398V3.25065" stroke-linecap="round" stroke-linejoin="round"/>
																<path d="M1.625 5.41602H11.375" stroke="#EB5757" stroke-linecap="round" stroke-linejoin="round"/>
															</svg>										
														</span>
														<span class="events-content__date-num events-content__date-num--red">СБ, 10 марта</span>
													</div>
												</div>							
											</div>
										</div>															
									</div>
								</div>																									
							</div>														
						</div>						
					</div>					
				</div>
			</div>			
		</section>
    </main>    
  
  <script src="js/app.min.js"></script>
<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
