<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Лк учитель Предметные кабинеты</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header__site-link">Перейти на сайт</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
			<img src="upload/avatar_t.jpg" class="header__avatar" alt="Аватар пользователя">
			<span class="header__username">ССамойлова А. О.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
		<section class="page__section">
			<!-- <ul class="breadcrumbs page__breadcrumbs">
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link">мероприятия</a>
				</li>
				<li class="breadcrumbs__item">
					<a href="#" class="breadcrumbs__link">создать мероприятие</a>
				</li>
				<li class="breadcrumbs__item">
					<span href="#" class="breadcrumbs__link breadcrumbs__link_current">«Мастер-класс как эффективная форма повышения профессионального мастерства педагогов»</span>
				</li>
			</ul>		 -->
			<h1 class="section-title mb-50">Предметные кабинеты</h1>
			<div class="wrapper  cabinet">
				
                   
				<div class="cabinet-radio cabinet-radio--flex wrapper--width  box-radio">
					<label class="wr-radio">									
						<span class="text-radio text-radio--mb text-radio--bold">Начальное общее образование</span>
						<a href="#" class="text-link">Русский язык</a>
						<a href="#" class="text-link text-link--active">Русская литература</a>
					</label>
					<label class="wr-radio">									
						<span class="text-radio text-radio--mb  text-radio--bold">Основное общее образование</span>
						<a href="#" class="text-link">Русский язык</a>
						<a href="#" class="text-link">Русская литература</a>
					</label>
					<label class="wr-radio">									
						<span class="text-radio text-radio--mb  text-radio--bold">Среднее общее образование</span>
						<a href="#" class="text-link">Русский язык</a>
						<a href="#" class="text-link">Русская литература</a>
					</label>
				</div>					
				<div class="tab-box">														
					<div class="cabinet__accordion accordion">
						<div class="cabinet__accordion-icons form__item-btn form__item-btn--row">
							<label class=" wr-checkbox">
								<input type="checkbox" name="coding-notes" class="real-checkbox">
								<span class="custom-checkbox"></span>									
								<span class="text-checkbox">Выбрать несколько</span>									
							</label>
						</div>
						<div class="accordion__item" data-akkardion>
							Нормативные правовые документы						
						</div>
						<div class="accordion__item-hidden accordion__item-hidden--pl hidden">								
							<ol class="events-content__item-list">
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный закон «Об образовании в Российской Федерации» <nobr>(.ppt 7,6 MБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>								
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральные государственные образовательные стандарты начального общего, основного общего и среднего общего образования<nobr>(.ppt 511 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>									
									</div>
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный перечень учебников<nobr>(.doc 33 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>
								</li>
							</ol>													
						</div>
						<div class="accordion__item" data-akkardion>
							Образовательные ресурсы для методистов и педагогов (методические рекомендации, кейсы, инструкции, технологические карты и др.)						
						</div>
						<div class="accordion__item-hidden accordion__item-hidden--pl hidden">								
							<ol class="events-content__item-list">
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный закон «Об образовании в Российской Федерации» <nobr>(.ppt 7,6 MБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>								
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральные государственные образовательные стандарты начального общего, основного общего и среднего общего образования<nobr>(.ppt 511 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>									
									</div>
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный перечень учебников<nobr>(.doc 33 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>
								</li>
							</ol>													
						</div>
						<div class="accordion__item" data-akkardion>
							Формы методического сопровождения (семинары, вебинары, конференции, круглые столы и т.п.)						
						</div>
						<div class="accordion__item-hidden accordion__item-hidden--pl hidden">								
							<ol class="events-content__item-list">
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный закон «Об образовании в Российской Федерации» <nobr>(.ppt 7,6 MБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>								
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральные государственные образовательные стандарты начального общего, основного общего и среднего общего образования<nobr>(.ppt 511 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>									
									</div>
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный перечень учебников<nobr>(.doc 33 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>
								</li>
							</ol>													
						</div>
						<div class="accordion__item" data-akkardion>
							Методическое сопровождение формирования функциональной грамотности					
						</div>
						<div class="accordion__item-hidden accordion__item-hidden--pl hidden">								
							<ol class="events-content__item-list">
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный закон «Об образовании в Российской Федерации» <nobr>(.ppt 7,6 MБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>								
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральные государственные образовательные стандарты начального общего, основного общего и среднего общего образования<nobr>(.ppt 511 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>									
									</div>
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный перечень учебников<nobr>(.doc 33 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>
								</li>
							</ol>													
						</div>
						<div class="accordion__item" data-akkardion>
							Методическое сопровождение введения обновлённых ФГОС начального общего и основного общего образования					
						</div>
						<div class="accordion__item-hidden accordion__item-hidden--pl hidden">								
							<ol class="events-content__item-list">
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный закон «Об образовании в Российской Федерации» <nobr>(.ppt 7,6 MБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>								
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральные государственные образовательные стандарты начального общего, основного общего и среднего общего образования<nobr>(.ppt 511 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>									
									</div>
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный перечень учебников<nobr>(.doc 33 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>
								</li>
							</ol>													
						</div>
						<div class="accordion__item" data-akkardion>
							Банки контрольно-измерительных материалов, диагностических материалов, проверочных заданий					
						</div>
						<div class="accordion__item-hidden accordion__item-hidden--pl hidden">								
							<ol class="events-content__item-list">
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный закон «Об образовании в Российской Федерации» <nobr>(.ppt 7,6 MБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>								
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральные государственные образовательные стандарты начального общего, основного общего и среднего общего образования<nobr>(.ppt 511 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>									
									</div>
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный перечень учебников<nobr>(.doc 33 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>
								</li>
							</ol>													
						</div>
						<div class="accordion__item" data-akkardion>
							Внеурочная деятельность						
						</div>
						<div class="accordion__item-hidden accordion__item-hidden--pl hidden">								
							<ol class="events-content__item-list">
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный закон «Об образовании в Российской Федерации» <nobr>(.ppt 7,6 MБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>								
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральные государственные образовательные стандарты начального общего, основного общего и среднего общего образования<nobr>(.ppt 511 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>									
									</div>
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный перечень учебников<nobr>(.doc 33 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>
								</li>
							</ol>												
						</div>
						<div class="accordion__item" data-akkardion>
							Библиотека (информационные материалы, полезные ресурсы, ссылки и др.)					
						</div>
						<div class="accordion__item-hidden accordion__item-hidden--pl hidden">								
							<ol class="events-content__item-list">
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный закон «Об образовании в Российской Федерации» <nobr>(.ppt 7,6 MБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>								
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральные государственные образовательные стандарты начального общего, основного общего и среднего общего образования<nobr>(.ppt 511 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>									
									</div>
								</li>
								<li class="events-content__item-box">									
									<a href="#" class="events-content__item-box-link">Федеральный перечень учебников<nobr>(.doc 33 КБ)</nobr></a>
									<div class="events-content__item-box-icons form__item-btn form__item-btn--row">
										<div class="form__item-down"></div>										
									</div>
								</li>
							</ol>													
						</div>
					</div>							
				</div>
                       
                       
				
                        
						
			</div>		   
		</section>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
	<footer class="footer footer-no--bg">
		<div class="footer__inner">
			© Все права защищены
		</div>
  </footer>
</body>
</html>
