<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Добавить новость</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header-link header__site-link">Перейти на сайт</a>
        <a href="" class="header-link header__log-link">Техническая поддержка</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/user-ava.png" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Рудковский А. М.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления">
            <span class="notification-count">2</span>
          </a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
        <section class="listeners page__section">
            <!-- <ul class="breadcrumbs page__breadcrumbs">
              <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Организации</a>
              </li>
              <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Регионы</a>
              </li>
              <li class="breadcrumbs__item">
                <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
              </li>
            </ul> -->
          
            <h1 class="section-title mb-50">слушатели</h1>
            <div class="listeners__wrapper wrapper-max_width-m">
                <div class="listeners__row listeners__panel">
                    <h3>Статистика по стране</h3>
                    <ul class="stat-panels listeners-detail__stat-panels">
                        <li class="stat-panels__item">
                          <h3 class="stat-panels__title">Регионы</h3>
                          <p class="stat-panels__num">10</p>
                        </li>
                        <li class="stat-panels__item">
                          <h3 class="stat-panels__title">Организаций ДПО</h3>
                          <p class="stat-panels__num">3350</p>
                        </li>
                        <li class="stat-panels__item">
                          <h3 class="stat-panels__title">Реализуемых программ</h3>
                          <p class="stat-panels__num">6780</p>
                        </li>
                        <li class="stat-panels__item">
                          <h3 class="stat-panels__title">Слушателей</h3>
                          <p class="stat-panels__num">17000</p>
                        </li>
                      </ul>
                </div>
                <div class="listeners__row listeners__inputs">
                    <div class="listeners__region">
                        <label for="listenersRegion" class="form__label">Регион</label>
                        <select name="listenersRegion" class="two">
                            <option value="1" selected>Алтайский край</option>
                            <option value="2">Пункт №2</option>
                            <option value="3">Пункт №3</option>
                            <option value="4">Пункт №4</option>
                        </select>
                    </div>
                    <div class="listeners__year">
                        <label for="listenersYear" class="form__label">Год</label>
                        <select name="listenersYear" class="two">
                            <option value="1" selected>2021</option>
                            <option value="2">Пункт №2</option>
                            <option value="3">Пункт №3</option>
                            <option value="4">Пункт №4</option>
                        </select>
                    </div>
                    <div class="listeners__kvartal">
                        <label for="listenersKvartal" class="form__label">Квартал</label>
                        <select name="listenersKvartal" class="two">
                            <option value="1" selected>(1) январь-март</option>
                            <option value="2">Пункт №2</option>
                            <option value="3">Пункт №3</option>
                            <option value="4">Пункт №4</option>
                        </select>
                    </div>
                    <div class="listeners__link">
                        <a href="#" class="filter__reset-link reports-search__reset-link">Сбросить</a>
                    </div>
                </div>
                <div class="listeners__row listeners__all">
                    <div class="listeners__list">
                        <div class="listeners__item">
                            <span>
                                Всего слушателей
                            </span>
                            <p>1350</p>
                        </div>
                        <div class="listeners__item">
                            <span>
                                слушателей за квартал 
                            </span>
                            <p>350</p>
                        </div>
                        <div class="listeners__item">
                            <span>
                                слушателей за год 
                            </span>
                            <p>150</p>
                        </div>
                        <div class="listeners__item">
                            <span>
                                слушателей за месяц 
                            </span>
                            <p>50</p>
                        </div>
                    </div>
                </div>
                <div class="listeners__row listeners__table">
                    <div class="table_header">
                        <ul>
                          <li>
                            <a href="#" class="table_header-icon_download">Скачать в формате csv</a>
                          </li>
                          <li>
                            <a href="#" class="table_header-icon_download">Скачать в формате xls</a>
                          </li>
                        </ul>
                      </div>
                   
                </div>
            </form>
          </section>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
