<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="css/media.css">
  <title>НОВОСТИ</title>
</head>
<!-- для блокирования скролла страницы под поп-апом: .page.page_blocked -->
<body class="page">
  <header class="header">
    <div class="header__inner">
      <button class="header__menu-burger-toogle"></button>
      <div class="header__column">
        <a href="/" class="logo"></a>
      </div>
      <div class="header__column header__column_el_contacts">
        <p class="header__phone-text">Телефон горячей линии</p>
        <a href="tel:88005006070" class="header__phone-number">8 (800) 500-60-70</ф>
      </div>
      <div class="header__column header__column_el_auth">
        <a href="#" class="button button_theme_green-invert button_border_rounded">Вход для педагогов</a>
      </div>
    </div>
    <!-- открытое меню: .burger-menu.burger-menu_opened -->
    <div class="burger-menu">
      <div class="burger-menu__header">
        <a href="/" class="logo logo_type_white"></a>
        <button class="burger-menu__close-btn"></button>
      </div>
      <nav class="burger-menu__links">
        <a href="#" class="burger-menu__link">Регионы</a>
        <a href="#" class="burger-menu__link">Новости</a>
        <a href="#" class="burger-menu__link">Техническая поддержка</a>
      </nav>
      <div class="burger-menu__mobile-area">
        <a href="#" class="button button_theme_green-invert button_border_rounded">Вход для педагогов</a>
        <a href="#" class="button button_theme_white-invert button_border_rounded">Служебный раздел</a>
      </div>
    </div>
  </header>

  <main class="content">
    <section class="news-page page__section page__section_width_content">
      <div class="new-page__box">
        <h1 class="section-title page__title">Новости</h1>
      <form class="form form-width-m news-page__search">
        <input
            type="text"
            name="search"
            class="form__input-edit form__input-edit_type_search form__input-edit_width_full"
            id="search"
          >
      </form>
      </div>
      <div class="content-sidebar">
        <div class="content-sidebar__bar-container">
          <div class="content-sidebar__bar-content news-page__sidebar">
            <form class="form form-bg form--hide ">
              <div class="form-bg-text">
                <span>
                  <svg width="16" height="14" viewBox="0 0 16 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M14.6663 1H1.33301L6.66634 7.30667V11.6667L9.33301 13V7.30667L14.6663 1Z" stroke="#303F95" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                </span>
                <span>Фильтры</span>
              </div>
              <fieldset class="form__fieldset form__fieldset--bg form--hide ">
                <div class="form__item">
                  <label class="form__label">Дата</label>
                  <input
                    type="date"
                    name="date-from"
                    class="form__input-edit form__input-edit_el_date-from"
                    id="date-from"
                    placeholder="Дата с"
                  >
                  <input
                    type="date"
                    name="date-to"
                    class="form__input-edit form__input-edit_el_date-to"
                    id="date-to"
                    placeholder="Дата по"
                  >
                </div>
                <div class="form__item">
                  <label for="region" class="form__label">Регион</label>
                  <select name="region" class="form__select form__select_theme_white form__select_width_full" id="region">
                    <option value="" class="select__option">Волгоградская область</option>
                    <option value="" class="select__option">Красноярский край</option>
                    <option value="" class="select__option">Ярославская область</option>
                  </select>
                </div>
                <div class="form__item form__item--hide-425">
                  <label class="form__label">Категория</label>
                  <ul class="tags">
                    <li class="tags__item">
                      <a href="#" class="tags__link">Образование</a>
                    </li>
                    <li class="tags__item">
                      <a href="#" class="tags__link">Служба</a>
                    </li>
                    <li class="tags__item">
                      <a href="#" class="tags__link">Законодательство</a>
                    </li>
                    <li class="tags__item">
                      <a href="#" class="tags__link">Москва</a>
                    </li>
                    <li class="tags__item">
                      <a href="#" class="tags__link">Сахалин</a>
                    </li>
                  </ul>
                </div>
                <div class="form__item form__item--visibly-425">
                  <label for="region" class="form__label">Категория</label>
                  <select name="region" class="form__select form__select_theme_white form__select_width_full" id="region">
                    <option value="" class="select__option"><a href="#">Образование</a></option>
                    <option value="" class="select__option"><a href="#">Служба</a></option>
                    <option value="" class="select__option"><a href="#">Законодательство</a></option>
                    <option value="" class="select__option"><a href="#">Москва</a></option>
                    <option value="" class="select__option"><a href="#">Сахалин</a></option>
                  </select>
                </div>
              </fieldset>
            </form>
        </div>
        </div>
        <div class="content-sidebar__content">
          
          <div class="news-list news-page__news-list">
            <div class="news-list__cards news-list__cards_card-width_s">
              <article class="news-card news-card--a">
                <img src="./upload/news-preview__cover1.jpg" alt="Чтения-2021" class="news-card__cover">
                <p class="news-card__date">20.10.2021</p>
                <a href="#" class="card-title news-card__card-title">На чтениях-2021 пройдет обсуждение проектов смешанного обучения и управлению удаленной работой</a>
                <p class="news-card__text">
                  На Пастуховских чтениях-2021 пройдет обсуждение проектов рекомендаций по организации смешанного обучения и управлению удаленной работой – по формированию системы мотивации научной деятельности
                </p>
              </article>
              <article class="news-card news-card--a">
                <img src="./upload/news-preview__cover2.jpg" alt="Чтения-2021" class="news-card__cover">
                <p class="news-card__date">20.10.2021</p>
                <a href="#" class="card-title news-card__card-title">Академия Пастухова получила статус Федеральной инновационной площадки</a>
                <p class="news-card__text">
                  Член Союза ДПО ФГБОУ «Государственная академия промышленного менеджмента имени Н.П. Пастухова» приказом Министерства науки и высшего образования Российской Федерации от 25 декабря 2020 г. № 1580 признана федеральной инновационной
                </p>
              </article>
              <article class="news-card news-card--a">
                <img src="./upload/news-preview__cover3.jpg" alt="Чтения-2021" class="news-card__cover">
                <p class="news-card__date">20.10.2021</p>
                <a href="#" class="card-title news-card__card-title">Об изменениях правил заполнения шаблонов ФИС ФРДО</a>
                <p class="news-card__text">
                  Рособрнадзор России опубликовал важную информацию: Уважаемые пользователи федеральной информационной системы «Федеральный реестр сведений о документах об образовании и (или) о квалификации, документах
                </p>
              </article>
              <article class="news-card news-card--a">
                <img src="./upload/news-preview__cover1.jpg" alt="Чтения-2021" class="news-card__cover">
                <p class="news-card__date">20.10.2021</p>
                <a href="#" class="card-title news-card__card-title">На чтениях-2021 пройдет обсуждение проектов смешанного обучения и управлению удаленной работой</a>
                <p class="news-card__text">
                  На Пастуховских чтениях-2021 пройдет обсуждение проектов рекомендаций по организации смешанного обучения и управлению удаленной работой – по формированию системы мотивации научной деятельности
                </p>
              </article>
              <article class="news-card news-card--a">
                <img src="./upload/news-preview__cover2.jpg" alt="Чтения-2021" class="news-card__cover">
                <p class="news-card__date">20.10.2021</p>
                <a href="#" class="card-title news-card__card-title">Академия Пастухова получила статус Федеральной инновационной площадки</a>
                <p class="news-card__text">
                  Член Союза ДПО ФГБОУ «Государственная академия промышленного менеджмента имени Н.П. Пастухова» приказом Министерства науки и высшего образования Российской Федерации от 25 декабря 2020 г. № 1580 признана федеральной инновационной
                </p>
              </article>
              <article class="news-card news-card--a">
                <img src="./upload/news-preview__cover3.jpg" alt="Чтения-2021" class="news-card__cover">
                <p class="news-card__date">20.10.2021</p>
                <a href="#" class="card-title news-card__card-title">Об изменениях правил заполнения шаблонов ФИС ФРДО</a>
                <p class="news-card__text">
                  Рособрнадзор России опубликовал важную информацию: Уважаемые пользователи федеральной информационной системы «Федеральный реестр сведений о документах об образовании и (или) о квалификации, документах
                </p>
              </article>
              <article class="news-card news-card--a">
                <img src="./upload/news-preview__cover1.jpg" alt="Чтения-2021" class="news-card__cover">
                <p class="news-card__date">20.10.2021</p>
                <a href="#" class="card-title news-card__card-title">На чтениях-2021 пройдет обсуждение проектов смешанного обучения и управлению удаленной работой</a>
                <p class="news-card__text">
                  На Пастуховских чтениях-2021 пройдет обсуждение проектов рекомендаций по организации смешанного обучения и управлению удаленной работой – по формированию системы мотивации научной деятельности
                </p>
              </article>
              <article class="news-card news-card--a">
                <img src="./upload/news-preview__cover2.jpg" alt="Чтения-2021" class="news-card__cover">
                <p class="news-card__date">20.10.2021</p>
                <a href="#" class="card-title news-card__card-title">Академия Пастухова получила статус Федеральной инновационной площадки</a>
                <p class="news-card__text">
                  Член Союза ДПО ФГБОУ «Государственная академия промышленного менеджмента имени Н.П. Пастухова» приказом Министерства науки и высшего образования Российской Федерации от 25 декабря 2020 г. № 1580 признана федеральной инновационной
                </p>
              </article>
              <article class="news-card news-card--a">
                <img src="./upload/news-preview__cover3.jpg" alt="Чтения-2021" class="news-card__cover">
                <p class="news-card__date">20.10.2021</p>
                <a href="#" class="card-title news-card__card-title">Об изменениях правил заполнения шаблонов ФИС ФРДО</a>
                <p class="news-card__text">
                  Рособрнадзор России опубликовал важную информацию: Уважаемые пользователи федеральной информационной системы «Федеральный реестр сведений о документах об образовании и (или) о квалификации, документах
                </p>
              </article>
            </div>
            <button class="news-list__loadmore">Показать еще новости</button>
          </div>
        </div>
      </div>
      
    </section>

  </main>

<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
  <script src="js/menuMain.min.js"></script>
</body>
</html>
