<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="stylesheet" href="css/media.css">
  <title>НОВОСТЬ ДЕТАЛЬНО</title>
</head>
<!-- для блокирования скролла страницы под поп-апом: .page.page_blocked -->
<body class="page">
  <header class="header">
    <div class="header__inner">
      <button class="header__menu-burger-toogle"></button>
      <div class="header__column">
        <a href="/" class="logo"></a>
      </div>
      <div class="header__column header__column_el_contacts">
        <p class="header__phone-text">Телефон горячей линии</p>
        <a href="tel:88005006070" class="header__phone-number">8 (800) 500-60-70</ф>
      </div>
      <div class="header__column header__column_el_auth">
        <a href="#" class="button button_theme_green-invert button_border_rounded">Вход для педагогов</a>
      </div>
    </div>
    <!-- открытое меню: .burger-menu.burger-menu_opened -->
    <div class="burger-menu">
      <div class="burger-menu__header">
        <a href="/" class="logo logo_type_white"></a>
        <button class="burger-menu__close-btn"></button>
      </div>
      <nav class="burger-menu__links">
        <a href="#" class="burger-menu__link">Регионы</a>
        <a href="#" class="burger-menu__link">Новости</a>
        <a href="#" class="burger-menu__link">Техническая поддержка</a>
      </nav>
      <div class="burger-menu__mobile-area">
        <a href="#" class="button button_theme_green-invert button_border_rounded">Вход для педагогов</a>
        <a href="#" class="button button_theme_white-invert button_border_rounded">Служебный раздел</a>
      </div>
    </div>
  </header>

  <main class="content content_pt_s">
    <section class="news-detail-page page__section page__section_width_content">
      <ul class="breadcrumbs page__breadcrumbs">
        <li class="breadcrumbs__item">
          <a href="#" class="breadcrumbs__link breadcrumbs__link--icon">новости</a>
        </li> 
      </ul>
      <article class="news-detail">
        <h1 class="section-title">На чтениях-2021 пройдет обсуждение проектов смешанного обучения и управлению удаленной работой</h1>
        <p class="news-detail__date">20.10.2021</p>
        <ul class="tags tags_direct_row news-detail__categories">
          <li class="tags__item">
            <a href="#" class="tags__link">Образование</a>
          </li>
          <li class="tags__item">
            <a href="#" class="tags__link">Служба</a>
          </li>
          <li class="tags__item">
            <a href="#" class="tags__link">Законодательство</a>
          </li>
          <li class="tags__item">
            <a href="#" class="tags__link">Москва</a>
          </li>
          <li class="tags__item">
            <a href="#" class="tags__link">Сахалин</a>
          </li>
        </ul>
        <div class="news-detail__grid">
          <div class="news-detail__body">
            <img src="./upload/news-article-cover.jpg" alt="Слушатели в зале" class="news-detail__cover">
            <p class="news-detail__text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit quos mollitia facere nostrum
              molestias architecto ullam dolore dignissimos. Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Similique, a.
            </p>
            <p class="news-detail__text">
              Illum nemo placeat numquam voluptates laudantium, laborum repellendus, incidunt tempore modi
              doloribus porro perferendis illo tenetur. Numquam, blanditiis! Lorem ipsum dolor sit amet
              consectetur adipisicing elit. Voluptatibus delectus odit asperiores praesentium fugiat doloribus
              aperiam itaque esse.
            </p>
            <p class="news-detail__text">
              Consequuntur molestiae minus ducimus adipisci eligendi aspernatur eum cupiditate rerum!
              Soluta deleniti est culpa beatae, incidunt excepturi quae.
            </p>
            <p class="news-detail__text">
              Cumque provident et ad pariatur ullam est in hic, tenetur reiciendis, aperiam ipsa qui
              expedita? Illum, libero nemo! Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quidem
              velit officiis voluptates magnam, ratione recusandae consectetur totam beatae autem doloribus
              dolore deleniti eveniet praesentium ab quia provident rerum odio.
            </p>
            <p class="news-detail__text">
              Ex excepturi cumque labore quam eveniet autem totam tempora necessitatibus deserunt, libero
              doloremque distinctio, quasi ea veritatis eius? Lorem ipsum dolor sit amet consectetur adipisicing
              elit. Officia cumque doloribus neque voluptates temporibus! Totam consectetur cum nostrum nihil
              quos!
            </p>
            <p class="news-detail__text">
              Maxime consectetur, ex, dolores odio excepturi praesentium sunt atque inventore tempora
              deserunt eius ipsam veniam dignissimos ipsa quisquam. Lorem ipsum dolor sit amet consectetur
              adipisicing elit. Ea exercitationem cupiditate, mollitia ab nihil est nisi doloremque unde
              perspiciatis aperiam sequi obcaecati velit iusto itaque facere in impedit fugit illum maxime
              atque nulla et omnis! Quas eos dolorum dolore cupiditate!
            </p>
            <a href="#" class="news-detail__backlink">Назад к новостям</a>
          </div>
          <div class="news-detail__sidebar">
            <div class="news-list">
              <div class="news-list__cards news-list__cards_card-width_s">
                <article class="news-card news-card--a">
                  <img src="./upload/news-preview__cover1.jpg" alt="Чтения-2021" class="news-card__cover">
                  <p class="news-card__date">20.10.2021</p>
                  <h3 class="card-title news-card__card-title">На чтениях-2021 пройдет обсуждение проектов смешанного обучения и управлению удаленной работой</h3>
                  <p class="news-card__text">
                    На Пастуховских чтениях-2021 пройдет обсуждение проектов рекомендаций по организации смешанного обучения и управлению удаленной работой – по формированию системы мотивации научной деятельности
                  </p>
                </article>
                <article class="news-card news-card--a">
                  <img src="./upload/news-preview__cover2.jpg" alt="Чтения-2021" class="news-card__cover">
                  <p class="news-card__date">20.10.2021</p>
                  <h3 class="card-title news-card__card-title">Академия Пастухова получила статус Федеральной инновационной площадки</h3>
                  <p class="news-card__text">
                    Член Союза ДПО ФГБОУ «Государственная академия промышленного менеджмента имени Н.П. Пастухова» приказом Министерства науки и высшего образования Российской Федерации от 25 декабря 2020 г. № 1580 признана федеральной инновационной
                  </p>
                </article>
                <article class="news-card news-card--a">
                  <img src="./upload/news-preview__cover3.jpg" alt="Чтения-2021" class="news-card__cover">
                  <p class="news-card__date">20.10.2021</p>
                  <h3 class="card-title news-card__card-title">Об изменениях правил заполнения шаблонов ФИС ФРДО</h3>
                  <p class="news-card__text">
                    Рособрнадзор России опубликовал важную информацию: Уважаемые пользователи федеральной информационной системы «Федеральный реестр сведений о документах об образовании и (или) о квалификации, документах
                  </p>
                </article>
              </div>
            </div>
          </div>
        </div>
      </article>
    </section>
  </main>

<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
  <script src="js/menuMain.min.js"></script>
</body>
</html>
