<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        body {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .conteiner {
            /* width: 500px; */
            /* display: flex;
            align-items: center;
            justify-content: center; */
            padding: 50px;
        }
        a {
            font-size: 24px;
            display: flex;
            margin-bottom: 20px;
        }
    </style>
    <div class="conteiner">
        <a href="./add_news.html">add_news.html</a>
        <a href="./admin_news_edit.html">admin_news_edit.html</a>
        <a href="./forms_approval.html">forms_approval.html</a>
        <a href="./regional_form_org.html">regional_form_org.html</a>
        <a href="./regional_form_org_popup.html">regional_form_org_popup.html</a>
        <a href="./news_card.html">news_card.html</a>
    </div>
</body>
</html>