<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>профиль</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header__site-link">Перейти на сайт</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/avatar_m.jpg" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Иванова С.Г.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
      <section class="profile page__section">
        <!-- <ul class="breadcrumbs page__breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Организации</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Регионы</a>
          </li>
          <li class="breadcrumbs__item">
            <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
          </li>
        </ul> -->
      
        <h1 class="section-title mb-50">профиль</h1>
        <div class="profile__wrapper wrapper-max_width-m">
            <div class="profile__row profile__top--w830 profile__top top-profile">
                <div class="top-profile__job">Методист</div>
                <div class="top-profile__images">
                    <img src="upload/avatar_m.jpg" alt="user-ava">
                </div>
                <div class="top-profile__btn">
                    <button type="submit" class="button button_theme_green--empty button_border_small form__submit">Загрузить фото</button>
                </div>
                <div class="profile__quantity quantity-box">
					<div class="quantity-box__item">
						<div class="quantity-box__title">ЗАКРЕПЛЕННЫХ УЧИТЕЛЕЙ</div>
						<div class="quantity-box__number">222</div>
					</div>
					<div class="quantity-box__item">
						<div class="quantity-box__title">ПОСЕЩЕННЫХ УРОКОВ</div>
						<div class="quantity-box__number">567</div>
					</div>
					<div class="quantity-box__item">
						<div class="quantity-box__title">проведено консультаций</div>
						<div class="quantity-box__number">567</div>
					</div>
                </div>
            </div>
            <div class="profile__row profile__bottom bottom-profile">
                <div class="tabs profile__tabs _tabs">
                    <nav class="tabs__navigation">
                        <button type="submit" class="tabs__title _tabs-item _active">Личные данные</button>
                        <button type="submit" class="tabs__title _tabs-item">Профессиональные данные</button>
                        <button type="submit" class="tabs__title _tabs-item">Сменить пароль</button>
                    </nav>
                    <div class="tabs__content">
                        <div class="tabs__body _tabs-block _active">
                          <form class="tabs__body-form form profile_tabs-form profile_tabs-form--one">
                            <div class="profile_tabs-form-wrap">
								<div class="profile_tabs-form__row">
									<div class="profile_tabs-form__line form__item">
									<label class="form__label">Email</label>
									<span>goytrehh@gmail.com</span>
									</div>
									<div class="profile_tabs-form__line form__item">
									<label for="profileTabsSecondName" class="form__label">Фамилия</label>
									<input
									type="text"
									class="form__input-edit form__input-edit_width_full"
									id="profileTabsSecondName"
									placeholder="Ваша фамилия"
									>
									</div>
									<div class="profile_tabs-form__line form__item">
									<label for="profileTabsFirstName" class="form__label">Имя</label>
									<input
									type="text"
									class="form__input-edit form__input-edit_width_full"
									id="profileTabsFirstName"
									placeholder="Ваше имя"
									>
									</div>
									<div class="profile_tabs-form__line form__item">
									<label for="profileTabsPatronymic" class="form__label">Отчество</label>
									<input
									type="text"
									class="form__input-edit form__input-edit_width_full"
									id="profileTabsPatronymic"
									placeholder="Ваше отчество"
									>
									</div>
								</div>
								
								<div class="profile_tabs-form__row">
									<div class="profile_tabs-form__line form__item">
										<label class="form__label">Регион, Город</label>
										<span>Республика Саха (Якутия), г. Мирный</span>
									</div>
									<div class="profile_tabs-form__line form__item">
										<label for="profileTabsDate" class="form__label">Дата рождения</label>
										<input
										type="date"
										class="form__input-edit form__input-edit_width_full"
										id="profileTabsDate"
										
									>
									</div>
									<div class="profile_tabs-form__line form__item">
										<label for="profileTabsMobile" class="form__label">Мобильный телефон</label>
										<input
										type="tel"
										class="form__input-edit form__input-edit_width_full"
										id="profileTabsMobile"
										placeholder="Телефон:"
									>
									</div>
									<div class="profile_tabs-form__line form__item">
										<label for="profileTabsPhohe" class="form__label">Мобильный телефон</label>
										<input
										type="tel"
										class="form__input-edit form__input-edit_width_full"
										id="profileTabsPhohe"
										placeholder="Телефон:"
									>
									</div>
								</div>
                            </div>
							<div class="profile_tabs-form__adinfo">
								<label for="profileTabsInfo" class="form__label">Дополнительная информация</label>
								<textarea class="profile_tabs-form__adinfo-box adinfo" id="profileTabsInfo"></textarea>
							</div>
                            <div class="profile_tabs-form__btn">
                              <button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить изменения</button>
                            </div>
                          </form> 
                        </div>
                        <div class="tabs__body tabs__body_full _tabs-block">
                          	<form class="tabs__body-form form profile_tabs-form profile_tabs-form--width-full">
								<div class="profile_tabs-form-inner">
									<div class="profile_tabs-form-name">Повышение квалификации/<br>профессиональная подготовка</div>
									<div class="profile_tabs-form-wrap profile_tabs-form-wrap_width720">
										<div class="profile_tabs-form__box">								  
											<div class="profile_tabs-form__line form__item">									
											<label for="profileTabsPasswordOld" class="form__label">Название курса</label>
											<input
											type="password"
											class="form__input-edit form__input-edit_width_full"
											id="profileTabsPasswordOld"
											placeholder=""
											>
											</div>
											<div class="profile_tabs-form__line form__item">
											<label for="profileTabsPasswordNew" class="form__label">Место проведения</label>
											<input
											type="password"
											class="form__input-edit form__input-edit_width_full"
											id="profileTabsPasswordNew"
											placeholder=""
											>
											</div>                                
										</div>
										<div class="profile_tabs-form__btn-wr">                              
											<div class="profile_tabs-form__line form__item">
												<label for="profileTabsDate" class="form__label">Дата</label>
												<input
												type="date"
												class="form__input-edit form__input-edit_width_full"
												id="profileTabsDate"
												
											>
											</div>
											<button type="submit" class="button button_theme_green--empty button_border_small form__submit">Добавить</button>								
										</div>
										<div class="profile_tabs-form__aggregate">
											<div class="profile_tabs-form__aggregate-row">
												<div class="profile_tabs-form__aggregate-date">20.02.2022</div>
												<div class="profile_tabs-form__aggregate-text">
													<p class="aggregate-link">Деятельность педагогического работника в социальной сети интернет</p>
													<p class="aggregate-link aggregate-link--grey">(Корпоративный университет)</p>
												</div>
												<div class="profile_tabs-form__aggregate-btn form__item-btn">
													<div class="form__item-close"></div>
													<div class="form__item-pen"></div>
												</div>
											</div>
											<div class="profile_tabs-form__aggregate-row">
												<div class="profile_tabs-form__aggregate-date">20.02.2022</div>
												<div class="profile_tabs-form__aggregate-text">
													<p class="aggregate-link">Деятельность педагогического работника в социальной сети интернет</p>
													<p class="aggregate-link aggregate-link--grey">(Корпоративный университет)</p>
												</div>
												<div class="profile_tabs-form__aggregate-btn form__item-btn">
													<div class="form__item-close"></div>
													<div class="form__item-pen"></div>
												</div>
											</div>
											<div class="profile_tabs-form__aggregate-row">
												<div class="profile_tabs-form__aggregate-date">20.02.2022</div>
												<div class="profile_tabs-form__aggregate-text">
													<p class="aggregate-link">Деятельность педагогического работника в социальной сети интернет</p>
													<p class="aggregate-link aggregate-link--grey">(Корпоративный университет)</p>
												</div>
												<div class="profile_tabs-form__aggregate-btn form__item-btn">
													<div class="form__item-close"></div>
													<div class="form__item-pen"></div>
												</div>
											</div>
										</div>
									</div>									
								</div>
								<div class="profile_tabs-form-inner-line"></div>
								<div class="profile_tabs-form-inner">
									<div class="profile_tabs-form-name">Образование</div>
									<div class="profile_tabs-form-wrap profile_tabs-form-wrap_width720 profile_tabs-form-wrap_row">
										<div class="profile_tabs-form__box profile_tabs-form__box_width">
											<div class="profile_tabs-form__line form__item">
												<label for="reportsEducational" class="form__label">Учебное заведение</label>
												<select name="reportsEducational" class="two">
													<option value="1" selected>Высший колледж связи г. Москва</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>								  
											<div class="profile_tabs-form__line form__item">
												<label for="reportsCat" class="form__label">Квалификациооная категория</label>
												<select name="reportsCat" class="two">
													<option value="1" selected>молодой специалист</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>			  											
										</div>
										<div class="profile_tabs-form__box profile_tabs-form__box_width">								  
											<div class="profile_tabs-form__line form__item">
												<label for="reportsRegion" class="form__label">Специальность</label>
												<select name="reportsRegion" class="two">
													<option value="1" selected>учитель начальных классов</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>
											<div class="profile_tabs-form__line form__item">
												<label for="profileTabsExperience" class="form__label">Стаж общий/педагогический</label>
												<input
												type="text"
												class="form__input-edit form__input-edit_width_full"
												id="profileTabsExperience"
												placeholder=""
												>
											</div>                                
										</div>										
									</div>									
								</div>
								<div class="profile_tabs-form-inner-line"></div>
								<div class="profile_tabs-form-inner">
									<div class="profile_tabs-form-name">Место работы</div>
									<div class="profile_tabs-form-wrap profile_tabs-form-wrap_width720 profile_tabs-form-wrap_row">
										<div class="profile_tabs-form__box profile_tabs-form__box_width">
											<div class="profile_tabs-form__line form__item">
												<label for="reportsNameOrg" class="form__label">Наименование организации</label>
												<select name="reportsNameOrg" class="two">
													<option value="1" selected>Средняя шола №11</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>								  
											<div class="profile_tabs-form__line form__item">
												<label for="reportsCat" class="form__label">Должность</label>
												<select name="reportsCat" class="two">
													<option value="1" selected>учитель</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>
											<div class="profile_tabs-form__line form__item">
												<label for="profileTabsPosition" class="form__label">Нагрузка</label>
												<input
												type="text"
												class="form__input-edit form__input-edit_width_full"
												id="profileTabsPosition"
												placeholder=""
												>
											</div> 			  											
										</div>
										<div class="profile_tabs-form__box profile_tabs-form__box_width">
											<div class="profile_tabs-form__line form__item">
												<label for="profileTabsAdress" class="form__label">Адрес организации</label>
												<input
												type="text"
												class="form__input-edit form__input-edit_width_full"
												id="profileTabsAdress"
												placeholder=""
												>
											</div> 								  
											<div class="profile_tabs-form__line form__item">
												<label for="reportsRegion" class="form__label">Предмет</label>
												<select name="reportsRegion" class="two">
													<option value="1" selected>русский язык, русская литература</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>
											                               
										</div>										
									</div>									
								</div>
								<div class="profile_tabs-form-inner-line"></div>
								<div class="profile_tabs-form-inner">
									<div class="profile_tabs-form-name">Дополнительная информация</div>
									<div class="profile_tabs-form-wrap profile_tabs-form-wrap_width720 profile_tabs-form-wrap_row">
										<div class="profile_tabs-form__box profile_tabs-form__box_width">
											<div class="profile_tabs-form__line form__item">
												<label for="reportsNameOrg" class="form__label">Диагностика ФИОКО</label>
												<select name="reportsNameOrg" class="two">
													<option value="1" selected>да</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>								  
											<div class="profile_tabs-form__line form__item">
												<label for="reportsCat" class="form__label">Штат ЦНППМ</label>
												<select name="reportsCat" class="two">
													<option value="1" selected>совместитель</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>
											<div class="profile_tabs-form__line form__item">
												<label for="reportsCat" class="form__label">Курируемый предмет (ы)</label>
												<select name="reportsCat" class="two">
													<option value="1" selected>русский язык, русская литература</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>													  											
										</div>
										<div class="profile_tabs-form__box profile_tabs-form__box_width">											 								  
											<div class="profile_tabs-form__line form__item">
												<label for="reportsRegion" class="form__label">Уровень</label>
												<select name="reportsRegion" class="two">
													<option value="1" selected>3 уровень</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>
											<div class="profile_tabs-form__line form__item">
												<label for="reportsRegion" class="form__label">Дополнительные сведения</label>
												<select name="reportsRegion" class="two">
													<option value="1" selected>тьютор</option>
													<option value="2">Пункт №2</option>
													<option value="3">Пункт №3</option>
													<option value="4">Пункт №4</option>
												</select>
											</div>											                               
										</div>										
									</div>									
								</div>								
								<div class="profile_tabs-form__btn">
									<button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить изменения</button>
								  </div>
							</form>
                        </div>
						<div class="tabs__body _tabs-block">
							<form class="tabs__body-form form profile_tabs-form profile_tabs-form--two">
							  <div class="profile_tabs-form-wrap">
								<div class="profile_tabs-form__row">
								  <div class="profile_tabs-form__line form__item">
									<label for="profileTabsPasswordOld" class="form__label">Старый пароль</label>
									<input
									type="password"
									class="form__input-edit form__input-edit_width_full"
									id="profileTabsPasswordOld"
									placeholder="Ваш старый пароль"
								  >
								  </div>
								  <div class="profile_tabs-form__line form__item">
									<label for="profileTabsPasswordNew" class="form__label">Новый пароль</label>
									<input
									type="password"
									class="form__input-edit form__input-edit_width_full"
									id="profileTabsPasswordNew"
									placeholder="Ваш новый пароль"
								  >
								  </div>
								  <div class="profile_tabs-form__line form__item">
									<label for="profileTabsPasswordNewRepeat" class="form__label">Повторить новый пароль</label>
									<input
									type="password"
									class="form__input-edit form__input-edit_width_full"
									id="profileTabsPasswordNewRepeat"
									placeholder="Повторить ваш новый пароль"
								  >
								  </div>
							  </div>
							  <div class="profile_tabs-form__btn">
								<button type="submit" class="button button_theme_green button_border_small form__submit">Сохранить изменения</button>
  
							  </div>
							</form>
						  </div>
                    </div>
                </div>
            </div>
        </form>
      </section>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
