<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Добавить новость</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header-link header__site-link">Перейти на сайт</a>
        <a href="" class="header-link header__log-link">Техническая поддержка</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/user-ava.png" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Рудковский А. М.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления">
            <span class="notification-count">2</span>
          </a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
        <section class="reports page__section">
            <!-- <ul class="breadcrumbs page__breadcrumbs">
              <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Организации</a>
              </li>
              <li class="breadcrumbs__item">
                <a href="#" class="breadcrumbs__link">Регионы</a>
              </li>
              <li class="breadcrumbs__item">
                <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
              </li>
            </ul> -->
          
            <h1 class="section-title mb-50">отчеты</h1>
            <div class="reports__wrapper wrapper-max_width-m">
                <div class="reports__row reports__bottom bottom-reports">
                    <div class="tabs reports__tabs _tabs">
                        <nav class="tabs__navigation">
                            <button type="submit" class="tabs__title _tabs-item _active">Отчеты</button>
                            <button type="submit" class="tabs__title _tabs-item">Шаблоны</button>
                            <button type="submit" class="tabs__title _tabs-item">История запросов</button>
                        </nav>
                        <div class="tabs__content">
                            <div class="tabs__body _tabs-block _active">
                                <form class="tabs__body-form form reports_tabs-form reports_tabs-form--one">
                                    <div class="reports_tabs-form-wrap reports-wrap">
                                        <div class="reports-wrap__top">
                                            <div class="reports_tabs-form__row row-name_report">
                                                <div class="reports_tabs-form__line form__item">
                                                  <label for="reportsTabsSecondName" class="form__label">Название отчета</label>
                                                  <input
                                                  type="text"
                                                  class="form__input-edit form__input-edit_width_full"
                                                  id="reportsTabsSecondName"
                                                  placeholder="№3456  Сведения о организации дополнительного профессионального образования"
                                                >
                                                </div>
                                              </div>
                                              <div class="reports_tabs-form__row row-bottom">
                                                <div class="reports_tabs-form__line form__item">
                                                    <label for="reportsRegion" class="form__label">Регион</label>
                                                    <select name="reportsRegion" class="two">
                                                        <option value="1" selected>Все регионы</option>
                                                        <option value="2">Пункт №2</option>
                                                        <option value="3">Пункт №3</option>
                                                        <option value="4">Пункт №4</option>
                                                    </select>
                                                </div>
                                                <div class="reports_tabs-form__line form__item">
                                                    <div class="reports__dates">
                                                        <label for="reportsDateFrom" class="form__label">Дата</label>
                                                        <div class="reports__dates-wrap">
                                                            <div class="reports__dates-inputs">
                                                                <input type="date" name="reportsDateFrom" class="form__input-edit form__input-edit_el_date-from" id="dateFrom">
                                                                <div class="reports__dates-inputs__line"></div>
                                                                <input type="date" name="reportsDateTo" class="form__input-edit form__input-edit_el_date-to" id="dateTo">
                                                            </div>
                                                            <a href="#" class="filter__reset-link reports-search__reset-link">Сбросить</a>
                                                        </div>
                                                     
                                                    </div>
                                                </div>
                                              </div>
                                        </div>
                                      
                                      <div class="reports__row row-table">
                                        <div class="table_header">
                                          <ul>
                                            <li>
                                              <a href="#" class="table_header-icon_star">Добавить в шаблон</a>
                                            </li>
                                            <li>
                                              <a href="#" class="table_header-icon_download">Скачать в формате csv</a>
                                            </li>
                                            <li>
                                              <a href="#" class="table_header-icon_download">Скачать в формате xls</a>
                                            </li>
                                          </ul>
                                        </div>
                                        <div class="row-table__top">
                                            <div class="row-table__found table-found">
                                                Найдено 23
                                            </div>
                                        </div>
                                        <table class="table reports__table users__table">
                                            <tbody><tr class="table__row table__row_head">
                                              <th class="table__header">Дата</th>
                                              <th class="table__header">Автор</th>
                                              <th class="table__header">Регион</th>
                                              <th class="table__header">Полное наименование организации ДПО (по Уставу)</th>
                                              <th class="table__header">ФИО руководителя 
                                                организации ДПО</th>
                                              <th class="table__header">Юридический адрес</th>
                                              <th class="table__header">Дата регистрации</th>
                                              <th class="table__header">Дата последнего входа</th>
                                              <th class="table__header"></th>
                                            </tr>
                                            <tr class="table__row">
                                              <td class="table__cell">11.10.2021</td>
                                              <td class="table__cell">Данилов Лука Гордеевич</td>
                                              <td class="table__cell">Республика Адыгея</td>
                                              <td class="table__cell">Прикамский институт безопасности</td>
                                              <td class="table__cell">Москва, Тимирязевская улица, 36</td>
                                              <td class="table__cell">Мирнинский политехнический институт</td>
                                              <td class="table__cell">31.12.2020</td>
                                              <td class="table__cell">31.12.2020</td>
                                              <td class="table__cell">
                                                    <button class="table__cell-users_row-more">
                                                        <img src="images/more_dots.svg" alt="more">
                                                    </button>
                                              </td>
                                            </tr>
                                            <tr class="table__row">
                                              <td class="table__cell">11.10.2021</td>
                                              <td class="table__cell">Данилов Лука Гордеевич</td>
                                              <td class="table__cell">Республика Адыгея</td>
                                              <td class="table__cell">Прикамский институт безопасности</td>
                                              <td class="table__cell">Москва, Тимирязевская улица, 36</td>
                                              <td class="table__cell">Мирнинский политехнический институт</td>
                                              <td class="table__cell">31.12.2020</td>
                                              <td class="table__cell">31.12.2020</td>
                                              <td class="table__cell">
                                                    <button class="table__cell-users_row-more">
                                                        <img src="images/more_dots.svg" alt="more">
                                                    </button>
                                              </td>
                                            </tr>
                                            <tr class="table__row">
                                              <td class="table__cell">11.10.2021</td>
                                              <td class="table__cell">Данилов Лука Гордеевич</td>
                                              <td class="table__cell">Республика Адыгея</td>
                                              <td class="table__cell">Прикамский институт безопасности</td>
                                              <td class="table__cell">Москва, Тимирязевская улица, 36</td>
                                              <td class="table__cell">Мирнинский политехнический институт</td>
                                              <td class="table__cell">31.12.2020</td>
                                              <td class="table__cell">31.12.2020</td>
                                              <td class="table__cell">
                                                    <button class="table__cell-users_row-more">
                                                        <img src="images/more_dots.svg" alt="more">
                                                    </button>
                                              </td>
                                            </tr>
                                            <tr class="table__row">
                                              <td class="table__cell">11.10.2021</td>
                                              <td class="table__cell">Данилов Лука Гордеевич</td>
                                              <td class="table__cell">Республика Адыгея</td>
                                              <td class="table__cell">Прикамский институт безопасности</td>
                                              <td class="table__cell">Москва, Тимирязевская улица, 36</td>
                                              <td class="table__cell">Мирнинский политехнический институт</td>
                                              <td class="table__cell">31.12.2020</td>
                                              <td class="table__cell">31.12.2020</td>
                                              <td class="table__cell">
                                                    <button class="table__cell-users_row-more">
                                                        <img src="images/more_dots.svg" alt="more">
                                                    </button>
                                              </td>
                                            </tr>
                                          </tbody></table>
                                    </div>
                                    </div>
                                </form> 
                            </div>
                            <div class="tabs__body _tabs-block ">
                              <form class="tabs__body-form form reports_tabs-form reports_tabs-form--two">
                                <div class="reports_tabs-form-wrap reports-wrap">
                                  <div class="repots__row row-spollers">
                                    <div data-spollers class="spollers">
                                      <div class="spollers__item">
                                        <button type="button" data-spoller class="spollers__title">
                                      
                                           <span> №3456 Сведения о организацях ДПО</span>
                                         </button>
                                        <div class="spollers__body">
                                            <div class="spollers__body-wrap">
                                                <div class="spollers__body-line">
                                                    <div class="spollers__body-caption form__label-two">
                                                      ФОРМА
                                                    </div>
                                                    <div class="spollers__body-info">
                                                     <input autocomplete="off" type="text" name="form[]"placeholder="№3456  Сведения о организации дополнительного профессионального..." class="spollers__body-input form-input__border">
                                                    </div>
                                                    <div class="spollers__body-caption_small">
                                                      Форма для формирования отчета
                                                    </div>
                                                </div>
                                                <div class="spollers__body-line">
                                                     <div class="spollers__body-caption form__label-two">
                                                      Регион
                                                     </div>
                                                     <div class="spollers__body-info">
                                                         <select name="form[]" class="select_three">
                                                           <option value="1" selected>Все</option>
                                                           <option value="2">Пункт №2</option>
                                                           <option value="3">Пункт №3</option>
                                                           <option value="4">Пункт №4</option>
                                                         </select>
     
                                                     </div>
                                                     <div class="spollers__body-caption_small">
                                                      Регион для формирования отчета
                                                    </div>
                                                 </div>
                                                 <div class="spollers__body-line">
                                                  <div class="spollers__body-caption form__label-two">
                                                    период
                                                  </div>
                                                  <div class="spollers__body-info body-sel">
                                                      <div class="spollers__body-date">
                                                        <div class="spollers__body-inp">
                                                          <div class="spollers__body-sel">
                                                            <select name="form[]" class="select_three">
                                                              <option value="1" selected>21.11.2020</option>
                                                              <option value="2">Пункт №2</option>
                                                              <option value="3">Пункт №3</option>
                                                              <option value="4">Пункт №4</option>
                                                            </select>
                                                          </div>
                                                        
                                                          <div class="spollers__body-caption_small">
                                                            Дата с 
                                                          </div>
                                                        </div>
                                                        <div class="spollers__body-inp">
                                                          <div class="spollers__body-sel">
                                                            <select name="form[]" class="select_three">
                                                              <option value="1" selected>21.11.2020</option>
                                                              <option value="2">Пункт №2</option>
                                                              <option value="3">Пункт №3</option>
                                                              <option value="4">Пункт №4</option>
                                                            </select>
                                                          </div>
                                                          <div class="spollers__body-caption_small">
                                                            Дата по
                                                          </div>
                                                        </div>
                                                      </div>
  
                                                  </div>
                                                  <div class="spollers__body-btn">
                                                    <button type="submit" class="button button_theme_green button_border_small form__submit">Создать отчет</button>
                                                  </div>
                                              </div>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="spollers__item">
                                            <button type="button" data-spoller class="spollers__title">
                                          
                                               <span> №3456 Сведения о организацях ДПО</span>
                                             </button>
                                            <div class="spollers__body">
                                                <div class="spollers__body-wrap">
                                                    <div class="spollers__body-line">
                                                        <div class="spollers__body-caption form__label-two">
                                                          ФОРМА
                                                        </div>
                                                        <div class="spollers__body-info">
                                                         <input autocomplete="off" type="text" name="form[]"placeholder="№3456  Сведения о организации дополнительного профессионального..." class="spollers__body-input form-input__border">
                                                        </div>
                                                        <div class="spollers__body-caption_small">
                                                          Форма для формирования отчета
                                                        </div>
                                                    </div>
                                                    <div class="spollers__body-line">
                                                         <div class="spollers__body-caption form__label-two">
                                                          Регион
                                                         </div>
                                                         <div class="spollers__body-info">
                                                             <select name="form[]" class="select_three">
                                                               <option value="1" selected>Все</option>
                                                               <option value="2">Пункт №2</option>
                                                               <option value="3">Пункт №3</option>
                                                               <option value="4">Пункт №4</option>
                                                             </select>
         
                                                         </div>
                                                         <div class="spollers__body-caption_small">
                                                          Регион для формирования отчета
                                                        </div>
                                                     </div>
                                                     <div class="spollers__body-line">
                                                      <div class="spollers__body-caption form__label-two">
                                                        период
                                                      </div>
                                                      <div class="spollers__body-info">
                                                          <div class="spollers__body-date">
                                                            <div class="spollers__body-inp">
                                                              <div class="spollers__body-sel">
                                                                <select name="form[]" class="select_three">
                                                                  <option value="1" selected>21.11.2020</option>
                                                                  <option value="2">Пункт №2</option>
                                                                  <option value="3">Пункт №3</option>
                                                                  <option value="4">Пункт №4</option>
                                                                </select>
                                                              </div>
                                                            
                                                              <div class="spollers__body-caption_small">
                                                                Дата с 
                                                              </div>
                                                            </div>
                                                            <div class="spollers__body-inp">
                                                              <div class="spollers__body-sel">
                                                                <select name="form[]" class="select_three">
                                                                  <option value="1" selected>21.11.2020</option>
                                                                  <option value="2">Пункт №2</option>
                                                                  <option value="3">Пункт №3</option>
                                                                  <option value="4">Пункт №4</option>
                                                                </select>
                                                              </div>
                                                              <div class="spollers__body-caption_small">
                                                                Дата по
                                                              </div>
                                                            </div>
                                                          </div>
      
                                                      </div>
                                                   
                                                  </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                </div>
                            </form> 
                            </div>
                            <div class="tabs__body _tabs-block">
                              <form class="tabs__body-form form reports_tabs-form reports_tabs-form--three">
                                <div class="reports_tabs-form-wrap reports-wrap">
                                    <div class="reports-wrap__top">
                                        <div class="reports_tabs-form__row row-name_report">
                                          <div class="reports_tabs-form__row row-bottom">
                                            <div class="reports_tabs-form__line form__item">
                                                <div class="reports__dates">
                                                    <label for="reportsDateFrom" class="form__label">Дата</label>
                                                    <div class="reports__dates-wrap">
                                                        <div class="reports__dates-inputs">
                                                            <input type="date" name="reportsDateFrom" class="form__input-edit form__input-edit_el_date-from" id="dateFrom">
                                                            <div class="reports__dates-inputs__line"></div>
                                                            <input type="date" name="reportsDateTo" class="form__input-edit form__input-edit_el_date-to" id="dateTo">
                                                        </div>
                                                        <a href="#" class="filter__reset-link reports-search__reset-link">Сбросить</a>
                                                    </div>
                                                 
                                                </div>
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="reports__row row-table">
                                      <div class="row-table__top">
                                          <div class="row-table__found table-found">
                                              Найдено 23
                                          </div>
                                      </div>
                                      <table class="table reports__table users__table">
                                          <tbody><tr class="table__row table__row_head">
                                            <th class="table__header">Дата</th>
                                            <th class="table__header">Отчет</th>
                                            <th class="table__header">Регион</th>
                                            <th class="table__header">Период</th>
                                            <th class="table__header"></th>
                                          </tr>
                                          <tr class="table__row">
                                            <td class="table__cell">20.10.2021 <br>
                                              10:32</td>
                                            <td class="table__cell">№3456  Сведения о организации дополнительного профессионального образования</td>
                                            <td class="table__cell">Все</td>
                                            <td class="table__cell">20.10.2021-30.10.2021</td>
                                            <td class="table__cell">
                                              <button class="table__cell-users_row-more">
                                                  <img src="images/more_dots.svg" alt="more">
                                              </button>
                                        </td>
                                          </tr>
                                          <tr class="table__row">
                                            <td class="table__cell">20.10.2021 <br>
                                              10:32</td>
                                            <td class="table__cell">№3456  Сведения о организации дополнительного профессионального образования</td>
                                            <td class="table__cell">Все</td>
                                            <td class="table__cell">20.10.2021-30.10.2021</td>
                                            <td class="table__cell">
                                              <button class="table__cell-users_row-more">
                                                  <img src="images/more_dots.svg" alt="more">
                                              </button>
                                        </td>
                                          </tr>
                                          <tr class="table__row">
                                            <td class="table__cell">20.10.2021 <br>
                                              10:32</td>
                                            <td class="table__cell">№3456  Сведения о организации дополнительного профессионального образования</td>
                                            <td class="table__cell">Все</td>
                                            <td class="table__cell">20.10.2021-30.10.2021</td>
                                            <td class="table__cell">
                                              <button class="table__cell-users_row-more">
                                                  <img src="images/more_dots.svg" alt="more">
                                              </button>
                                        </td>
                                          </tr>
                                          <tr class="table__row">
                                            <td class="table__cell">20.10.2021 <br>
                                              10:32</td>
                                            <td class="table__cell">№3456  Сведения о организации дополнительного профессионального образования</td>
                                            <td class="table__cell">Все</td>
                                            <td class="table__cell">20.10.2021-30.10.2021</td>
                                            <td class="table__cell">
                                              <button class="table__cell-users_row-more">
                                                  <img src="images/more_dots.svg" alt="more">
                                              </button>
                                        </td>
                                          </tr>
                                        </tbody></table>
                                  </div>
                                  
                                 
                                </div>
                              </form> 
                            </div>
                        </div>
                    </div>
                </div>
                
            </form>
          </section>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>
</body>
</html>
