<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="css/style.min.css">
  <title>Добавить новость</title>
</head>
<body class="page">
  <header class="header">
    <div class="header__inner header__inner_page_cabinet">
      <div class="header__column header__column_direct_row">
        <a href="/" class="logo logo_page_cabinet"></a>
        <a href="" class="header__site-link">Перейти на сайт</a>
      </div>
      <div class="header__column header__column_direct_row-end">
        <a href="" class="header__user-link">
          <img src="upload/user-ava.png" class="header__avatar" alt="Аватар пользователя">
          <span class="header__username">Рудковский А. М.</span>
        </a>
        <div class="header__controls">
          <a href="#" class="header__control header__control_type_notification" title="Уведомления"></a>
          <a href="#" class="header__control header__control_type_logout" title="Выйти"></a>
        </div>
      </div>
    </div>
  </header>
  <div class="page__content-wrapper">
    <aside class="sidebar sidebar_opened">
      <button class="sidebar__toggle"></button>
      <nav class="sidebar__menu">
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_users"></i>
          <span class="sidebar__menu-item-text">Пользователи</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_forms"></i>
          <span class="sidebar__menu-item-text">Формы</span>
        </a>
        <a href="#" class="sidebar__menu-item sidebar__menu-item_active">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_organizations"></i>
          <span class="sidebar__menu-item-text">Организации</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_reports"></i>
          <span class="sidebar__menu-item-text">Отчеты</span>
        </a>
        <a href="#" class="sidebar__menu-item">
          <i class="sidebar__menu-item-icon sidebar__menu-item_icon_map"></i>
          <span class="sidebar__menu-item-text">Карта</span>
        </a>
      </nav>
    </aside>
    <main class="content content_cabinet">
      <section class="users page__section">
        <!-- <ul class="breadcrumbs page__breadcrumbs">
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Организации</a>
          </li>
          <li class="breadcrumbs__item">
            <a href="#" class="breadcrumbs__link">Регионы</a>
          </li>
          <li class="breadcrumbs__item">
            <span href="#" class="breadcrumbs__link breadcrumbs__link_current">Республика Адыгея (Адыгея)</span>
          </li>
        </ul> -->
        <div class="users__top">
            <h1 class="section-title">Пользователи</h1>
            <a href="#" class="users__add">+ добавить пользователя</a>
        </div>
       
        <div class="users__wrapper wrapper-max_width-m">
            <div class="users__row row-search">
                <input type="text" name="search" class="form__input-edit form__input-edit_type_search" id="search">
                <div class="users__dates">
                    <label for="UsersDateFrom" class="form__label">Период входа</label>
                    <div class="users__dates-wrap">
                        <div class="users__dates-inputs">
                            <input type="date" name="UsersDateFrom" class="form__input-edit form__input-edit_el_date-from" id="dateFrom">
                            <div class="users__dates-inputs__line"></div>
                            <input type="date" name="UsersDateTo" class="form__input-edit form__input-edit_el_date-to" id="dateTo">
                        </div>
                        <a href="#" class="filter__reset-link users-search__reset-link">Сбросить</a>
                    </div>
                 
                </div>
            </div>
            <div class="users__row row-table">
                <div class="row-table__top">
                    <div class="row-table__found">
                        Найдено 23
                    </div>
                    <div class="row-table__selects table-selects">
                        <div class="table-selects__col">
                            <select name="form[]" class="form_role">
                                <option value="1" selected>Все роли</option>
                                <option value="2">Пункт №2</option>
                                <option value="3">Пункт №3</option>
                                <option value="4">Пункт №4</option>
                            </select>
                        </div>
                        <div class="table-selects__col">
                            <select name="form[]" class="form_role">
                                <option value="1" selected>Все регионы</option>
                                <option value="2">Пункт №2</option>
                                <option value="3">Пункт №3</option>
                                <option value="4">Пункт №4</option>
                            </select>
                        </div>
                        <div class="table-selects__col">
                            <select name="form[]" class="form_role">
                                <option value="1" selected>Все города</option>
                                <option value="2">Пункт №2</option>
                                <option value="3">Пункт №3</option>
                                <option value="4">Пункт №4</option>
                            </select>
                        </div>
                    </div>
                </div>
                <table class="table users__table">
                    <tbody><tr class="table__row table__row_head">
                      <th class="table__header">ФИО</th>
                      <th class="table__header">E-mail</th>
                      <th class="table__header">Роль</th>
                      <th class="table__header">Регион</th>
                      <th class="table__header">Населенный пункт</th>
                      <th class="table__header">Место работы</th>
                      <th class="table__header">Дата регистрации</th>
                      <th class="table__header">Дата последнего входа</th>
                      <th class="table__header"></th>
                    </tr>
                    <tr class="table__row">
                      <td class="table__cell">Ситников Касьян Витальевич</td>
                      <td class="table__cell">sitnicov@mail.ru</td>
                      <td class="table__cell">Фед</td>
                      <td class="table__cell">Республика Адыгея</td>
                      <td class="table__cell">Майкоп</td>
                      <td class="table__cell">Мирнинский политехнический институт</td>
                      <td class="table__cell">31.12.2020</td>
                      <td class="table__cell">31.12.2020</td>
                      <td class="table__cell">
                            <button class="table__cell-users_row-more">
                                <img src="images/more_dots.svg" alt="more">
                            </button>
                      </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">Ситников Касьян Витальевич</td>
                        <td class="table__cell">lukadanilov@gmail.com</td>
                        <td class="table__cell">Фед</td>
                        <td class="table__cell">Алтайский край</td>
                        <td class="table__cell">Сетевой</td>
                        <td class="table__cell">АИС "Сетевой регион. Образование" </td>
                        <td class="table__cell">31.12.2020</td>
                        <td class="table__cell">31.12.2020</td>
                        <td class="table__cell">
                              <button class="table__cell-users_row-more">
                                  <img src="images/more_dots.svg" alt="more">
                              </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">Ситников Касьян Витальевич</td>
                        <td class="table__cell">sitnicov@mail.ru</td>
                        <td class="table__cell">Фед</td>
                        <td class="table__cell">Республика Адыгея</td>
                        <td class="table__cell">Майкоп</td>
                        <td class="table__cell">Мирнинский политехнический институт</td>
                        <td class="table__cell">31.12.2020</td>
                        <td class="table__cell">31.12.2020</td>
                        <td class="table__cell">
                              <button class="table__cell-users_row-more">
                                  <img src="images/more_dots.svg" alt="more">
                              </button>
                        </td>
                    </tr>
                    <tr class="table__row">
                        <td class="table__cell">Ситников Касьян Витальевич</td>
                        <td class="table__cell">sitnicov@mail.ru</td>
                        <td class="table__cell">Фед</td>
                        <td class="table__cell">Республика Адыгея</td>
                        <td class="table__cell">Майкоп</td>
                        <td class="table__cell">Мирнинский политехнический институт</td>
                        <td class="table__cell">31.12.2020</td>
                        <td class="table__cell">31.12.2020</td>
                        <td class="table__cell">
                              <button class="table__cell-users_row-more">
                                  <img src="images/more_dots.svg" alt="more">
                              </button>
                        </td>
                    </tr>
                  </tbody></table>
            </div>
        </form>
      </section>
    </main>
    
  </div>
  <script src="js/app.min.js"></script>
<footer class="footer footer-no--bg">
    <div class="footer__inner">
        © Все права защищены
    </div>
  </footer>

  <div class="popup-new popup_users_info _active">
	<div class="popup__content">
		<div class="popup__body">
			<div class="popup__close">
				
			</div>
            <div class="popup__body-wrap body-wrap">
                <div class="body-wrap__top">
                    <div class="body-wrap__image">
                        <img src="upload/user-ava.png" alt="user-ava">
                    </div>
                    <a href="#" class="filter__edit-link body-wrap__edit_link">Редактировать</a>
                </div>
               <div class="body-wrap__content">
                   <div class="body-wrap__line">
                       <div class="body-wrap__label">
                        ФИО
                       </div>
                       <div class="body-wrap__info">
                        Ситников Касьян Витальевич
                       </div>
                   </div>
                   <div class="body-wrap__line">
                    <div class="body-wrap__label">
                        Email
                    </div>
                    <div class="body-wrap__info">
                        sitnikov@gmail.com
                    </div>
                    </div>
                    <div class="body-wrap__line">
                        <div class="body-wrap__label">
                            Роль
                        </div>
                        <div class="body-wrap__info">
                            Руководитель
                        </div>
                    </div>
                    <div class="body-wrap__line">
                        <div class="body-wrap__label">
                            Место работы
                        </div>
                        <div class="body-wrap__info">
                            Мирнинский политехнический институт
                        </div>
                    </div>
                    <div class="body-wrap__line">
                        <div class="body-wrap__label">
                            Должность
                        </div>
                        <div class="body-wrap__info">
                            Методист
                        </div>
                    </div>
                    <div class="body-wrap__line">
                        <div class="body-wrap__label">
                            Регион
                        </div>
                        <div class="body-wrap__info">
                            Республика Саха (Якутия)
                        </div>
                    </div>
                    <div class="body-wrap__line">
                        <div class="body-wrap__label">
                            Город
                        </div>
                        <div class="body-wrap__info">
                            Мирный
                        </div>
                    </div>
               </div>
            </div>
		</div>
	</div>
</div>


</body>
</html>
